<div *ngIf="barChartData" class="card mb-4 mb-lg-0">
  <div class="card-header">
    <h4
      class="card-title mb-0"
      i18n="@@lossProvision"
      placement="top"
      i18n-ngbTooltip="@@lossProvisionText"
      ngbTooltip="An estimation of potential losses that 88mph might experience due to non-performing loans, underlying protocol risks (eg. Aave or Compound), and high market rates volatility that incur lower-than-previously-estimated payments on the assets supplied on those money markets. This provision could be used to cover a portion or the totality of the remaining interest expenses not already funded by yield token holders."
    >
      Loan Loss Provision ($USD)
      <i class="fe fe-info ml-1 align-bottom"></i>
    </h4>
  </div>
  <div class="card-header">
    <div class="form-row">
      <div class="col-6">
        <div class="form-group mb-0 mr-2">
          <select
            [(ngModel)]="SELECTED_ASSET"
            name="selected"
            (change)="focusAsset()"
            class="custom-select"
          >
            <option value="all" selected>All Assets</option>
            <option disabled>----------</option>
            <option
              *ngFor="
                let pool of displaySetting === 'all'
                  ? everythingData
                  : displaySetting === 'ethereum'
                  ? ethereumData
                  : displaySetting === 'polygon'
                  ? polygonData
                  : displaySetting === 'avalanche'
                  ? avalancheData
                  : displaySetting === 'fantom'
                  ? fantomData
                  : displaySetting === 'v2'
                  ? v2Data
                  : []
              "
              [ngValue]="pool.address"
            >
              {{ pool.label }}
              <ng-container *ngIf="displaySetting === 'all'">
                --
                {{
                  pool.networkID === constants.CHAIN_ID.MAINNET
                    ? "Ethereum"
                    : pool.networkID === constants.CHAIN_ID.POLYGON
                    ? "Polygon"
                    : pool.networkID === constants.CHAIN_ID.AVALANCHE
                    ? "Avalanche"
                    : pool.networkID === constants.CHAIN_ID.FANTOM
                    ? "Fantom"
                    : pool.networkID === constants.CHAIN_ID.V2
                    ? "V2"
                    : ""
                }}
              </ng-container>
            </option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group mb-0 mr-2">
          <select
            [(ngModel)]="PERIOD_NAME"
            name="period"
            (change)="changePeriod()"
            class="custom-select"
          >
            <option value="daily" selected>Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
</div>
