<div class="container mt-4 mb-6">
  <div class="row">
    <div class="col-12">
      <h1 class="title-bg-gradient display-2" i18n="@@88mphAnalytics">
        88mph analytics
      </h1>
      <div class="card-deck mb-4">
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase" i18n="@@totalDeposit">Total deposit</h5>
            <h2 class="mb-1 glowing">${{ totalDepositUSD.toFormat(4) }}</h2>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase" i18n="@@historicalInterestDistributed">
              Historical interest distributed
            </h5>
            <h2 class="mb-3 glowing">${{ totalInterestUSD.toFormat(4) }}</h2>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase" i18n="@@mphPrice">MPH price</h5>
            <h2 class="mb-3 glowing">${{ mphPriceUSD.toFormat(4) }}</h2>
          </div>
        </div>
      </div>
      <div class="card-deck mb-6">
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase" i18n="@@mphTotalSupply">
              MPH total supply
            </h5>
            <h2 class="mb-3 glowing">
              {{ mphTotalSupply.toFormat(4) }}
              <ng-container i18n="@@mph">MPH</ng-container>&nbsp;
            </h2>
            <h5 class="text-white">
              ${{ mphTotalSupply.times(mphPriceUSD).toFormat(4) }}
            </h5>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase" i18n="@@mphCirculatingSupply">
              MPH circulating supply
              <button
                type="button"
                class="btn btn-sm btn-link text-white"
                placement="top"
                ngbTooltip="Subtracted: Liquidity mining pool, governance treasury, developer fund, MPH staking pool, Merkle distributor, unvested rewards"
                i18n-ngbTooltip="@@mphCirculatingSupplyText"
              >
                <i class="fe fe-info"></i>
              </button>
            </h5>

            <h2 class="mb-3 glowing">
              {{ mphCirculatingSupply.toFormat(4) }}
              <ng-container i18n="@@mph">MPH</ng-container>&nbsp;
            </h2>
            <h5 class="text-white">
              ${{ mphCirculatingSupply.times(mphPriceUSD).toFormat(4) }}
            </h5>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase" i18n="@@mphStakedRewardsPool">
              MPH staked in rewards pool
            </h5>
            <h2 class="mb-3 glowing">{{ mphStakedPercentage.toFormat(4) }}%</h2>
            <h5 class="text-white">
              ${{
                mphStakedPercentage
                  .div(100)
                  .times(mphTotalSupply)
                  .times(mphPriceUSD)
                  .toFormat(4)
              }}
            </h5>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase" i18n="@@historicalStakingDistributed">
              Historical MPH staking rewards distributed
            </h5>
            <h2 class="mb-3 glowing">
              {{ mphTotalHistoricalReward.toFormat(4) }}
              <ng-container i18n="@@mph">MPH</ng-container>&nbsp;
            </h2>
            <h5 class="text-white">
              ${{ mphTotalHistoricalReward.times(mphPriceUSD).toFormat(4) }}
            </h5>
          </div>
        </div>
      </div>

      <ul
        class="nav nav-pills mb-3 d-flex justify-content-end"
        id="pills-tab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            id="pills-home-tab"
            data-toggle="pill"
            href="#pills-v3"
            role="tab"
            aria-controls="pills-v3"
            aria-selected="true"
            >88mph v3</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-contact-tab"
            data-toggle="pill"
            href="#pills-v2"
            role="tab"
            aria-controls="pills-v2"
            aria-selected="false"
            >88mph v2</a
          >
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-v3"
          role="tabpanel"
          aria-labelledby="pills-v3-tab"
        >
          <!-- Start Charts -->

          <div class="card-deck my-5 justify-content-around">
            <app-historical-fixed-interest-rates
              class="w-50"
            ></app-historical-fixed-interest-rates>
            <app-historical-asset-tvl class="w-50"></app-historical-asset-tvl>
          </div>
          <div class="card-deck my-5 justify-content-around">
            <app-net-interest-margin class="w-50"></app-net-interest-margin>
            <app-funded-interest-expenses
              class="w-50"
            ></app-funded-interest-expenses>
          </div>
          <div class="card-deck my-5 justify-content-around">
            <app-loss-provision class="w-50"></app-loss-provision>
            <app-xmph-supply-distribution
              class="w-50"
            ></app-xmph-supply-distribution>
          </div>
          <!-- End Charts -->
        </div>
        <div
          class="tab-pane fade"
          id="pills-v2"
          role="tabpanel"
          aria-labelledby="pills-v2-tab"
        ></div>
      </div>

      <div class="card-deck my-5 justify-content-around">
        <app-historical-staking-rewards
          class="w-50"
        ></app-historical-staking-rewards>
        <app-price-earnings-ratio class="w-50"></app-price-earnings-ratio>
      </div>
      <div class="card-deck my-5 justify-content-around">
        <app-mph-liquidity class="w-50"></app-mph-liquidity>
        <app-mph-supply-distribution class="w-50"></app-mph-supply-distribution>
      </div>
    </div>
  </div>
</div>
