<div class="container mt-4 mb-6">
  <div class="row">
    <div class="col-12">
      <h1 class="title-bg-gradient display-2">88mph analytics</h1>
      <div class="card-deck mb-4">
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase">Total deposit</h5>
            <h2 class="mb-1 glowing">${{ totalDepositUSD.toFormat(4) }}</h2>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase">Historical interest distributed</h5>
            <h2 class="mb-3 glowing">${{ totalInterestUSD.toFormat(4) }}</h2>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase">MPH price</h5>
            <h2 class="mb-3 glowing">${{ mphPriceUSD.toFormat(4) }}</h2>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase">MPH total supply</h5>
            <h2 class="mb-3 glowing">{{ mphTotalSupply.toFormat(4) }} MPH</h2>
            <h5 class="text-white">
              ${{ mphTotalSupply.times(mphPriceUSD).toFormat(4) }}
            </h5>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase">
              MPH circulating supply
              <button
                type="button"
                class="btn btn-sm btn-link text-white"
                placement="top"
                ngbTooltip="Subtracted: Liquidity mining pool, governance treasury, developer fund, MPH staking pool, Merkle distributor, unvested rewards"
              >
                <i class="fe fe-info"></i>
              </button>
            </h5>

            <h2 class="mb-3 glowing">
              {{ mphCirculatingSupply.toFormat(4) }} MPH
            </h2>
            <h5 class="text-white">
              ${{ mphCirculatingSupply.times(mphPriceUSD).toFormat(4) }}
            </h5>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase">MPH staked in rewards pool</h5>
            <h2 class="mb-3 glowing">{{ mphStakedPercentage.toFormat(4) }}%</h2>
            <h5 class="text-white">
              ${{
                mphStakedPercentage
                  .div(100)
                  .times(mphTotalSupply)
                  .times(mphPriceUSD)
                  .toFormat(4)
              }}
            </h5>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <h5 class="text-uppercase">
              Historical MPH staking rewards distributed
            </h5>
            <h2 class="mb-3 glowing">
              {{ mphTotalHistoricalReward.toFormat(4) }} MPH
            </h2>
            <h5 class="text-white">
              ${{ mphTotalHistoricalReward.times(mphPriceUSD).toFormat(4) }}
            </h5>
          </div>
        </div>
      </div>
      <!-- Start Charts -->
      <div class="card-deck my-5 justify-content-around">
        <app-mph-liquidity class="w-50"></app-mph-liquidity>
        <app-historical-asset-tvl class="w-50"></app-historical-asset-tvl>
      </div>
      <div class="card-deck my-5 justify-content-around">
        <app-historical-fixed-interest-rates
          class="w-50"
        ></app-historical-fixed-interest-rates>
        <app-funded-interest-expenses
          class="w-50"
        ></app-funded-interest-expenses>
      </div>
      <div class="card-deck my-5 justify-content-around">
        <app-net-interest-margin class="w-50"></app-net-interest-margin>
        <app-loss-provision class="w-50"></app-loss-provision>
      </div>
      <div class="card-deck my-5 justify-content-around">
        <app-mph-supply-distribution class="w-50"></app-mph-supply-distribution>
        <app-historical-staking-rewards
          class="w-50"
        ></app-historical-staking-rewards>
      </div>
      <div class="card-deck my-5 justify-content-around">
        <app-price-earnings-ratio class="w-50"></app-price-earnings-ratio>
        <app-xmph-supply-distribution
          class="w-50"
        ></app-xmph-supply-distribution>
      </div>
      <!-- End Charts -->
    </div>
  </div>
</div>
