<!-- HEADER -->
<div class="header pt-4">
  <div class="container-fluid">

    <!-- Body -->
    <div class="header-body border-0 p-0">
      <div class="row align-items-end">
        <div class="col">
          <h1>88mph protocol statistics</h1>
          <div class="card-deck my-5">
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  Total deposit
                </h5>
                <!-- Heading -->
                <h2 class="mb-1 glowing pl-3">
                  ${{totalDepositUSD.toFormat(4)}}
                </h2>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  Historical interest distributed
                </h5>
                <!-- Heading -->
                <h2 class="mb-3 glowing pl-3">
                  ${{totalInterestUSD.toFormat(4)}}
                </h2>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  MPH price
                </h5>
                <!-- Heading -->
                <h2 class="mb-3 glowing pl-3">
                  ${{mphPriceUSD.toFormat(4)}}
                </h2>
              </div>
            </div>
          </div>
          <div class="card-deck mb-5">
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  MPH total supply
                </h5>
                <!-- Heading -->
                <h2 class="mb-3 glowing pl-3">
                  {{mphTotalSupply.toFormat(4)}} MPH
                </h2>
                <h5 class="text-white pl-3">${{mphTotalSupply.times(mphPriceUSD).toFormat(4)}}</h5>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  MPH circulating supply
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Subtracted: Liquidity mining pool, governance treasury, developer fund, MPH staking pool, Merkle distributor, unvested rewards">
                    [i]
                  </button>
                </h5>

                <!-- Heading -->
                <h2 class="mb-3 glowing pl-3">
                  {{mphCirculatingSupply.toFormat(4)}} MPH
                </h2>
                <h5 class="text-white pl-3">${{mphCirculatingSupply.times(mphPriceUSD).toFormat(4)}}</h5>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  MPH staked in rewards pool
                </h5>
                <!-- Heading -->
                <h2 class="mb-3 glowing pl-3">
                  {{mphStakedPercentage.toFormat(4)}}%
                </h2>
                <h5 class="text-white pl-3">
                  ${{mphStakedPercentage.div(100).times(mphTotalSupply).times(mphPriceUSD).toFormat(4)}}
                </h5>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  Historical MPH staking rewards distributed
                </h5>
                <!-- Heading -->
                <h2 class="mb-3 glowing pl-3">
                  {{mphTotalHistoricalReward.toFormat(4)}} DAI
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->

    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->