<div *ngIf="lineChartData" class="card mb-4 mb-lg-0">
  <div class="card-header">
    <h4 class="card-title mb-0" i18n="@@fixed-rateYield">
      Fixed-rate yield
      <i
        class="fe fe-info ml-1 align-bottom"
        placement="top"
        i18n-ngbTooltip="@@fixed-rateYieldText"
        ngbTooltip="The fixed-rate yield (%) offered on 365-day deposits before accounting for protocol fees. Shorter deposits will receive a higher fixed-rate yield."
      ></i>
    </h4>
  </div>
  <div class="card-header">
    <div class="form-row">
      <div class="col-6">
        <div class="form-group mb-0 mr-2">
          <select class="d-none">
            <option value="all" selected>All</option>
            <option *ngFor="let pool of allData" [ngValue]="pool.label">
              {{ pool.label }}
            </option>
          </select>
          <select
            [(ngModel)]="SELECTED_ASSET"
            name="selected"
            (change)="focusAsset()"
            class="custom-select"
          >
            <option value="all" selected>All</option>
            <option *ngFor="let pool of allData" [ngValue]="pool.label">
              {{ pool.label }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group mb-0 mr-2">
          <select class="d-none">
            <option value="daily">Daily</option>
            <option value="weekly" selected>Weekly</option>
            <option value="monthly">Monthly</option>
          </select>
          <select
            [(ngModel)]="PERIOD_NAME"
            name="period"
            (change)="changePeriod()"
            class="custom-select"
          >
            <option value="daily">Daily</option>
            <option value="weekly" selected>Weekly</option>
            <option value="monthly">Monthly</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <canvas
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
    >
    </canvas>
  </div>
</div>
