<div class="modal-dialog modal-dialog-vertical" role="document">
  <!--modal content MPH rewards-->
  <div class="modal-content">
    <div class="modal-body pt-0 py-lg-0">
      <div class="row no-gutters align-items-center">
        <div class="col-auto">
          <a
            class="btn btn-link border-0 text-white pl-0"
            data-dismiss="modal"
            aria-label="Close"
            (click)="activeModal.dismiss()"
          >
            <i class="fe fe-arrow-left h2 mb-0"></i>
          </a>
        </div>
        <div class="col">
          <h1 class="mb-0 h3">MPH Rewards</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 pt-0">
          <div class="card mb-6">
            <div class="card-body">
              <div class="row justify-content-center mb-4">
                <div class="col-6">
                  <h6 class="header-pretitle mb-2">Full amount</h6>
                  <h4 class="mb-1 glowing">{{ fullAmount.toFormat(8) }} MPH</h4>
                  <div class="text-muted small d-block">
                    ${{ fullAmount.times(mphPriceUSD).toFormat(2) }}
                  </div>
                </div>
                <div class="col-6">
                  <h6 class="header-pretitle mb-2">Claimed Amount</h6>
                  <h4 class="mb-1 glowing">
                    {{ withdrawnAmount.toFormat(8) }} MPH
                  </h4>
                  <div class="text-muted small d-block">
                    ${{ withdrawnAmount.times(mphPriceUSD).toFormat(2) }}
                  </div>
                </div>
              </div>
              <div class="row justify-content-center mb-4">
                <div class="col">
                  <h6 class="header-pretitle mb-2">Current Claimable Amount</h6>
                  <h4 class="mb-1 glowing display-4">
                    {{ currentWithdrawableAmount.toFormat(8) }} MPH
                  </h4>
                  <div class="text-muted small d-block">
                    ${{
                      currentWithdrawableAmount.times(mphPriceUSD).toFormat(2)
                    }}
                  </div>
                </div>
              </div>
              <button
                class="btn btn-lg btn-bg-gradient btn-block"
                type="button"
                (click)="withdraw()"
                [disabled]="!canContinue()"
              >
                Claim MPH
              </button>
            </div>
          </div>
          <div class="card mb-8">
            <div class="card-header">
              <h4 class="card-header-title">Things you can do with $MPH</h4>
            </div>
            <div class="card-body p-0">
              <div class="list-group list-group-flush">
                <a
                  href="/stake"
                  class="list-group-item list-group-item-action px-4"
                >
                  <h4 class="mb-1">Stake MPH for xMPH</h4>
                  <small class="text-muted"
                    >By staking your MPH, you are eligible to collect two kinds
                    of rewards distributed as MPH.</small
                  >
                  <small class="text-primary ml-2">Learn more</small>
                </a>
                <a
                  href="/farm"
                  class="list-group-item list-group-item-action px-4"
                >
                  <h4 class="mb-1">Provide liquidity & boost your yield</h4>
                  <small class="text-muted"
                    >Provide liquidity on our trading pools, and get rewarded by
                    doing so from trading fees and liquidity mining rewards paid
                    in $MPH.</small
                  >
                  <small class="text-primary ml-2">Learn more</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
