<div class="container-fluid justify-content-end px-4">
  <div class="d-inline-flex">
    <div class="mr-4 text-white d-inline-block">
      <!-- Title -->
      <h6 class="text-uppercase text-secondary mb-2">
        Total TVL
      </h6>
      <!-- Heading -->
      <span class="h4 mb-0 glowing">
        $100,000,000
      </span>
    </div>
    <div class="mr-4 text-white d-inline-block">
      <!-- Title -->
      <h6 class="text-uppercase text-secondary mb-2">
        ETH/MPH TVL
      </h6>
      <!-- Heading -->
      <span class="h4 mb-0 glowing">
        $100,000,000
      </span>
    </div>
    <button class="card-link small px-1" type="button" routerLink="/rewards">
      {{mphBalance.toFormat(4)}} MPH <img src="./assets/img/icon-default.png" class="mx-1 icon-logo" alt="..." width="18">
    </button>
    <button type="button" class="card-link small px-1" (click)="connectWallet()">
      <div *ngIf="wallet.connected">
        {{wallet.userAddress.substring(0, 14)}}
      </div>
      <div *ngIf="!wallet.connected">
        Connect Wallet
      </div>
    </button>
  </div>
</div>