<div class="card mb-4 mb-lg-0">
  <div class="card-header">
    <h4
      class="card-title mb-0"
      i18n="@@priceEarningsRatio"
      placement="top"
      i18n-ngbTooltip="@@priceEarningsRatioText"
      ngbTooltip="A measurement of current market capitalization / annualized protocol earnings (based on the latest bi-weekly revenue distribution)."
    >
      P/E Ratio
      <i class="fe fe-info ml-1 align-bottom"></i>
    </h4>
    <button
      type="button"
      class="btn btn-sm border-secondary py-0 px-2 m-1"
      [ngClass]="{ 'bg-secondary ': PERIOD_NAME === 'daily' }"
      (click)="changePeriod('daily')"
    >
      D
    </button>
    <button
      type="button"
      class="btn btn-sm border-secondary py-0 px-2 m-1"
      [ngClass]="{ 'bg-secondary ': PERIOD_NAME === 'weekly' }"
      (click)="changePeriod('weekly')"
    >
      W
    </button>
    <button
      type="button"
      class="btn btn-sm border-secondary py-0 px-2 m-1"
      [ngClass]="{ 'bg-secondary ': PERIOD_NAME === 'monthly' }"
      (click)="changePeriod('monthly')"
    >
      M
    </button>
  </div>
  <div class="card-body">
    <div *ngIf="loading" class="d-flex justify-content-center">Loading...</div>
    <canvas
      *ngIf="!loading"
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
    >
    </canvas>
  </div>
</div>
