<div *ngIf="lineChartData" class="card mb-4 mb-lg-0">
  <div class="card-header">
    <h4 class="card-title mb-0" i18n="@@priceEarningsRatio">
      P/E Ratio
      <i
        class="fe fe-info ml-1 align-bottom"
        placement="top"
        i18n-ngbTooltip="@@priceEarningsRatioText"
        ngbTooltip="A measurement of current market capitalization / annualized protocol earnings."
      ></i>
    </h4>
  </div>
  <div class="card-header">
    <div class="form-group mb-0">
      <select class="d-none">
        <option value="daily">Daily</option>
        <option value="weekly" selected>Weekly</option>
        <option value="monthly">Monthly</option>
      </select>
      <select
        [(ngModel)]="PERIOD_NAME"
        name="period"
        (change)="changePeriod()"
        class="custom-select"
      >
        <option value="daily">Daily</option>
        <option value="weekly" selected>Weekly</option>
        <option value="monthly">Monthly</option>
      </select>
    </div>
  </div>
  <div class="card-body">
    <canvas
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
    >
    </canvas>
  </div>
</div>
