<div class="modal-dialog modal-dialog-vertical" role="document">
  <!--modal content Yield token purchase -->
  <div class="modal-content">
    <div class="modal-body pt-0 py-lg-0">
      <div class="row no-gutters align-items-center">
        <div class="col-auto">
          <a
            class="btn btn-link border-0 text-white pl-0"
            data-dismiss="modal"
            aria-label="Close"
            (click)="activeModal.dismiss()"
          >
            <i class="fe fe-arrow-left h2 mb-0"></i>
          </a>
        </div>
        <div class="col">
          <h1 class="mb-0 h3" i18n="@@modalYieldTokensPretitle">
            Buy Yield Tokens
          </h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 pt-0">
          <div class="card mb-6">
            <div class="card-body">
              <div class="row justify-content-center mb-4">
                <div class="col">
                  <h6
                    class="header-pretitle mb-2"
                    i18n="@@modalYieldTokensAvailable"
                  >
                    Debt Available
                  </h6>
                  <h4 class="mb-1 glowing display-4">
                    {{ debtAvailable.toFormat(6) }}
                    {{ pool.stablecoinSymbol }}
                  </h4>
                  <div class="text-muted small">
                    ${{ debtAvailable.times(stablecoinPriceUSD).toFormat(2) }}
                  </div>
                </div>
              </div>
              <div class="form-group mb-4">
                <label> Amount of Debt to Fund </label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    placeholder="0.00"
                    [value]="fundAmount.toFixed()"
                    (input)="setFundAmount($event.target.value)"
                  />
                </div>
                <button
                  class="btn btn-sm btn-dark mr-2 mt-1"
                  type="button"
                  (click)="presetFundAmount(25)"
                >
                  25%
                </button>
                <button
                  class="btn btn-sm btn-dark mr-2 mt-1"
                  type="button"
                  (click)="presetFundAmount(50)"
                >
                  50%
                </button>
                <button
                  class="btn btn-sm btn-dark mr-2 mt-1"
                  type="button"
                  (click)="presetFundAmount(75)"
                >
                  75%
                </button>
                <button
                  class="btn btn-sm btn-dark mr-2 mt-1"
                  type="button"
                  (click)="presetFundAmount(100)"
                >
                  100%
                </button>
                <button
                  class="btn btn-sm btn-dark mr-2 mt-1"
                  type="button"
                  (click)="
                    setFundAmount(
                      stablecoinBalance.gte(debtAvailable)
                        ? debtAvailable
                        : stablecoinBalance
                    )
                  "
                >
                  Max
                </button>
                <span>
                  <small class="text-muted">
                    {{ stablecoinBalance.toFormat(4) }}
                    {{ deposit.pool.stablecoinSymbol }}
                    available
                  </small>
                </span>
              </div>

              <div class="table-responsive pl-0 pr-3">
                <table class="table">
                  <tbody>
                    <tr style="border-top: 1px dotted white">
                      <td
                        class="px-0 pt-3 text-white border-0 small"
                        colspan="2"
                      >
                        <div class="d-flex justify-content-between">
                          <span class="text-white">
                            Floating Rate Prediction:
                            <span class="text-white">
                              {{ pool.floatingRatePrediction.toFixed(2) }}% APY
                            </span>
                          </span>
                          <span class="text-white">
                            Use Current Floating Rate:
                            <input
                              class="ml-1"
                              type="checkbox"
                              (change)="updatePoolFloatingRateType()"
                              [checked]="pool.useMarketRate"
                            />
                          </span>
                        </div>
                        <input
                          type="range"
                          class="custom-range align-items-center"
                          min="0"
                          max="{{
                            pool.useMarketRate
                              ? pool.marketRate.times(2).toFixed(2)
                              : pool.emaRate.times(2).toFixed(2)
                          }}"
                          step="0.01"
                          [value]="pool.floatingRatePrediction"
                          (input)="
                            updatePoolFloatingRatePrediction(
                              $event.target.value
                            )
                          "
                        />
                        <div class="row justify-content-between text-white">
                          <div class="col">
                            <small>0%</small>
                          </div>
                          <div class="col text-center">
                            <small *ngIf="!pool.useMarketRate">
                              {{ pool.emaRate.toFixed(2) }}%
                            </small>
                            <small *ngIf="pool.useMarketRate">
                              {{ pool.marketRate.toFixed(2) }}%
                            </small>
                          </div>
                          <div class="col text-right">
                            <small *ngIf="!pool.useMarketRate">
                              {{ pool.emaRate.times(2).toFixed(2) }}%
                            </small>
                            <small *ngIf="pool.useMarketRate">
                              {{ pool.marketRate.times(2).toFixed(2) }}%
                            </small>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr style="border-top: 1px dotted white">
                      <td
                        class="px-0 py-2 text-white border-0 small"
                        i18n="@@modalYieldTokensYouPay"
                      >
                        You Pay
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <span class="h4 mb-1 glowing">
                          {{ fundAmount.toFormat(6) }}
                          {{ deposit.pool.stablecoinSymbol }}
                        </span>
                        <span class="h5 text-muted">
                          ${{
                            fundAmount.times(stablecoinPriceUSD).toFormat(2)
                          }}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small">
                        You Earn Yield On
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <span class="h4 mb-1 glowing">
                          {{ earnYieldOn.toFormat(6) }}
                          {{ deposit.pool.stablecoinSymbol }}
                        </span>
                        <span class="h5 text-muted">
                          ${{
                            earnYieldOn.times(stablecoinPriceUSD).toFormat(2)
                          }}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small">
                        Est. Yield Earned At Maturity
                        <i
                          class="fe fe-info ml-1 align-bottom"
                          ngbTooltip="The *estimated* amount yield earned at maturity based on your floating rate prediction. Your realized yield earned may vary."
                        >
                        </i>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <span class="h4 mb-1 glowing">
                          {{ estimatedYield.toFixed(6) }}
                          {{ deposit.pool.stablecoinSymbol }}
                        </span>
                        <span class="h5 text-muted">
                          ${{
                            estimatedYield.times(stablecoinPriceUSD).toFixed(2)
                          }}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small">
                        Est. ROI
                        <i
                          class="fe fe-info ml-1 align-bottom"
                          ngbTooltip="The *estimated* return on investment (ROI) at maturity based on your floating rate prediction. Your realized ROI at maturity may vary."
                        >
                        </i>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-1 glowing">
                          {{ estimatedROI.toFormat(2) }}%
                        </h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button
                class="btn btn-lg btn-bg-gradient btn-block"
                type="button"
                i18n="@@buyYieldBtn"
                *ngIf="fundAmount.lte(0)"
                [disabled]="true"
              >
                Enter an Amount
              </button>
              <button
                class="btn btn-lg btn-bg-gradient btn-block"
                type="button"
                i18n="@@buyYieldBtn"
                *ngIf="
                  fundAmount.lte(stablecoinBalance) &&
                  fundAmount.gt(0) &&
                  fundAmount.gt(stablecoinAllowance)
                "
                (click)="approve()"
              >
                Approve
              </button>
              <button
                class="btn btn-lg btn-bg-gradient btn-block"
                type="button"
                (click)="buyYieldTokens()"
                i18n="@@buyYieldBtn"
                *ngIf="
                  fundAmount.gt(0) &&
                  fundAmount.lte(stablecoinBalance) &&
                  fundAmount.lte(stablecoinAllowance) &&
                  fundAmount.lte(debtAvailable)
                "
              >
                Buy
              </button>
              <button
                class="btn btn-lg btn-bg-gradient btn-block"
                type="button"
                [disabled]="true"
                i18n="@@buyYieldBtn"
                *ngIf="fundAmount.gt(stablecoinBalance)"
              >
                Not Enough {{ deposit.pool.stablecoinSymbol }} Available
              </button>
              <button
                class="btn btn-lg btn-bg-gradient btn-block"
                type="button"
                [disabled]="true"
                i18n="@@buyYieldBtn"
                *ngIf="fundAmount.gt(debtAvailable)"
              >
                Fund Amount Exceeds Available Debt
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
