<div class="modal-dialog modal-dialog-vertical" role="document">
  <!--modal content Yield token purchase -->
  <div class="modal-content">
    <div class="modal-body pt-0 py-lg-0">
      <div class="row no-gutters align-items-center">
        <div class="col-auto">
          <a
            class="btn btn-link border-0 text-white pl-0"
            data-dismiss="modal"
            aria-label="Close"
            (click)="activeModal.dismiss()"
          >
            <i class="fe fe-arrow-left h2 mb-0"></i>
          </a>
        </div>
        <div class="col">
          <h1 class="mb-0 h3">Buy yield tokens</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 pt-0">
          <div class="card mb-6">
            <div class="card-body">
              <div class="row justify-content-center mb-4">
                <div class="col">
                  <h6 class="header-pretitle mb-2">Yield tokens available</h6>
                  <h4 class="mb-1 glowing display-4">
                    {{
                      deposit.yieldTokensAvailable.toFormat(
                        deposit.pool.stablecoinDecimals
                      )
                    }}
                    TKN
                  </h4>
                  <div class="text-muted small d-block">
                    ${{ deposit.yieldTokensAvailableUSD.toFormat(2) }}
                  </div>
                </div>
              </div>
              <div class="form-group mb-4">
                <label>Amount to buy</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    placeholder="0.00"
                    aria-label="fund-amount"
                    aria-describedby=""
                    [value]="
                      fundAmount.dp(deposit.pool.stablecoinDecimals).toFormat()
                    "
                    (input)="setFundAmount($event.target.value)"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-lg border-gradient"
                      type="button"
                      (click)="
                        setFundAmount(
                          deposit.yieldTokensAvailable.toFixed(
                            deposit.pool.stablecoinDecimals
                          )
                        )
                      "
                    >
                      Max
                    </button>
                  </div>
                </div>
                <small class="form-text text-muted"
                  >{{ stablecoinBalance }}
                  {{ deposit.pool.stablecoinSymbol }} available in your
                  balance</small
                >
              </div>
              <button
                class="btn btn-lg btn-bg-gradient btn-block"
                type="button"
                (click)="buyYieldTokens()"
              >
                Buy
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
