<div class="modal-dialog modal-dialog-vertical" role="document">
  <!--modal content Yield token purchase -->
  <div class="modal-content">
    <div class="modal-body pt-0 py-lg-0">
      <div class="row no-gutters align-items-center">
        <div class="col-auto">
          <a
            class="btn btn-link border-0 text-white pl-0"
            data-dismiss="modal"
            aria-label="Close"
            (click)="activeModal.dismiss()"
          >
            <i class="fe fe-arrow-left h2 mb-0"></i>
          </a>
        </div>
        <div class="col">
          <h1 class="mb-0 h3">Buy yield tokens</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 pt-0">
          <div class="card mb-6">
            <div class="card-body">
              <div class="row justify-content-center mb-4">
                <div class="col">
                  <h6 class="header-pretitle mb-2">Yield tokens available</h6>
                  <h4 class="mb-1 glowing display-4">
                    {{ deposit.yieldTokensAvailable.toFormat(4) }}
                    {{ deposit.pool.name }} YT
                  </h4>
                  <div class="text-muted small">
                    Total value: ${{
                      bound.times(stablecoinPriceUSD).toFormat(4)
                    }}
                  </div>
                </div>
              </div>
              <div class="form-group mb-4">
                <label>Amount of yield tokens to buy</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    placeholder="0.00"
                    aria-label=""
                    aria-describedby=""
                    [value]="
                      buyYieldTokenAmount
                        .dp(deposit.pool.stablecoinDecimals)
                        .toFixed()
                    "
                    (input)="setBuyYieldTokenAmount($event.target.value)"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-lg border-gradient"
                      type="button"
                      (click)="
                        setBuyYieldTokenAmount(
                          deposit.yieldTokensAvailable.toFixed(
                            deposit.pool.stablecoinDecimals
                          )
                        )
                      "
                    >
                      Max
                    </button>
                  </div>
                </div>
                <small class="form-text text-muted">
                  Cost: {{ youPay.toFormat(4) }}
                  {{ deposit.pool.stablecoinSymbol }} /
                  {{ stablecoinBalance.toFormat(4) }}
                  {{ deposit.pool.stablecoinSymbol }} available in your
                  balance</small
                >
              </div>

              <div class="table-responsive pl-0 pr-3">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small">
                        You pay
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <span class="h4 mb-1 glowing">
                          {{ youPay.toFormat(4) }}
                          {{ deposit.pool.stablecoinSymbol }}
                        </span>
                        <span class="h5 text-muted">
                          ${{ youPay.times(stablecoinPriceUSD).toFormat(2) }}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small">
                        You earn floating-rate yield on
                        <i
                          class="fe fe-info ml-1 align-bottom"
                          placement="top"
                          ngbTooltip="The yield payment to yield token holders is automatically triggered whenever part or all of the corresponding deposit is withdrawn, and it is also possible to manually trigger it by hitting the 'Make accrued interest claimable' button in the Claim Modal (Modal accessible from the main Yield page after YT purchase)."
                        ></i>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <span class="h4 mb-1 glowing">
                          {{ earnYieldOn.toFormat(4) }}
                          {{ deposit.pool.stablecoinSymbol }}
                        </span>
                        <span class="h5 text-muted">
                          ${{
                            earnYieldOn.times(stablecoinPriceUSD).toFormat(2)
                          }}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small">
                        MPH rewards
                        <i
                          class="fe fe-info ml-1 align-bottom"
                          placement="top"
                          ngbTooltip="When a user buys yield tokens, they will receive newly-minted MPH tokens as the underlying deposit earns interest; similar to vesting. You can claim your MPH rewards whenever you want from the Claim Modal accessible via the main Yield page. We invite you to stake your MPH for xMPH, allowing you to earn protocol revenues via our bi-weekly buy-back mechanism, and voting rights."
                        ></i>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <span class="h4 mb-1 glowing">
                          {{ mphRewards.toFormat(4) }} MPH
                        </span>
                        <span class="h5 text-muted">
                          ${{ mphRewards.times(mphPriceUSD).toFormat(2) }}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small">
                        MPH APR
                        <i
                          class="fe fe-info ml-1 align-bottom"
                          placement="top"
                          ngbTooltip="MPH APR varies based on the USD value of MPH. The APY is just a representation on how these MPH rewards would be during a 1-year period"
                        ></i>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-1 glowing">
                          +{{ mphRewardsAPR.toFormat(2) }}%
                        </h4>
                      </td>
                    </tr>
                    <tr style="border-top: 1px dotted white">
                      <td class="px-0 py-2 text-white border-0 small">
                        Total earned at maturity (incl. MPH)
                        <i
                          class="fe fe-info ml-1 align-bottom"
                          placement="top"
                          ngbTooltip="Estimated floating-rate yield earned + MPH tokens"
                        ></i>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-1 glowing">
                          ${{ totalEarned.toFormat(2) }}
                        </h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button
                class="btn btn-lg btn-bg-gradient btn-block"
                type="button"
                (click)="buyYieldTokens()"
              >
                Buy
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
