<!-- modal modalBondDetails -->
<div class="modal-body pt-0 py-lg-0">
  <div class="row no-gutters">
    <div class="col-auto mr-auto">
      <button class="btn btn-link text-white pl-0" type="button" name="button" data-dismiss="modal"
        aria-label="Close" (click)="activeModal.dismiss()">
        <i class="fe fe-arrow-left h2 mb-0"></i>
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 pt-0">
      <div class="row justify-content-center no-gutters">
        <div class="col-12 col-lg-10 pt-3 pb-5">
          <h1 class="display-4 text-center">
            Floating-rate bond details
          </h1>
          <p class="text-white small text-center mb-5">You'll find below the underlying fixed-rate bonds' deficits you filled up and their related details.</p>
          <div class="card">
            <div class="card-body p-0">
              <div class="table-responsive mb-0">
                <table class="table table-sm table-nowrap card-table">
                  <thead>
                    <th>
                      Mature
                    </th>
                    <th>
                      Maturation time
                    </th>
                    <th>
                      Amount paid
                    </th>
                    <th>
                      You earn interest on
                    </th>
                    <th>
                      Interest paid out
                    </th>
                    <th>
                      Refund amount
                    </th>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td>
                        <span class="badge mb-1 badge-soft-danger">
                          No
                        </span>
                      </td>                        
                      <td>
                        mm/dd/yyyy
                      </td>
                      <td>
                        0.0000
                      </td>
                      <td>
                        0.0000
                      </td>
                      <td>
                        0.0000
                      </td>
                      <td>
                        0.0000
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="badge mb-1 badge-soft-success">
                          Yes
                        </span>
                      </td>                        
                      <td>
                        mm/dd/yyyy
                      </td>
                      <td>
                        0.0000
                      </td>
                      <td>
                        0.0000
                      </td>
                      <td>
                        0.0000
                      </td>
                      <td>
                        0.0000
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>