<div class="modal-header border-0 align-items-center">
  <div
    class="spinner-grow spinner-grow-sm mr-2 text-warning"
    role="status"
    *ngIf="!txConfirmed"
  ></div>
  <h4 class="modal-title text-warning" *ngIf="!txConfirmed">
    Transaction Pending ⛏
  </h4>
  <svg
    class="bd-placeholder-img rounded mr-2"
    width="20"
    height="20"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="xMidYMid slice"
    focusable="false"
    role="img"
    *ngIf="txConfirmed"
  >
    <rect fill="#00d97e" width="100%" height="100%"></rect>
  </svg>
  <h4 class="modal-title text-success" *ngIf="txConfirmed">
    Transaction Confirmed 🎉🌘
  </h4>
  <button
    type="button"
    class="close text-white"
    data-dismiss="modal"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pt-0">
  <a class="text-center" href="{{ explorerLink }}" target="_blank"
    >View your transaction <i class="fe fe-external-link"></i
  ></a>
</div>
