<!-- HEADER -->
<div class="header pt-4">
  <div class="container-fluid">

    <!-- Body -->
    <div class="header-body border-0 p-0">
      <div class="row align-items-end">
        <div class="col">
          <h1 class="mb-2">Stake your MPH tokens to earn your rewards</h1>
          <p class="text-warning">This staking page has been deprecated. Please withdraw your MPH tokens below and stake them on 88mph v3. Make sure to use the latest version of Metamask and/or hardware wallet.</p>
          <p class="text-muted font-weight-bold mb-5">If you stake your MPH, you are eligible to collect two kinds of
            rewards: 88mph protocol fees, and yield-farmed tokens earned from the protocols 88mph is connected to (COMP,
            CRV, etc.). Rewards are distributed in DAI. <a class="text-purple" href="https://docs.88mph.app/" target="_blank">
              Help <i class="fe fe-external-link"></i>
            </a></p>
          <div class="card-deck my-4">
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  Staked MPH
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Stake MPH tokens to earn rewards">
                    [i]
                  </button>
                </h5>
                <!-- Heading -->
                <h2 class="mb-3 glowing pl-3">
                  {{stakedMPHBalance.toFormat(4)}} MPH
                </h2>
                <h5 class="mb-3 text-white pl-3">
                  (${{stakedMPHBalance.times(mphPriceUSD).toFormat(4)}})
                  ({{stakedMPHPoolProportion.toFormat(4)}}% of the pool)
                </h5>
                <button type="button" class="card-link small ml-3 px-1" (click)="openStakeModal()" [disabled]="wallet.watching">
                  <i class="fe fe-arrow-down mr-2 align-bottom"></i>Stake
                </button>
                <button type="button" class="card-link small ml-3 px-1" (click)="openUntakeModal()" [disabled]="wallet.watching">
                  <i class="fe fe-arrow-up mr-2 align-bottom"></i>Unstake
                </button>
                <button type="button" class="card-link small ml-3 px-1" (click)="unstakeAndClaim()"
                  [disabled]="!canContinue() || wallet.watching">
                  <i class="fe fe-arrow-up mr-2 align-bottom"></i>Unstake all & Claim
                </button>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  Claimable rewards
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Amount of claimable rewards in DAI">
                    [i]
                  </button>
                </h5>
                <!-- Heading -->
                <h2 class="mb-3 glowing pl-3">
                  {{claimableRewards.toFormat(4)}} DAI
                </h2>
                <h5 class="mb-3 text-white pl-3">({{rewardPerWeek.toFormat(4)}} DAI/week)</h5>
                <button type="button" class="card-link small ml-3 px-1" (click)="claim()" [disabled]="!canContinue() || wallet.watching">
                  <i class="fe fe-arrow-up mr-2 align-bottom"></i>Claim
                </button>
              </div>
            </div>
          </div>

          <div class="card-deck my-4">
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  Overall statistics
                </h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">Total value staked</h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">
                          {{totalStakedMPHBalance.toFormat(4)}} MPH
                        </h3>
                        <h5 class="text-white">
                          ${{totalStakedMPHBalance.times(mphPriceUSD).toFormat(4)}}
                        </h5>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">Current distribution period</h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">
                          {{rewardStartTime}} to {{rewardEndTime}}
                        </h3>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">Current period reward</h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">
                          {{totalRewardPerSecond.times(PERIOD).times(constants.DAY_IN_SEC).toFormat(4)}} DAI
                        </h3>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">Daily reward</h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">
                          {{totalRewardPerSecond.times(constants.DAY_IN_SEC).toFormat(4)}} DAI
                        </h3>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">Historical MPH staking rewards distributed</h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">
                          {{totalHistoricalReward.toFormat(4)}} DAI
                        </h3>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  Estimated ROI
                </h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">Yearly</h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">{{yearlyROI.toFormat(4)}}%</h3>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">Monthly</h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">{{monthlyROI.toFormat(4)}}%</h3>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">Weekly</h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">{{weeklyROI.toFormat(4)}}%</h3>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">Daily</h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">{{dailyROI.toFormat(4)}}%</h3>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card-deck my-4">
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  Protocol reward accumulation statistics
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Accumulated protocol fees & yield-farmed rewards that are not yet sent to the MPH staking pool as rewards.">
                    [i]
                  </button>
                </h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">
                          Protocol fees accumulated
                          <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                            ngbTooltip="88mph charges a 10% on fixed-rate interest offered to depositors. This fee is charged upon deposit maturation, so its accumulation is not continuous.">
                            [i]
                          </button>
                        </h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">
                          ${{protocolFeesUSD.toFormat(4)}}
                        </h3>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">COMP accumulated</h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">
                          {{compRewardsToken.toFormat(4)}} COMP
                        </h3>
                        <h5 class="text-white">
                          ${{compRewardsUSD.toFormat(4)}}
                        </h5>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col text-left">
                        <h3 class="text-white">FARM accumulated</h3>
                      </div>
                      <div class="col text-right">
                        <h3 class="glowing">
                          {{farmRewardsToken.toFormat(4)}} FARM
                        </h3>
                        <h5 class="text-white">
                          ${{farmRewardsUSD.toFormat(4)}}
                        </h5>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->

    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->
