<div class="container mt-4">
  <div class="row align-items-end">
    <div class="col">
      <h1 class="title-bg-gradient display-2">Speculate on future yields</h1>
      <p class="text-white font-weight-bold mb-5 lead">
        Yield tokens or YTs are fungible ERC-20/ERC-1155 tokens that allow
        speculators to profit from the rise in the yield rate of variable-rate
        yield protocols (such as Compound, Aave, and Yearn) or hedge part of
        their borrowing costs of a loan (e.g. Dai borrower on Compound would
        purchase cDAI YTs on 88mph). YTs are more than an instrument for
        speculating on yields. When someone buys YTs, the insolvency risk of the
        fixed yield rate assets is also decreased.
        <a href="https://docs.88mph.app/" target="_blank"
          >Learn more <i class="fe fe-external-link"></i></a
        >.
      </p>
      <div class="card-deck mt-4 mb-6">
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 class="text-uppercase">Yield tokens balance</h5>

            <!-- Heading -->
            <h2 class="mb-3 glowing">
              ${{ totalYieldTokenBalanceUSD.toFormat(4) }}
            </h2>
          </div>
        </div>

        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 class="text-uppercase">You earn yields on</h5>

            <!-- Heading -->
            <h2 class="mb-0 glowing">
              ${{ totalDepositEarningYield.toFormat(4) }}
            </h2>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 class="text-uppercase">Yield earned</h5>
            <!-- Heading -->
            <h2 class="mb-1 glowing">${{ totalYieldEarnedUSD.toFormat(4) }}</h2>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 class="text-uppercase">MPH earned</h5>
            <!-- Heading -->
            <h2 class="mb-1 glowing">{{ totalMPHEarned.toFormat(6) }} MPH</h2>
            <h5 class="mb-3 text-white">
              ${{ totalMPHEarned.times(mphPriceUSD).toFormat(2) }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / .row -->
  <div class="row">
    <div class="col-12">
      <!-- Active positions -->
      <div class="card mb-6" *ngIf="funderPools.length">
        <div class="card-header">
          <h2 class="mb-0">Active positions</h2>
          <button
            class="btn btn-sm btn-dark"
            type="button"
            data-toggle="collapse"
            data-target=".multi-collapse"
            aria-expanded="false"
            *ngIf="funderPools.length > 0"
          >
            Toggle all
          </button>
        </div>
        <div class="table-responsive mb-0">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th></th>
                <th class="text-white">Yield tokens balance</th>
                <th class="text-white">You earn yield on</th>
                <th class="text-white">Yield earned</th>
                <th class="text-white">Refunded amount</th>
                <th class="text-white">MPH rewards earned</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="list">
              <ng-container *ngFor="let funderPool of funderPools">
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <!-- Image -->
                      <div class="avatar avatar-xs">
                        <img
                          class="avatar-img rounded-circle mr-3"
                          src="{{ funderPool.poolInfo.iconPath }}"
                          alt="..."
                        />
                      </div>

                      <div class="ml-3">
                        <!-- Heading -->
                        <h4 class="font-weight-normal mb-1">
                          {{ funderPool.poolInfo.name }}
                        </h4>

                        <!-- Text -->
                        <small class="text-muted">{{
                          funderPool.poolInfo.protocol
                        }}</small>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h4 class="mb-1 font-weight-normal glowing">
                      {{ funderPool.userTotalYieldTokenBalance.toFormat(4) }}
                      {{ funderPool.poolInfo.name }} YT
                    </h4>
                    <span class="text-white">
                      ${{
                        funderPool.userTotalYieldTokenBalanceUSD.toFormat(4)
                      }}
                    </span>
                  </td>
                  <td>
                    <h4 class="mb-1 font-weight-normal glowing">
                      {{ funderPool.userTotalEarnYieldOn.toFormat(4) }}
                      {{ funderPool.poolInfo.stablecoinSymbol }}
                    </h4>
                    <span class="text-white">
                      ${{ funderPool.userTotalEarnYieldOnUSD.toFormat(4) }}
                    </span>
                  </td>
                  <td>
                    <h4 class="mb-1 font-weight-normal glowing">
                      {{ funderPool.userTotalYieldEarned.toFormat(4) }}
                      {{ funderPool.poolInfo.stablecoinSymbol }}
                    </h4>
                    <span class="text-white">
                      ${{ funderPool.userTotalYieldEarnedUSD.toFormat(4) }}
                    </span>
                  </td>
                  <td>
                    <h4 class="mb-1 font-weight-normal glowing">
                      {{ funderPool.userTotalRefundedAmount.toFormat(4) }}
                      {{ funderPool.poolInfo.stablecoinSymbol }}
                    </h4>
                    <span class="text-white">
                      ${{ funderPool.userTotalRefundedAmountUSD.toFormat(4) }}
                    </span>
                  </td>
                  <td>
                    <h4 class="mb-1 font-weight-normal glowing">
                      {{ funderPool.userTotalMPHRewardsEarned.toFormat(4) }} MPH
                    </h4>
                    <span class="text-white">
                      ${{ funderPool.userTotalMPHRewardsEarnedUSD.toFormat(4) }}
                    </span>
                  </td>
                  <td class="text-right">
                    <button
                      class="btn btn-sm btn-dark btn-rounded-circle"
                      type="button"
                      data-toggle="collapse"
                      [attr.data-target]="'#' + funderPool.poolInfo.name"
                      aria-expanded="false"
                      [attr.aria-controls]="funderPool.poolInfo.name"
                    >
                      <i class="fe fe-chevron-down"></i>
                    </button>
                  </td>
                </tr>
                <ng-container *ngFor="let funding of funderPool.fundings">
                  <tr
                    class="multi-collapse collapse hide"
                    id="{{ funderPool.poolInfo.name }}"
                  >
                    <td>
                      <h6 class="text-muted text-uppercase mb-1">
                        Maturation Date
                      </h6>

                      <!-- Text -->
                      <small class="text-muted d-block">
                        {{ timestampToDateString(funding.maturationTimestamp) }}
                      </small>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">
                        {{ funding.yieldTokenBalance.toFormat(4) }}
                        {{ funderPool.poolInfo.name }} YT
                      </h4>
                      <span class="text-muted">
                        ${{ funding.yieldTokenBalanceUSD.toFormat(4) }}
                      </span>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">
                        {{ funding.earnYieldOn.toFormat(4) }}
                        {{ funderPool.poolInfo.stablecoinSymbol }}
                      </h4>
                      <span class="text-muted">
                        ${{ funding.earnYieldOnUSD.toFormat(4) }}
                      </span>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">
                        {{ funding.yieldEarned.toFormat(4) }}
                        {{ funderPool.poolInfo.stablecoinSymbol }}
                      </h4>
                      <span class="text-muted"
                        >${{ funding.yieldEarnedUSD.toFormat(4) }}</span
                      >
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">
                        {{ funding.refundedAmount.toFormat(4) }}
                        {{ funderPool.poolInfo.stablecoinSymbol }}
                      </h4>
                      <span class="text-muted"
                        >${{ funding.refundedAmountUSD.toFormat(4) }}</span
                      >
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">
                        {{ funding.mphRewardsEarned.toFormat(4) }} MPH
                      </h4>
                      <span class="text-muted"
                        >${{ funding.mphRewardsEarnedUSD.toFormat(4) }}</span
                      >
                    </td>
                    <td class="text-right">
                      <button
                        type="button"
                        class="btn btn-sm border-gradient"
                        (click)="
                          openWithdrawYieldTokenInterestModal(
                            funderPool.poolInfo,
                            funding
                          )
                        "
                        [disabled]="!canContinue() || wallet.watching"
                      >
                        <i class="fe fe-dollar-sign mr-2 align-bottom"></i>
                        Claim
                      </button>
                    </td>
                  </tr>
                </ng-container>
                <!-- </cdk-virtual-scroll-viewport> -->
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Yield tokens opportunities -->
      <div class="card mb-6">
        <div class="card-header">
          <h2 class="mb-0 mr-auto">Yield token opportunities</h2>
          <div class="form-group mb-0">
            <select
              class="custom-select"
              id="pool-select"
              data-toggle="select"
              (change)="selectPool($event.target.value)"
            >
              <option
                value="{{ i }}"
                *ngFor="let pool of allPoolList; index as i"
              >
                {{ pool.stablecoinSymbol }} via {{ pool.protocol }} Protocol
              </option>
            </select>
          </div>
        </div>
        <div
          class="d-block px-4 pt-4 pb-4 border-bottom border-light"
          *ngIf="!loadingCalculator"
        >
          <h4 class="mb-1">
            Your average variable-rate APY prediction for this asset is
            <strong class="glowing"
              >{{ floatingRatePrediction.toFormat(1) }}%</strong
            >.
            <i
              class="fe fe-info ml-1 align-bottom"
              placement="top"
              ngbTooltip="For instance, let's imagine that YTs related to a deposit of 100 DAI costs 2.5 DAI. The YTs entitle the holders to the variable-rate yield earned by the 100 DAI principal + YT's cost (2.5 DAI) over the deposit's term. If the average Compound variable-rate APY stays at 10% over the deposit duration, then the YT delivers 10.25 DAI to its holders.
              Suppose you bought all 102.5 YTs. Your final balance will be 10.25 DAI. Thus, you earn a 7.75 DAI profit on your investment of 2.5 DAI, a 310.00% return on investment."
            ></i>
          </h4>
          <input
            type="range"
            class="custom-range"
            min="0"
            max="{{ estimatedCurrentFloatingInterestRate.times(2).toFixed(1) }}"
            step="0.1"
            [value]="floatingRatePrediction.toFixed(1)"
            (input)="updateFloatingRatePrediction($event.target.value)"
          />
          <div class="row justify-content-between text-white px-1 mb-0">
            <div class="col">
              <small class="d-block">0%</small>
              <small class="text-danger">I'm feeling 🐻</small>
            </div>
            <div class="col text-center">
              <small>
                {{ estimatedCurrentFloatingInterestRate.toFormat(1) }}% <br />
                Current supply APY
                <i
                  class="fe fe-info ml-1 align-bottom"
                  placement="top"
                  ngbTooltip="Current variable yield rate for supplying this asset (for eg. DAI) on the underlying lending protocol used by 88mph, such as Compound or Aave."
                ></i>
              </small>
            </div>
            <div class="col text-right">
              <small class="d-block"
                >{{
                  estimatedCurrentFloatingInterestRate.times(2).toFormat(1)
                }}%</small
              >
              <small class="text-success">I'm feeling 🐂</small>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <h2 class="glowing text-center py-4 mb-0" *ngIf="loadingCalculator">
            Loading...
          </h2>
          <h2
            class="glowing text-center py-4 mb-0"
            *ngIf="!hasDebt && !loadingCalculator"
          >
            No debt available. Select another asset.
          </h2>
          <div
            class="table-responsive mb-0"
            *ngIf="hasDebt && !loadingCalculator"
          >
            <cdk-virtual-scroll-viewport [itemSize]="8" style="height: 500px">
              <table class="table table-sm table-nowrap card-table">
                <thead>
                  <tr>
                    <th>Maturity</th>
                    <th>Yield tokens available</th>
                    <th>You earn yield on</th>
                    <th>Est. ROI / MPH rewards APR</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <ng-container
                    *cdkVirtualFor="let deposit of fundableDeposits"
                  >
                    <tr class="multi-collapse collapse show">
                      <td>
                        <div class="d-flex align-items-center">
                          <div>
                            <h6 class="text-muted text-uppercase mb-1">
                              Maturation Date
                            </h6>
                            <small class="text-muted d-block">
                              {{
                                timestampToDateString(
                                  deposit.maturationTimestamp
                                )
                              }}
                            </small>
                          </div>
                        </div>
                      </td>
                      <td>
                        <h4 class="mb-1 font-weight-bold glowing">
                          {{ deposit.yieldTokensAvailable.toFormat(4) }}
                          {{ selectedPool.name }} YT
                        </h4>
                        <div class="text-muted d-block">
                          ${{ deposit.yieldTokensAvailableUSD.toFormat(4) }}
                        </div>
                      </td>
                      <td>
                        <h4 class="mb-1 font-weight-bold glowing">
                          {{ deposit.unfundedDepositAmount.toFormat(4) }}
                          {{ selectedPool.stablecoinSymbol }}
                        </h4>
                        <div class="text-muted d-block">
                          ${{ deposit.unfundedDepositAmountUSD.toFormat(4) }}
                        </div>
                      </td>
                      <td>
                        <h4 class="mb-1 font-weight-bold glowing">
                          {{ deposit.estimatedAPR.toFormat(2) }}% ROI
                          <span
                            class="
                              badge badge-dark
                              border border-light
                              py-0
                              pl-0
                              mt-n2
                              ml-2
                            "
                            style="border-radius: 14px"
                            placement="top"
                            ngbTooltip="When a user buys yield tokens, they will receive newly-minted MPH tokens as the underlying deposit earns interest. They can be staked to earn protocol revenues and voting rights."
                          >
                            <div class="avatar avatar-xxs">
                              <img
                                src="./assets/img/token-icons/mph-logo-24.svg"
                                width="16"
                                alt="..."
                                class="avatar-img rounded-circle"
                              />
                            </div>
                            +{{ deposit.mphRewardsAPR.toFormat(2) }}% APR
                          </span>
                        </h4>
                      </td>
                      <td class="text-right">
                        <!-- cf modal-buy-yield-token -->
                        <button
                          class="btn btn-sm btn-bg-gradient"
                          (click)="buyYieldTokens(deposit)"
                          [disabled]="!canContinue() || wallet.watching"
                        >
                          Buy
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / .row -->
</div>
