<!-- HEADER -->
<div class="header pt-4">
  <div class="container-fluid">

    <!-- Body -->
    <div class="header-body border-0 p-0">
      <div class="row align-items-end">
        <div class="col">
          <h1 class="mb-2">Fund a floating-rate bonds and earn MPH rewards.</h1>
          <p class="text-muted font-weight-bold mb-5">Learn more in the FAQ below or on our <a class="text-purple" href="https://docs.88mph.app/" target="_blank">
            Help center <i class="fe fe-external-link"></i>
          </a>
          </p>
          <div class="card-deck mt-4 mb-3">
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  You funded
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="The amount of debt your active bonds have funded.">
                    [i]
                  </button>
                </h5>

                <!-- Heading -->
                <h2 class="mb-0 glowing pl-3">
                  ${{totalDeficitFundedUSD.toFormat(4)}}
                </h2>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  You earn on
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="The amount of deposits you're earning interest on.">
                    [i]
                  </button>
                </h5>

                <!-- Heading -->
                <h2 class="mb-1 glowing pl-3">
                  ${{totalCurrentDepositUSD.toFormat(4)}}
                </h2>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  Interest paid out
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="The amount of interests you have earned so far from your active bonds. Interests will be automatically sent to your wallet when the depositors withdraw their deposits.">
                    [i]
                  </button>
                </h5>

                <!-- Heading -->
                <h2 class="mb-1 glowing pl-3">
                  ${{totalInterestUSD.toFormat(4)}}
                </h2>
                <h5 class="mb-0 text-white pl-3 d-none">Est. ROI 0.00%</h5>
              </div>
            </div>

            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  MPH earned
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Bond buyers earn MPH tokens that can be staked to earn rewards (protocol fees, harvested tokens, etc)">
                    [i]
                  </button>
                </h5>

                <!-- Heading -->
                <h2 class="mb-1 glowing pl-3">
                  {{totalMPHEarned.toFormat(4)}} MPH
                </h2>
                <h5 class="mb-0 text-white pl-3">${{totalMPHEarned.times(mphPriceUSD).toFormat(4)}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->

<!-- CARDS -->
<div class="container-fluid mb-6">
  <div class="row">
    <div class="col-12">
      <!-- Current deposits -->
      <div class="card mb-6" *ngIf="funderPools.length">
        <h2 class="mt-n3 bg-dark mb-0 mx-3 pl-3">Active bonds</h2>
        <div class="table-responsive mb-0">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th></th>
                <th class="text-white">
                  Amount funded
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="The amount of debt your bond have funded.">
                    [i]
                  </button>
                </th>
                <th class="text-white">
                  You earn interest on
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="The amount of deposits you're earning interest on.">
                    [i]
                  </button>
                </th>
                <th class="text-white">
                  Interest paid out
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="The amount of interests you have earned so far from your bond. Interests will be automatically sent to your wallet when the depositors withdraw their deposits.">
                    [i]
                  </button>
                </th>
                <th class="text-white">
                  Refund amount
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Refunded amount triggered by a fixed yield depositor's early withdraw">
                    [i]
                  </button>
                </th>
                <th class="text-white">
                  MPH rewards
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="MPH rewards are distributed to the FRB holders when the FIRB's holder withdraws the full face value of the FIRB linked with the FRB at maturity.">
                    [i]
                  </button>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody class="list">
              <ng-container *ngFor="let funderPool of funderPools">
                <tr>
                  <td>
                    <div class="d-flex align-items-center">

                      <!-- Image -->
                      <div class="avatar avatar-xs">
                        <img class="avatar-img rounded-circle mr-3" src={{funderPool.poolInfo.iconPath}} alt="...">
                      </div>

                      <div class="ml-3">

                        <!-- Heading -->
                        <h4 class="font-weight-normal mb-1">{{funderPool.poolInfo.name}}</h4>

                        <!-- Text -->
                        <small class="text-muted">{{funderPool.poolInfo.protocol}}</small>

                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <ng-container *ngFor="let funding of funderPool.fundings">
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">

                        <!-- Image -->
                        <h4 class="mb-0">#{{funding.nftID}}</h4>

                      </div>

                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">${{funding.deficitUSD.toFormat(4)}}</h4>
                      <span class="text-white">{{funding.deficitToken.toFormat(4)}}
                        {{funderPool.poolInfo.stablecoinSymbol}}</span>
                      <div class="mt-3">
                        <!-- Button -->
                        <button type="button" class="card-link small small px-1"
                        (click)="openBondDetailsModal(funderPool, funding)">
                        <i class="fe fe-plus mr-2 align-bottom"></i>
                          More
                        </button>
                      </div>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">${{funding.currentDepositUSD.toFormat(4)}}</h4>
                      <span class="text-white">{{funding.currentDepositToken.toFormat(4)}}
                        {{funderPool.poolInfo.stablecoinSymbol}}</span>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">${{funding.interestEarnedUSD.toFormat(4)}}</h4>
                      <span class="text-white">{{funding.interestEarnedToken.toFormat(4)}}
                        {{funderPool.poolInfo.stablecoinSymbol}}</span>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">${{funding.refundAmountUSD.toFormat(4)}}</h4>
                      <span class="text-white">{{funding.refundAmountToken.toFormat(4)}} {{funderPool.poolInfo.stablecoinSymbol}}</span>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">
                        ${{funding.mphRewardEarned.times(mphPriceUSD).toFormat(4)}}
                      </h4>
                      <span class="text-white">{{funding.mphRewardEarned.toFormat(4)}} MPH</span>
                    </td>
                    <td></td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Deficit funding opportunities -->
      <div class="card mb-6">
        <h2 class="mt-n3 bg-dark mb-4 mx-3 pl-3">Fund floating-rate bonds</h2>
        <div class="card-body">
          <h2 class="display-2 glowing text-center" *ngIf="loadingCalculator">
            Loading...
          </h2>
          <div class="row" *ngIf="!loadingCalculator">
            <div class="col-12 col-lg-6">
              <div class="form-group mb-4">
                <label for="pool-select">Select pool</label>
                <select class="custom-select" id="pool-select" data-toggle="select"
                  (change)="selectPool($event.target.value)">
                  <option value={{i}} *ngFor="let pool of allPoolList; index as i;">
                    {{pool.stablecoinSymbol}} ({{pool.protocol}})
                  </option>
                </select>
              </div>

              <ng-container *ngIf="selectedPoolHasDebt()">
                <div class="row mt-3 mb-4">
                  <div class="col">
                    <h4 class="mb-1">
                      Your avg. floating-rate APY prediction: <strong>{{floatingRatePrediction.toFormat(1)}}%</strong>
                    </h4>
                    <p class="text-secondary small">
                      (Does not affect the bond, only for estimation)
                    </p>
                    <input type="range" class="custom-range" min="0"
                      max={{selectedPool?.oracleInterestRate.times(2).toFixed(1)}} step="0.1"
                      [value]="floatingRatePrediction.toFixed(1)"
                      (input)="updateFloatingRatePrediction($event.target.value)">
                    <div class="row justify-content-between text-white px-4 mb-4">
                      <div class="col">
                        <small>0%</small>
                      </div>
                      <div class="col text-center">
                        <small>{{selectedPool?.oracleInterestRate.toFormat(1)}}% <br> (Current <a href="https://docs.88mph.app/main-products/floating-rate-interest-bond" target="_blank">30d EMA floating-rate APY</a>)</small>
                      </div>
                      <div class="col text-right">
                        <small>{{selectedPool?.oracleInterestRate.times(2).toFormat(1)}}%</small>
                      </div>
                    </div>
                    <h4>
                      Number of deposit debts to fund: <strong>{{numDepositsToFund}}</strong>
                    </h4>
                    <input type="range" class="custom-range" min="1" [max]="numFundableDeposits" step="1"
                      [value]="numFundableDeposits" (input)="updateNumDepositsToFund($event.target.value)">
                    <div class="row justify-content-between text-white px-4">
                      <div class="col">
                        <small>1</small>
                      </div>
                      <div class="col text-right">
                        <small>All</small>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-12 col-lg-6">
              <ng-container *ngIf="!(debtToFundToken.gt(0) && selectedPoolHasDebt())">
                <h2 class="display-2 mb-4 glowing">
                  No debt available
                </h2>
              </ng-container>
              <ng-container *ngIf="debtToFundToken.gt(0) && selectedPoolHasDebt()">
                <h5 class="text-uppercase text-white">
                  Estimated ROI
                </h5>
                <h2 class="display-2 mb-0 glowing">
                  {{estimatedROI.plus(mphROI).toFormat(4)}}%
                  
                </h2>
                <h5 class="mb-0 mb-md-4 text-white">
                  ({{estimatedROI.toFormat(4)}}% in {{selectedPool?.stablecoinSymbol}} + {{mphROI.toFormat(4)}}% in MPH)
                </h5>
                <div class="row">
                  <div class="col-6 mb-4">
                    <h5 class="text-uppercase text-white">
                      You fund
                    </h5>
                    <h2 class="mb-1 glowing">
                      ${{debtToFundUSD.toFormat(4)}}
                    </h2>
                    <h5 class="mb-3 text-white">{{debtToFundToken.toFormat(selectedPool?.stablecoinDecimals)}} {{selectedPool?.stablecoinSymbol}}</h5>
                  </div>
                  <div class="col-6 mb-4">
                    <h5 class="text-uppercase text-white">
                      You earn interest on
                    </h5>
                    <h2 class="mb-1 glowing">
                      ${{amountToEarnOnUSD.toFormat(4)}}
                    </h2>
                    <h5 class="mb-3 text-white">{{amountToEarnOnToken.toFormat(4)}} {{selectedPool?.stablecoinSymbol}}
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 mb-4">
                    <h5 class="text-uppercase text-white">
                      Estimated profit
                    </h5>
                    <h2 class="mb-1 glowing">
                      ${{estimatedProfitUSD.plus(mphRewardAmount.times(mphPriceUSD)).toFormat(4)}} 
                    </h2>
                    <h5 class="mb-3 text-white">{{estimatedProfitToken.toFormat(4)}} {{selectedPool?.stablecoinSymbol}} + {{mphRewardAmount.toFormat(4)}} MPH
                    </h5>
                  </div>
                  <div class="col-6 mb-4">
                    <h5 class="text-uppercase text-white">
                      MPH rewards
                      <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                        ngbTooltip="MPH rewards are distributed to the FRB holders when the FIRB's holder withdraws the full face value of the FIRB linked with the FRB at maturity.">
                        [i]
                      </button>
                    </h5>
                    <h2 class="mb-1 glowing">
                      ${{mphRewardAmount.times(mphPriceUSD).toFormat(4)}}
                    </h2>
                    <h5 class="mb-3 text-white">{{mphRewardAmount.toFormat(4)}} MPH
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 mb-4">
                    <h5 class="text-uppercase text-white">
                      Avg. maturation time
                      <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                        ngbTooltip="The average maturation time of the deposits. You receive interest from all deposits you fund (in the same bond) when any one is withdrawn.">
                        [i]
                      </button>
                    </h5>
                    <h2 class="mb-1 glowing">
                      {{averageMaturationTime.toFormat(4)}} days
                    </h2>
                  </div>
                  <div class="col-4 mb-4">
                    <h5 class="text-uppercase text-white">
                      Median maturation time
                      <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                        ngbTooltip="The median maturation time of the deposits. You receive interest from all deposits you fund (in the same bond) when any one is withdrawn.">
                        [i]
                      </button>
                    </h5>
                    <h2 class="mb-1 glowing">
                      {{medianMaturationTime.toFormat(4)}} days
                    </h2>
                  </div>
                  <div class="col-4 mb-4">
                    <button type="button" class="card-link" (click)="depositListIsCollapsed = !depositListIsCollapsed"
                      [attr.aria-expanded]="!depositListIsCollapsed">
                      <ng-container *ngIf="depositListIsCollapsed">Show</ng-container>
                      <ng-container *ngIf="!depositListIsCollapsed">Hide</ng-container> full deposit list
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div [(ngbCollapse)]="depositListIsCollapsed" class="w-100">
                    <div class="card">
                      <div class="card-body">
                        <table class="table mb-0">
                          <thead>
                            <th>
                              Deposit Amount ({{selectedPool?.stablecoinSymbol}})
                            </th>
                            <th>
                              Maturation time
                            </th>
                          </thead>
                          <tr *ngFor="let deposit of getDepositsToFundByMaturationTime()">
                            <td>
                              {{deposit.amount.toFormat(4)}}
                            </td>
                            <td>
                              {{timestampToDateString(deposit.maturationTimestamp)}}
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>

            <button class="card-link btn-block m-3" [disabled]="!canContinue() || wallet.watching" (click)="buyBond()">
              Continue
            </button>
          </div>

        </div>

      </div>
      <!-- FAQ -->
      <div class="card">
        <h2 class="mt-n3 bg-dark mb-4 mx-3 pl-3" id="faq">Frequently asked questions</h2>
        <div class="card-body">
          <div class="row mb-6">
            <div class="col-12 col-lg-6">
              <h3>What is a Floating-Rate Bond (FRB)?</h3>
              <p>
                The Floating-Rate Bond (FRB) allows you to fund the debt created by the Fixed-Interest Rate Bonds (FIRB). The debt is the fixed-interest rate promised to FIRB holders. You will earn the variable rate offered by the underlying protocol (Compound, Aave, etc.) on the debt funded + the FIRB initial deposit.
              </p>
              <p>As the FIRB takes 50% of the floating-rate’s 30-day exponential moving average from the underlying money market protocol like Compound, Aave, if this protocol’s floating-interest rate doesn't drop by more than 50%, you will be in profit. This profit can increase if the underlying variable-rate interest increases.</p>
              <p>
                To sum it up, funding floating-rate bonds allows someone to immediately fill up the debt of one or more FIRB, and in exchange they would receive the yield generated by those FIRB.
              </p>
            </div>
            <div class="col-12 col-lg-6">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HC0AYMaodOg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12 col-lg-6">
              <h3>Example of a Floating-Rate Bond (FRB)
              </h3>
              <ul class="p-3">
                <li>You fund the debt of a 1-year 100 DAI FIRB deposit, on which a 5% fixed-interest rate was offered;</li>
                <li>This FIRB is using Compound to generate the yield;</li>
                <li>The FRB’s value is (100 DAI + 5 DAI of debt) 105 DAI, so in other words, you funded 5 DAI to earn a floating-rate interest on 105 DAI, effectively leverage-long the DAI floating-rate on Compound with only 5 DAI;</li>
                <li>If the DAI market rate on Compound is 6% APY on average over the next year, as a FRB holder, you will receive 6.3 DAI when the FIRB will reach its maturity in 1 year;</li>
                <li>The return on investment for you will be 26%;</li>
              </ul>
            </div>
            <div class="col-12 col-lg-6">
              <h3>MPH rewards</h3>
              <p>FRB holders get rewarded with MPH tokens that can be staked to earn protocol's revenues.</p>
              <p>MPH rewards are distributed to the FRB holders when the FIRB's holder withdraws the full face value of the FIRB linked with the FRB at maturity.</p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12 col-lg-6">
              <h3><i class="fe fe-check-circle"></i> Pros</h3>
              <ul class="p-3">
                <li>Floating-rate bonds allow you to benefit from rising rates as the FRB's ROI adjusts to the market rates.</li>
                <li>FRBs allow you to leverage your position without much capital requirements. Eg. pay 5 to earn on 105.</li>
              </ul>
            </div>
            <div class="col-12 col-lg-6">
              <h3><i class="fe fe-x-circle"></i> Cons</h3>
              <ul class="p-3">
                <li>FRBs can have temporary or permanent default risk if the FIRB's holder doesn't withdraw the full face value of the FIRB at maturity. The risk decreases if the FIRB holder minted a zero-coupon bond, allowing everyone to trigger the FIRB's full face value withdrawal.</li>
                <li>If market interest rates fall, the FRB's ROI may fall as well.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
</div>
