<div class="card mb-4 mb-lg-0">
  <div class="card-header">
    <h4
      class="card-title mb-0"
      i18n="@@mphLiquidity"
      placement="top"
      i18n-ngbTooltip="@@mphLiquidityHelpText"
      ngbTooltip="The amount (USD) of liquidity for MPH trading pairs (e.g. MPH/ETH)."
    >
      MPH Liquidity
      <span
        class="badge badge-soft-success ml-1"
        *ngIf="
          wallet.networkID === constants.CHAIN_ID.POLYGON ||
          wallet.networkID === constants.CHAIN_ID.AVALANCHE ||
          wallet.networkID === constants.CHAIN_ID.FANTOM
        "
        >Ethereum</span
      >
      <i class="fe fe-info ml-1 align-bottom"></i>
    </h4>
    <button
      type="button"
      class="btn btn-sm border-secondary py-0 px-2 m-1"
      [ngClass]="{ 'bg-secondary ': PERIOD_NAME === 'daily' }"
      (click)="changePeriod('daily')"
    >
      D
    </button>
    <button
      type="button"
      class="btn btn-sm border-secondary py-0 px-2 m-1"
      [ngClass]="{ 'bg-secondary ': PERIOD_NAME === 'weekly' }"
      (click)="changePeriod('weekly')"
    >
      W
    </button>
    <button
      type="button"
      class="btn btn-sm border-secondary py-0 px-2 m-1"
      [ngClass]="{ 'bg-secondary ': PERIOD_NAME === 'monthly' }"
      (click)="changePeriod('monthly')"
    >
      M
    </button>
  </div>
  <div class="card-body">
    <div *ngIf="loading" class="d-flex justify-content-center">Loading...</div>
    <canvas
      *ngIf="!loading"
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
</div>
