<!-- Modal: deposit money -->
<!-- IDEA: modal modalDeposit -->
<div class="modal-dialog modal-dialog-vertical" role="document">
  <div class="modal-content">
    <div class="modal-body pt-0 py-lg-0">
      <div class="row no-gutters align-items-center">
        <div class="col-auto">
          <a
            class="btn btn-link border-0 text-white pl-0"
            data-dismiss="modal"
            aria-label="Close"
            (click)="activeModal.dismiss()"
          >
            <i class="fe fe-arrow-left h2 mb-0"></i>
          </a>
        </div>
        <div class="col">
          <h1 class="mb-0 h3" i18n="@@modalDeposit">Deposit</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 pt-0">
          <div class="card mb-8">
            <div class="card-body">
              <form>
                <div
                  class="list-group list-group-flush list-group-activity mb-2"
                >
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-auto">
                        <div class="avatar avatar-sm">
                          <div
                            class="
                              avatar-title
                              font-size-lg
                              bg-dark
                              rounded-circle
                              text-white
                              border-gradient
                            "
                          >
                            1
                          </div>
                        </div>
                      </div>
                      <div class="col ml-n2">
                        <div class="form-group mb-0">
                          <label i18n="@@modalDepositSelectAsset"
                            >Select fixed APR asset</label
                          >
                          <div class="input-group input-group-lg">
                            <select
                              class="custom-select"
                              (change)="selectPool($event.target.value)"
                            >
                              <option
                                value="{{ pool.name }}"
                                *ngFor="let pool of poolList"
                                [selected]="pool.name === selectedPoolInfo.name"
                              >
                                {{ pool.stablecoinSymbol }} via
                                {{ pool.protocol }} Protocol
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-auto text-center">
                        <div class="avatar avatar-sm">
                          <div
                            class="
                              avatar-title
                              font-size-lg
                              bg-dark
                              rounded-circle
                              text-white
                              border-gradient
                            "
                          >
                            2
                          </div>
                        </div>
                      </div>
                      <div class="col ml-n2">
                        <div class="form-group mb-1">
                          <label>
                            <ng-container i18n="@@depositAmount"
                              >Deposit amount</ng-container
                            >
                            ({{ selectedDepositToken }})</label
                          >
                          <div class="input-group">
                            <input
                              type="text"
                              class="form-control form-control-lg"
                              placeholder="0.00"
                              aria-label=""
                              aria-describedby=""
                              [value]="depositAmount.toFixed()"
                              (input)="setDepositAmount($event.target.value)"
                            />
                          </div>
                        </div>
                        <div class="form-group mb-1" *ngIf="shouldDisplayZap">
                          <label i18n="@@depositToken"> Deposit token </label>
                          <div class="input-group input-group-lg">
                            <select
                              class="custom-select"
                              (change)="
                                selectZapDepositToken($event.target.value)
                              "
                            >
                              <option
                                value="{{ token }}"
                                *ngFor="let token of zapDepositTokens"
                                [selected]="token === selectedDepositToken"
                              >
                                {{ token }}
                              </option>
                            </select>
                          </div>
                        </div>
                        <button
                          class="btn btn-sm btn-dark mr-2"
                          type="button"
                          (click)="presetDepositAmount(25)"
                          i18n="@@presetDepositAmount25"
                        >
                          25%
                        </button>
                        <button
                          class="btn btn-sm btn-dark mr-2"
                          type="button"
                          (click)="presetDepositAmount(50)"
                          i18n="@@presetDepositAmount50"
                        >
                          50%
                        </button>
                        <button
                          class="btn btn-sm btn-dark mr-2"
                          type="button"
                          (click)="presetDepositAmount(75)"
                          i18n="@@presetDepositAmount75"
                        >
                          75%
                        </button>
                        <button
                          class="btn btn-sm btn-dark mr-2"
                          type="button"
                          (click)="presetDepositAmount(100)"
                          i18n="@@presetDepositAmount100"
                        >
                          100%
                        </button>
                        <div class="row mb-0">
                          <div class="col">
                            <small class="form-text text-muted mb-0"
                              >{{ depositTokenBalance.toFormat(4) }}
                              {{ selectedDepositToken }}
                              <ng-container i18n="@@depositAvailable"
                                >available | Min:</ng-container
                              >
                              {{ minDepositAmount.toFormat() }}
                              {{ selectedPoolInfo.stablecoinSymbol }}
                              <ng-container i18n="@@amountAvailablePerDeposit"
                                >per deposit</ng-container
                              ></small
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- / .row -->
                  </div>
                  <div class="list-group-item pb-0">
                    <div class="row">
                      <div class="col-auto text-center">
                        <div class="avatar avatar-sm">
                          <div
                            class="
                              avatar-title
                              font-size-lg
                              bg-dark
                              rounded-circle
                              text-white
                              border-gradient
                            "
                          >
                            3
                          </div>
                        </div>
                      </div>
                      <div class="col ml-n2">
                        <div class="form-row mb-0">
                          <div class="col">
                            <h4 class="mb-2" i18n="@@maturity">Maturity</h4>
                            <small class="text-muted">
                              <ng-container i18n="@@depositMaturityText"
                                >You will be able to redeem your deposit &
                                fixed-rate yield on the corresponding maturity
                                selected. Early withdrawal of your deposit is
                                allowed minus a 0.5% fee.
                              </ng-container>
                              <a
                                href="https://docs.88mph.app"
                                target="_blank"
                                rel="noopener noreferrer"
                                i18n="@@learnMore"
                              >
                                Learn more.</a
                              ></small
                            >
                          </div>
                        </div>
                        <div class="form-row mb-0">
                          <div
                            [ngClass]="
                              selectedZCBPools.length > 0 ? 'col-6' : 'col-12'
                            "
                          >
                            <div class="form-group mt-3">
                              <label i18n="@@selectCustomMaturity"
                                >Select a custom maturity</label
                              >
                              <div class="input-group align-items-center">
                                <input
                                  type="tel"
                                  class="
                                    form-control form-control-lg
                                    pr-1
                                    mr-3 mr-lg-2
                                    rounded
                                    mb-3 mb-lg-0
                                  "
                                  placeholder="0.00"
                                  aria-label=""
                                  aria-describedby=""
                                  [value]="depositTimeInDays.toFixed()"
                                  id="lock-period"
                                  data-mask="#,##0"
                                  data-mask-reverse="true"
                                  (input)="setDepositTime($event.target.value)"
                                />
                                <input
                                  type="range"
                                  class="custom-range"
                                  min="1"
                                  max="365"
                                  step="1"
                                  [value]="depositTimeInDays"
                                  (input)="setDepositTime($event.target.value)"
                                />
                              </div>
                              <small class="form-text text-muted my-2">
                                <ng-container i18n="@@depositMaturityMax"
                                  >Max:</ng-container
                                >
                                {{ maxDepositPeriodInDays }}
                                <ng-container i18n="@@depositMaturityMaxDays"
                                  >days</ng-container
                                >
                              </small>
                            </div>
                          </div>
                          <div
                            class="col-6"
                            *ngIf="selectedZCBPools.length > 0"
                          >
                            <div class="form-group mb-0">
                              <label
                                for="PresetMaturity"
                                i18n="@@depositPresetMaturity"
                                >OR a preset maturity</label
                              >
                              <div class="input-group input-group-lg">
                                <select
                                  [(ngModel)]="presetMaturity"
                                  name="maturity"
                                  class="form-select custom-select"
                                  id="PresetMaturity"
                                  data-toggle="select"
                                  (ngModelChange)="setPresetMaturity()"
                                >
                                  <option [ngValue]="null" i18n="@@none">
                                    None
                                  </option>
                                  <option
                                    *ngFor="let pool of selectedZCBPools"
                                    [ngValue]="pool"
                                  >
                                    {{ pool.series }}
                                  </option>
                                </select>
                              </div>
                              <small
                                class="form-text text-muted my-2"
                                i18n="@@presetMaturityText"
                              >
                                Unlike custom maturity, preset maturity doesn't
                                allow early withdrawal of the principal. But you
                                can sell the principal at a discounted market
                                price on SushiSwap before it has reached its
                                maturity.
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- / .row -->
                  </div>
                </div>
                <div class="table-responsive p-3">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td
                          class="px-0 py-2 text-white border-0 small"
                          i18n="@@fixedAPR"
                        >
                          Fixed APR
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            placement="top"
                            i18n-ngbTooltip="@@depositAssetsText"
                            ngbTooltip="When users/protocols deposit assets into 88mph, they earn a fixed-rate yield during the duration of the deposit that is redeemable at maturity. A longer deposit's maturity will earn a lower rate because we can't predicte the variable yield rate on the underlying protocols used to generate the yield (Aave, Compound, etc.)."
                          ></i>
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <h4 class="mb-1 glowing">{{ apy.toFormat(2) }}%</h4>
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="px-0 py-2 text-white border-0 small"
                          i18n="@@depositYieldEarnedMaturity"
                        >
                          Yield earned at maturity
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            placement="top"
                            i18n-ngbTooltip="@@YieldEarnedMaturityText"
                            ngbTooltip="Fixed-rate yield available for withdraw at maturity."
                          ></i>
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <span class="h4 mb-1 glowing">
                            {{
                              helpers
                                .applyDepositFee(
                                  interestAmountToken,
                                  selectedPoolInfo
                                )
                                .toFormat(4)
                            }}
                            {{ selectedPoolInfo.stablecoinSymbol }}
                          </span>
                          <span class="h5 text-muted">
                            ${{
                              helpers
                                .applyDepositFee(
                                  interestAmountUSD,
                                  selectedPoolInfo
                                )
                                .toFormat(2)
                            }}
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 py-2 text-white border-0 small">
                          <ng-container i18n="@@TotalAvailableMaturity"
                            >Total available at maturity</ng-container
                          >
                          | {{ depositMaturation }}
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            placement="top"
                            ngbTooltip="Initial deposit + fixed-rate yield earned."
                            i18n-ngbTooltip="@@TotalAvailableMaturityText"
                          ></i>
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <span class="h4 mb-1 glowing">
                            {{
                              helpers
                                .applyDepositFee(
                                  depositAmount,
                                  selectedPoolInfo
                                )
                                .plus(
                                  helpers.applyDepositFee(
                                    interestAmountToken,
                                    selectedPoolInfo
                                  )
                                )
                                .toFormat(4)
                            }}
                            {{ selectedPoolInfo.stablecoinSymbol }}
                          </span>
                          <span class="h5 text-muted">
                            ${{
                              helpers
                                .applyDepositFee(
                                  depositAmountUSD,
                                  selectedPoolInfo
                                )
                                .plus(
                                  helpers.applyDepositFee(
                                    interestAmountUSD,
                                    selectedPoolInfo
                                  )
                                )
                                .toFormat(2)
                            }}
                          </span>
                          <small *ngIf="selectedPoolInfo.depositFee"
                            >Note: A {{ selectedPoolInfo.depositFee * 100 }}%
                            fee is taken by the underlying yield protocol ({{
                              selectedPoolInfo.protocol
                            }})</small
                          >
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="px-0 py-2 text-white border-0 small"
                          i18n="@@mphRewards"
                        >
                          MPH rewards
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            placement="top"
                            i18n-ngbTooltip="@@mphRewardsExplained"
                            ngbTooltip="Using 88mph gives rewards in MPH token. MPH rewards are vested linearly over the deposit duration. You can claim your MPH rewards whenever you want over the vesting period. We invite you to stake your MPH for xMPH, allowing you to earn protocol revenues via our bi-weekly buy-back mechanism, and voting rights."
                          ></i>
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <span class="h4 mb-1 glowing">
                            {{ mphRewardAmount.toFormat(2) }} MPH
                          </span>
                          <span class="h5 text-muted">
                            ${{
                              mphRewardAmount.times(mphPriceUSD).toFormat(2)
                            }}
                          </span>
                        </td>
                      </tr>
                      <!--displayed if preset maturity selected-->
                      <tr *ngIf="presetMaturity">
                        <td
                          class="px-0 py-2 text-white border-0 small"
                          i18n="@@mphAPR"
                        >
                          MPH APR
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            placement="top"
                            i18n-ngbTooltip="@@mphAPRStakeText"
                            ngbTooltip="Earned by providing liquidity and stake your SushiSwap SLP tokens on the 88mph Stake page."
                          ></i>
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <h4 class="mb-1 glowing">
                            +{{ mphAPY.toFormat(2) }}%
                          </h4>
                        </td>
                      </tr>
                      <tr *ngIf="!presetMaturity">
                        <td
                          class="px-0 py-2 text-white border-0 small"
                          i18n="@@mphAPR"
                        >
                          MPH APR
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            placement="top"
                            i18n-ngbTooltip="@@mphAPRText"
                            ngbTooltip="MPH APR varies based on the USD value of MPH. The APR is just a representation on how these MPH rewards would be during a 1-year period"
                          ></i>
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <h4 class="mb-1 glowing">
                            +{{ mphAPY.toFormat(2) }}%
                          </h4>
                        </td>
                      </tr>
                      <tr style="border-top: 1px dotted white">
                        <td
                          class="px-0 py-2 text-white border-0 small"
                          i18n="@@totalAvailableIncluMPH"
                        >
                          Total available at maturity (incl. MPH)
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            placement="top"
                            i18n-ngbTooltip="@@TotalDepositText"
                            ngbTooltip="Initial deposit + fixed-rate yield earned + MPH tokens"
                          ></i>
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <h4 class="mb-1 glowing">
                            ${{
                              helpers
                                .applyDepositFee(
                                  depositAmountUSD,
                                  selectedPoolInfo
                                )
                                .plus(
                                  helpers.applyDepositFee(
                                    interestAmountUSD,
                                    selectedPoolInfo
                                  )
                                )
                                .plus(mphRewardAmount.times(mphPriceUSD))
                                .toFormat(4)
                            }}
                          </h4>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="isLoading" class="load-holder my-3">
                  <div
                    class="spinner-grow spinner-grow-sm mr-2 text-warning"
                    role="status"
                    *ngIf="!txConfirmed"
                  ></div>
                  <span class=""> {{ loadingMessage }}</span>
                </div>
                <button
                  *ngIf="depositAmount.lte(0)"
                  type="button"
                  class="btn btn-lg btn-block btn-bg-gradient mb-3"
                  [disabled]="true"
                  i18n="@@enterAnAmount"
                >
                  Enter an Amount
                </button>
                <button
                  *ngIf="
                    tokenAllowance.lt(depositAmount) && depositAmount.gt(0)
                  "
                  class="btn btn-lg btn-bg-gradient btn-block mb-4"
                  type="button"
                  (click)="approve()"
                  [disabled]="!this.wallet.connected || this.wallet.watching"
                  i18n="@@approve"
                >
                  Approve
                </button>
                <button
                  *ngIf="
                    tokenAllowance.gte(depositAmount) &&
                    depositTokenBalance.lt(depositAmount) &&
                    depositAmount.gt(0)
                  "
                  type="button"
                  class="btn btn-lg btn-block btn-bg-gradient mb-3"
                  [disabled]="true"
                >
                  <ng-container i18n="@@depositStepsCompleted"
                    >Not enough</ng-container
                  >
                  {{ selectedPoolInfo.stablecoinSymbol }}
                  <ng-container i18n="@@depositStepsCompleted"
                    >available</ng-container
                  >
                </button>
                <button
                  *ngIf="
                    tokenAllowance.gte(depositAmount) &&
                    depositTokenBalance.gte(depositAmount) &&
                    depositAmount.gt(0) &&
                    (!name || !imageFile || !description) &&
                    (name || imageFile || description)
                  "
                  type="button"
                  class="btn btn-lg btn-block btn-bg-gradient mb-3"
                  [disabled]="true"
                  i18n="@@NFTDataDescription"
                >
                  Add a name, image file, and description to your NFT
                </button>
                <button
                  *ngIf="
                    tokenAllowance.gte(depositAmount) &&
                    depositTokenBalance.gte(depositAmount) &&
                    depositAmount.gt(0) &&
                    ((name && imageFile && description) ||
                      (!name && !imageFile && !description))
                  "
                  class="btn btn-lg btn-bg-gradient btn-block mb-4"
                  type="button"
                  (click)="deposit()"
                  [disabled]="
                    !canContinue() || this.wallet.watching || isLoading
                  "
                  routerLink="/earn"
                  i18n="@@depositBtn"
                >
                  Deposit
                </button>
                <div class="form-row text-center">
                  <div class="col">
                    <div class="form-group mb-0">
                      <a
                        class="btn btn-link text-primary p-0"
                        data-toggle="collapse"
                        href="#collapseExample"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseExample"
                      >
                        <label for="NFTmetadata" i18n="@@NFTCustomData"
                          >Custom NFT metadata (optional)
                          <i class="fe fe-chevron-down ml-auto"></i
                        ></label>
                      </a>
                      <div class="collapse text-left" id="collapseExample">
                        <div
                          class="
                            list-group list-group-flush list-group-activity
                            mb-2
                          "
                        >
                          <small
                            id="NFTmetadataHelp"
                            class="form-text text-muted text-left"
                          >
                            <ng-container i18n="@@NFTMetadataHelp1"
                              >88mph's deposits are ERC-720 tokens that you can
                              customize with JSON metadata schemas, for example,
                              a title, a description, an image,
                              etc</ng-container
                            >
                            <a
                              href="https://opensea.io/assets/0x9d481e42d9a2b52397262cdbe76abf3ca7b52203/34"
                              target="_blank"
                              i18n="@@NFTMetadataHelp2"
                              >(example)</a
                            >.
                            <ng-container i18n="@@NFTMetadataHelp3">
                              We invite you to learn more about NFT metadata on
                            </ng-container>
                            <a
                              href="https://nftschool.dev/reference/metadata-schemas/#intro-to-json-schemas"
                              target="_blank"
                              rel="noopener noreferrer"
                              i18n="@@NFTMetadataHelp4"
                              >NFT School</a
                            >
                            <ng-container i18n="@@NFTMetadataHelp5"
                              >and to store your files on</ng-container
                            >
                            <a
                              href="https://nft.storage/"
                              target="_blank"
                              rel="noopener noreferrer"
                              i18n="@@NFTMetadataHelp6"
                              >NFT Storage</a
                            >.</small
                          >
                          <small class="text-warning"
                            >Please note that it can take several minutes to get
                            the metadata updated, especially for large
                            files.</small
                          >
                          <div class="list-group-item">
                            <div class="row">
                              <div class="col-auto">
                                <div class="avatar avatar-sm">
                                  <div
                                    class="
                                      avatar-title
                                      font-size-lg
                                      bg-dark
                                      rounded-circle
                                      text-white
                                      border-gradient
                                    "
                                    i18n="@@NFTDescription1"
                                  >
                                    1
                                  </div>
                                </div>
                              </div>
                              <div class="col ml-n2">
                                <div class="form-group">
                                  <label i18n="@@NFTName">Name</label>
                                  <input
                                    type="text"
                                    class="form-control form-control-lg w-100"
                                    [(ngModel)]="name"
                                    name="name"
                                    placeholder="Item Name"
                                    i18n-placeholder="@@NFTName"
                                    aria-describedby="nameHelp"
                                  />
                                  <small
                                    id="nameHelp"
                                    class="form-text text-muted"
                                    i18n="@@NFTNameHelp"
                                    >The name to refer to your NFT.</small
                                  >
                                </div>
                              </div>
                            </div>
                            <!-- / .row -->
                          </div>

                          <div class="list-group-item">
                            <div class="row">
                              <div class="col-auto text-center">
                                <div class="avatar avatar-sm">
                                  <div
                                    class="
                                      avatar-title
                                      font-size-lg
                                      bg-dark
                                      rounded-circle
                                      text-white
                                      border-gradient
                                    "
                                    i18n="@@NFTDescription2"
                                  >
                                    2
                                  </div>
                                </div>
                              </div>
                              <div class="col ml-n2">
                                <div class="form-group">
                                  <label for="Media" i18n="@@NFTMedia"
                                    >Upload Image</label
                                  >
                                  <input
                                    type="file"
                                    accept="image/*"
                                    (change)="
                                      updateImageFile($event.target.files)
                                    "
                                    class="form-control form-control-lg w-100"
                                    aria-describedby="mediaHelp"
                                  />
                                  <small
                                    id="mediaHelp"
                                    class="form-text text-muted"
                                    i18n="@@NFTMediaType"
                                    >Attach a jpg, png, or gif to your
                                    NFT.</small
                                  >
                                </div>
                                <img
                                  *ngIf="imageURL"
                                  class="img-fluid img-thumbnail rounded"
                                  [src]="imageURL"
                                  width="100%"
                                />
                              </div>
                            </div>
                            <!-- / .row -->
                          </div>

                          <div class="list-group-item">
                            <div class="row">
                              <div class="col-auto text-center">
                                <div class="avatar avatar-sm">
                                  <div
                                    class="
                                      avatar-title
                                      font-size-lg
                                      bg-dark
                                      rounded-circle
                                      text-white
                                      border-gradient
                                    "
                                    i18n="@@NFTDescription3"
                                  >
                                    3
                                  </div>
                                </div>
                              </div>
                              <div class="col ml-n2">
                                <div class="form-group">
                                  <label for="Media"
                                    >Upload Media (optional)</label
                                  >
                                  <input
                                    type="file"
                                    accept="audio/*, video/*"
                                    (change)="
                                      updateMediaFile($event.target.files)
                                    "
                                    class="form-control form-control-lg w-100"
                                    aria-describedby="mediaHelp"
                                  />
                                  <small
                                    id="mediaHelp"
                                    class="form-text text-muted"
                                    >Attach a MP3, MP4, etc to your NFT.</small
                                  >
                                </div>
                                <video
                                  *ngIf="
                                    mediaURL && !mediaFile.name.endsWith('.mp3')
                                  "
                                  [src]="mediaURL"
                                  width="100%"
                                  autoplay
                                  loop
                                ></video>
                                <audio
                                  *ngIf="
                                    mediaURL && mediaFile.name.endsWith('.mp3')
                                  "
                                  [src]="mediaURL"
                                  width="90%"
                                  autoplay
                                  loop
                                ></audio>
                                <img
                                  *ngIf="
                                    mediaURL && mediaFile.name.endsWith('.mp3')
                                  "
                                  class="img-fluid img-thumbnail rounded"
                                  [src]="audioURL"
                                  width="90%"
                                />
                              </div>
                            </div>
                            <!-- / .row -->
                          </div>

                          <div class="list-group-item pb-0">
                            <div class="row">
                              <div class="col-auto text-center">
                                <div class="avatar avatar-sm">
                                  <div
                                    class="
                                      avatar-title
                                      font-size-lg
                                      bg-dark
                                      rounded-circle
                                      text-white
                                      border-gradient
                                    "
                                  >
                                    4
                                  </div>
                                </div>
                              </div>
                              <div class="col ml-n2">
                                <div>
                                  <label
                                    for="Description"
                                    i18n="@@NFTDescription"
                                    >Description</label
                                  >
                                  <textarea
                                    name="message"
                                    [(ngModel)]="description"
                                    placeholder="More information about your NFT."
                                    i18n-placeholder="@@NFTDescriptionHelp"
                                    class="form-control form-control-lg w-100"
                                  ></textarea>
                                  <small
                                    id="mediaHelp"
                                    class="form-text text-muted"
                                    i18n="@@NFTMediaHelp"
                                    >Describe your fixed-rate yield bearing NFT
                                    to the world.</small
                                  >
                                </div>
                              </div>
                            </div>
                            <!-- / .row -->
                          </div>

                          <div class="list-group-item pb-0">
                            <div class="row">
                              <div class="col-auto text-center">
                                <div class="avatar avatar-sm">
                                  <div
                                    class="
                                      avatar-title
                                      font-size-lg
                                      bg-dark
                                      rounded-circle
                                      text-white
                                      border-gradient
                                    "
                                    i18n="@@NFTDescription4"
                                  >
                                    5
                                  </div>
                                </div>
                              </div>
                              <div class="col ml-n2">
                                <div
                                  *ngFor="
                                    let a of attributes.controls;
                                    let i = index
                                  "
                                  class="attribute-item"
                                  [formGroup]="a"
                                >
                                  <div class="form-group">
                                    <label i18n="@@NFTAttributeName"
                                      >Attribute Name</label
                                    >
                                    <input
                                      type="text"
                                      formControlName="trait_type"
                                      class="form-control form-control-lg w-100"
                                      placeholder="Hat"
                                      i18n-placeholder="
                                        @@NFTAttributePlaceholder"
                                    />
                                  </div>
                                  <div class="form-group">
                                    <label i18n="@@NFTAttributeValue"
                                      >Attribute Value</label
                                    >
                                    <input
                                      type="text"
                                      formControlName="value"
                                      class="form-control form-control-lg w-100"
                                      placeholder="Rainbow Baseball Cap"
                                      i18n-placeholder="
                                        @@NFTAttributeValuePlaceholder"
                                    />
                                  </div>
                                  <button
                                    class="btn btn-sm border-gradient mb-3"
                                    type="button"
                                    (click)="deleteAttribute(i)"
                                    i18n="@@deleteAttributeBtn"
                                  >
                                    Delete Attribute
                                  </button>
                                </div>
                                <button
                                  class="btn btn-sm btn-bg-gradient mb-2"
                                  type="button"
                                  (click)="addAttribute()"
                                  i18n="@@addAttributeBtn"
                                >
                                  Add Attribute
                                </button>
                                <small
                                  id=""
                                  class="form-text text-muted"
                                  i18n="@@optionalNFTAttributes"
                                  >Optional - Any additional properties and
                                  traits for your NFT.</small
                                >
                              </div>
                            </div>
                            <!-- / .row -->
                          </div>

                          <div class="list-group-item pb-0">
                            <div class="row">
                              <div class="col-auto text-center">
                                <div class="avatar avatar-sm">
                                  <div
                                    class="
                                      avatar-title
                                      font-size-lg
                                      bg-dark
                                      rounded-circle
                                      text-white
                                      border-gradient
                                    "
                                    i18n="@@NFTDescription5"
                                  >
                                    6
                                  </div>
                                </div>
                              </div>
                              <div class="col ml-n2">
                                <div class="form-group">
                                  <label
                                    for="externalURL"
                                    i18n="@@nftExternalUrl"
                                    >External URL (optional)</label
                                  >
                                  <input
                                    type="text"
                                    [(ngModel)]="externalURL"
                                    name="externalURL"
                                    placeholder="https://example.com"
                                    i18n="@@nftExternalUrlPlaceholder"
                                    class="form-control form-control-lg w-100"
                                  />
                                  <small
                                    id=""
                                    class="form-text text-muted"
                                    i18n="@@nftExternalUrlText"
                                    >An external link related to your
                                    NFT.</small
                                  >
                                </div>
                              </div>
                            </div>
                            <!-- / .row -->
                          </div>
                        </div>
                        <!-- <input
                          type="text"
                          class="form-control mb-1"
                          id="NFTmetadata"
                          aria-describedby="NFTmetadataHelp"
                          placeholder="Link to your JSON file"
                        /> -->
                      </div>
                    </div>
                  </div>
                </div>
                <p class="small" i18n="@@depositAwarenessText">
                  88mph is a non-custodial, fully on-chain protocol acting as an
                  intermediary between you and third-party variable yield rate
                  protocols to offer the best fixed yield rate on your assets.
                </p>
                <p class="small">
                  <ng-container i18n="@@depositAwarenessText2"
                    >After confirming your deposit, it will generate a yield at
                    a variable rate on third-party protocols until it reaches
                    its maturity. Depositors receive an NFT (ERC-721)
                    representing their custom-maturity deposit or ERC-20 tokens
                    if it's a preset maturity. It gives you full control over
                    your deposits. Withdraw, top-up, roll over your deposit +
                    fixed-rate yield at any time.</ng-container
                  >
                  <a
                    href="https://docs.88mph.app/"
                    target="_blank"
                    rel="noopener noreferrer"
                    i18n="@@learnMore"
                    >Learn more.</a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
