<div *ngIf="pieChartData" class="card mb-4 mb-lg-0">
  <div class="card-header">
    <h4
      class="card-title mb-0"
      i18n="@@xmphSupplyDistribution"
      placement="top"
      ngbTooltip="The distribution of xMPH by address."
      i18n-ngbTooltip="@@mphSupplyDistributionText"
    >
      xMPH Holders
      <span
        class="badge badge-soft-success ml-1"
        *ngIf="
          wallet.networkID === constants.CHAIN_ID.POLYGON ||
          wallet.networkID === constants.CHAIN_ID.AVALANCHE ||
          wallet.networkID === constants.CHAIN_ID.FANTOM
        "
        >Ethereum</span
      >
      <i class="fe fe-info ml-1 align-bottom"></i>
    </h4>
  </div>
  <div class="card-body">
    <div *ngIf="loading" class="d-flex justify-content-center">Loading...</div>
    <canvas
      *ngIf="!loading"
      baseChart
      [datasets]="pieChartData"
      [labels]="pieChartLabels"
      [legend]="pieChartLegend"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
    >
    </canvas>
  </div>
</div>
