<link rel="stylesheet" [href]="themeURL" />

<app-header class="navbar navbar-expand-lg navbar-light"></app-header>
<app-sync-warning></app-sync-warning>
<div class="main-content">
  <router-outlet></router-outlet>
  <div class="container">
    <div
      class="row mb-6 pt-4"
      style="
        border-top: 1px solid;
        border-image-source: linear-gradient(
          to right,
          #161522 88%,
          #2d2bbc,
          #d53a9d
        ) !important;
        border-image-slice: 1;
      "
    >
      <div class="col-12 col-lg-1">
        <!-- Brand -->
        <div class="navbar-brand mr-lg-3">
          <img
            src="./assets/img/logo.svg"
            alt="..."
            class="navbar-brand-img mr-2"
          />
          <span class="h4 text-white d-lg-none">88mph</span>
        </div>
      </div>
      <div class="col-12 col-lg-2">
        <h5 class="pl-3 text-uppercase text-muted">Join the community</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://twitter.com/88mphapp"
              target="_blank"
              >Twitter</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://t.me/join_88mphapp"
              target="_blank"
              >Telegram</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://discord.gg/95pw2uQ7PE"
              target="_blank"
              >Discord</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://github.com/88mphapp"
              target="_blank"
              >GitHub</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://www.youtube.com/channel/UCEr3cuwaggjkw8TajaPSpgg"
              target="_blank"
              >YouTube</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://medium.com/88mphapp"
              target="_blank"
              >Medium</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-3">
        <h5 class="pl-3 text-uppercase text-muted"></h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <img
              style="margin-left: 16px"
              class="img-fluid rounded my-3"
              src="./assets/img/wechatbot.png"
              alt="WeChat 88mph"
              width="128px"
            />
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://weibo.com/u/7550683535"
              target="_blank"
            >
              微博
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-3">
        <h5 class="pl-3 text-uppercase text-muted">Governance</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://forum.88mph.app/"
              target="_blank"
              >Forum</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://snapshot.org/#/88mph.eth"
              target="_blank"
              >Vote</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-3">
        <h5 class="pl-3 text-uppercase text-muted">Protocol</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://docs.88mph.app/"
              target="_blank"
              >Documentations</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://docs.cn.88mph.app"
              target="_blank"
            >
              百科
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://docs.88mph.app/"
              target="_blank"
              >Developers</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://88mph.app/funding"
              target="_blank"
              >Grants</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="" target="_blank"
              >Terms of services</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-center mb-6">
      <div class="col-12 col-lg-8 mb-3">
        <h5 class="text-uppercase">Current version audited & secured by</h5>
        <a
          href="https://github.com/trailofbits/publications/tree/master/reviews"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="d-inline-block mr-4 mb-3"
            style="
              height: 24px;
              image-rendering: pixelated;
              filter: grayscale(1);
            "
            src="./assets/img/Trail-of-Bits-logo.svg"
            alt="Trail of Bits"
          />
        </a>

        <a
          href="https://github.com/peckshield/publications/blob/master/audit_reports/PeckShield-Audit-Report-88mphv3-v1.0.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="d-inline-block mr-4 mb-3"
            style="
              height: 24px;
              image-rendering: pixelated;
              filter: grayscale(1);
            "
            src="./assets/img/peckshield-logo.png"
            alt="PeckShield"
          />
        </a>
        <a
          href="https://code423n4.com/reports/2021-05-88mph/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="d-inline-block mr-4 mb-3"
            style="
              height: 24px;
              image-rendering: pixelated;
              filter: grayscale(1);
            "
            src="./assets/img/C4-banner.png"
            alt="code423n4"
          />
        </a>
        <a
          href="https://immunefi.com/bounty/88mphv3/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="d-inline-block mb-3"
            style="
              height: 24px;
              image-rendering: pixelated;
              filter: grayscale(1);
            "
            src="./assets/img/immunefi-logo.svg"
            alt="Immunefi"
          />
        </a>
      </div>
      <div class="col-12 col-lg-4 mb-3">
        <h5 class="text-uppercase">Powered by</h5>
        <a
          href="https://dashboard.alchemyapi.io/signup?referral=507c7bcb-3eb5-4ca7-b859-70471d743f21"
          target="_blank"
          ><img
            style="
              height: 42px;
              image-rendering: pixelated;
              filter: grayscale(1);
            "
            src="https://static.alchemyapi.io/images/marketing/badge.png"
            alt="Alchemy Supercharged"
        /></a>
      </div>
    </div>
  </div>
</div>
