<link rel="stylesheet" [href]="themeURL" />

<app-header class="navbar navbar-expand-lg navbar-light"></app-header>
<app-sync-warning></app-sync-warning>
<div
  class="
    alert alert-dark
    text-white
    rounded-0
    mb-0
    border-top-0 border-left-0 border-right-0
    mt-md-0
    alert-dismissible
    fade
    show
    text-center text-dark
  "
  role="alert"
  *ngIf="wallet.networkID === constants.CHAIN_ID.MAINNET"
  i18n="@@alertMessageMainnetLaunch"
>
  📣 88mph v3 is live! Read
  <a
    href="https://medium.com/88mphapp/88mph-v3-is-live-17ae617a2c42"
    target="_blank"
    rel="noopener noreferrer"
    >our announcement</a
  >. Please be mindful of the smart contract risks, learn more at:
  <a href="https://docs.88mph.app" target="_blank" rel="noopener noreferrer"
    >docs.88mph.app</a
  >
  <button
    type="button"
    class="close text-white"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">
      <i class="fe fe-x"></i>
    </span>
  </button>
</div>
<div
  class="
    alert alert-dark
    text-white
    rounded-0
    mb-0
    border-top-0 border-left-0 border-right-0
    mt-md-0
    alert-dismissible
    fade
    show
    text-center text-dark
  "
  role="alert"
  *ngIf="wallet.networkID === constants.CHAIN_ID.POLYGON"
  i18n="@@alertMessagePolygonLaunch"
>
  📣 88mph v3 is live on Polygon! Please be mindful of the smart contract risks,
  learn more at:
  <a href="https://docs.88mph.app" target="_blank" rel="noopener noreferrer"
    >docs.88mph.app</a
  >
  <button
    type="button"
    class="close text-white"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">
      <i class="fe fe-x"></i>
    </span>
  </button>
</div>
<div
  class="
    alert alert-dark
    text-white
    rounded-0
    mb-0
    border-top-0 border-left-0 border-right-0
    mt-md-0
    alert-dismissible
    fade
    show
    text-center text-dark
  "
  role="alert"
  *ngIf="wallet.networkID === constants.CHAIN_ID.AVALANCHE"
  i18n="@@alertMessageAvalancheLaunch"
>
  📣 88mph v3 is live on Avalanche! Please be mindful of the smart contract
  risks, learn more at:
  <a href="https://docs.88mph.app" target="_blank" rel="noopener noreferrer"
    >docs.88mph.app</a
  >
  <button
    type="button"
    class="close text-white"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">
      <i class="fe fe-x"></i>
    </span>
  </button>
</div>
<div
  class="
    alert alert-dark
    text-white
    rounded-0
    mb-0
    border-top-0 border-left-0 border-right-0
    mt-md-0
    alert-dismissible
    fade
    show
    text-center text-dark
  "
  role="alert"
  *ngIf="wallet.networkID === constants.CHAIN_ID.FANTOM"
  i18n="@@alertMessageFantomLaunch"
>
  📣 88mph v3 is live on Fantom! Please be mindful of the smart contract risks,
  learn more at:
  <a href="https://docs.88mph.app" target="_blank" rel="noopener noreferrer"
    >docs.88mph.app</a
  >
  <button
    type="button"
    class="close text-white"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">
      <i class="fe fe-x"></i>
    </span>
  </button>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
  <div class="container">
    <div
      class="row mb-4 mb-lg-6 pt-4"
      style="
        border-top: 1px solid;
        border-image-source: linear-gradient(
          to right,
          #161522 88%,
          #2d2bbc,
          #d53a9d
        ) !important;
        border-image-slice: 1;
      "
    >
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <!-- Brand -->
        <div class="navbar-brand mr-lg-3">
          <img
            src="./assets/img/logo.svg"
            alt="..."
            class="navbar-brand-img mr-2"
          />
          <span class="h4 text-white d-lg-none" i18n="@@88mph">88mph</span>
        </div>
      </div>
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <h5 class="pl-3 text-uppercase text-muted" i18n="@@joinTheCommunity">
          Join the community
        </h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://twitter.com/88mphapp"
              target="_blank"
              i18n="@@twitter"
              >Twitter</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://t.me/join_88mphapp"
              target="_blank"
              i18n="@@telegram"
              >Telegram</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://t.me/CN88mph"
              target="_blank"
              i18n="@@telegramCN"
              >Telegram - Chinese</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://discord.gg/95pw2uQ7PE"
              target="_blank"
              i18n="@@discord"
              >Discord</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://github.com/88mphapp"
              target="_blank"
              i18n="@@github"
              >GitHub</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://www.youtube.com/channel/UCEr3cuwaggjkw8TajaPSpgg"
              target="_blank"
              i18n="@@youtube"
              >YouTube</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://medium.com/88mphapp"
              target="_blank"
              i18n="@@medium"
              >Medium</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <h5 class="pl-3 text-uppercase text-muted" i18n="@@governance">
          Governance
        </h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://forum.88mph.app/"
              target="_blank"
              i18n="@@forum"
              >Forum</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://snapshot.org/#/88mph.eth"
              target="_blank"
              i18n="@@vote"
              >Vote</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <h5 class="pl-3 text-uppercase text-muted" i18n="@@protocol">
          Protocol
        </h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://docs.88mph.app/"
              target="_blank"
              i18n="@@documentations"
              >Documentations</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://docs.cn.88mph.app"
              target="_blank"
              i18n="@@百科"
            >
              百科
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://docs.88mph.app/"
              target="_blank"
              i18n="@@developers"
              >Developers</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://88mph.app/funding"
              target="_blank"
              i18n="@@grants"
              >Grants</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://drive.google.com/drive/folders/1cEOoeliKH6RJDlA0LClCXXSpBbo0t6BO?usp=sharing"
              target="_blank"
              i18n="@@brandAssets"
              >Brand assets</a
            >
          </li>
          <li class="nav-item d-none">
            <a
              class="nav-link text-white"
              href=""
              target="_blank"
              href=""
              target="_blank"
              i18n="@@termsOfService"
              >Terms of services</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://88mph.app/v2/"
              target="_blank"
              rel="noopener noreferrer"
              >88mph v2</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://88mph.app/v1/"
              target="_blank"
              rel="noopener noreferrer"
              >88mph v1</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="https://88mph.app/v0/"
              target="_blank"
              rel="noopener noreferrer"
              >88mph v0</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-center pb-6 px-3">
      <div class="col-12 col-lg-7 mb-3">
        <h5 class="text-uppercase" i18n="@@versionAudits">
          Current version audited & secured by
        </h5>
        <a
          href="https://github.com/trailofbits/publications/tree/master/reviews"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="d-inline-block mr-4 mb-3"
            style="
              height: 24px;
              image-rendering: pixelated;
              filter: grayscale(1);
            "
            src="./assets/img/Trail-of-Bits-logo.svg"
            alt="Trail of Bits"
            i18n-alt="@@trailofbits"
          />
        </a>

        <a
          href="https://github.com/peckshield/publications/blob/master/audit_reports/PeckShield-Audit-Report-88mphv3-v1.0.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="d-inline-block mr-4 mb-3"
            style="
              height: 24px;
              image-rendering: pixelated;
              filter: grayscale(1);
            "
            src="./assets/img/peckshield-logo.png"
            alt="PeckShield"
            i18n-alt="@@peckshield"
          />
        </a>
        <a
          href="https://code423n4.com/reports/2021-05-88mph/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="d-inline-block mr-4 mb-3"
            style="
              height: 24px;
              image-rendering: pixelated;
              filter: grayscale(1);
            "
            src="./assets/img/C4-banner.png"
            alt="code423n4"
            i18n-alt="@@code423n4"
          />
        </a>
        <a
          href="https://immunefi.com/bounty/88mphv3/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="d-inline-block mb-3"
            style="
              height: 24px;
              image-rendering: pixelated;
              filter: grayscale(1);
            "
            src="./assets/img/immunefi-logo.svg"
            alt="Immunefi"
            i18n-alt="@@immunefi"
          />
        </a>
      </div>
      <div class="col-12 col-lg-5 mb-3">
        <h5 class="text-uppercase" i18n="@@poweredBy">Powered by</h5>
        <a
          class="d-inline-block mb-3 mb-lg-0 mr-lg-3"
          href="https://dashboard.alchemyapi.io/signup?referral=507c7bcb-3eb5-4ca7-b859-70471d743f21"
          target="_blank"
          ><img
            style="height: 42px; image-rendering: pixelated"
            src="https://static.alchemyapi.io/images/marketing/badge.png"
            alt="Alchemy Supercharged"
            i18n-alt="@@alchemySupercharged"
        /></a>
        <a
          *ngIf="wallet.networkID === constants.CHAIN_ID.POLYGON"
          href="https://polygon.technology/"
          target="_blank"
          ><img
            style="height: 42px; image-rendering: pixelated"
            src="./assets/img/powered-by-polygon.svg"
            alt="Powered by Polygon"
            i18n-alt="@@poweredByPolygon"
        /></a>
        <a
          *ngIf="wallet.networkID === constants.CHAIN_ID.AVALANCHE"
          href="https://www.avax.network/"
          target="_blank"
          ><img
            style="height: 42px; image-rendering: pixelated"
            src="./assets/img/PoweredbyAvalanche_RedWhite.svg"
            alt="Powered by Avalanche"
            i18n-alt="@@poweredByAvalanche"
        /></a>
      </div>
    </div>
  </div>
</div>
