<link rel="stylesheet" [href]='themeURL'>

<app-sidebar class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light"></app-sidebar>
<app-header class="navbar navbar-expand-md d-none d-md-flex border-0"></app-header>
<app-sync-warning></app-sync-warning>
<div class="main-content">
  <router-outlet></router-outlet>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 mb-3">
        <h5 class="text-uppercase">Audited by</h5>
        <img class="d-inline-block mr-4 mb-3" style="height:32px; image-rendering: pixelated; filter: grayscale(1);" src="./assets/img/peckshield-logo.png" alt="PeckShield" />
        <img class="d-inline-block mr-4 mb-3" style="height:32px; image-rendering: pixelated; filter: grayscale(1);" src="./assets/img/quantstamp-logo.svg" alt="Quantstamp" />
        <img class="d-inline-block mb-3" style="height:32px; image-rendering: pixelated; filter: grayscale(1);" src="./assets/img/certik-logo.svg" alt="Certik" />
      </div>
      <div class="col-12 col-lg-4 mb-3">
        <h5 class="text-uppercase">Powered by</h5>
        <a href="https://dashboard.alchemyapi.io/signup?referral=507c7bcb-3eb5-4ca7-b859-70471d743f21" target="_blank"><img style="height:42px; image-rendering: pixelated; filter: grayscale(1);" src="https://static.alchemyapi.io/images/marketing/badge.png" alt="Alchemy Supercharged" /></a>
      </div>
    </div>
  </div>
</div>