<div class="container-fluid">

  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse"
    aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-purple"></span>
  </button>
  <!-- User (xs) -->
  <div class="navbar-user d-md-none">
    <div class="d-block">
      <button class="card-link mr-2" type="button" routerLink="/rewards">
        {{mphBalance.toFormat(4)}}<img src="./assets/img/icon-default.png" class="ml-1" alt="MPH token logo" width="18px">
      </button>
      <div class="btn-group">
        <button type="button" name="web3Connect" class="card-link" (click)="connectWallet()">
          <div *ngIf="wallet.connected && !wallet.watching">
            {{wallet.userAddress.substring(0, 14)}}
          </div>
          <div *ngIf="!wallet.connected && !wallet.watching">
            Connect Wallet
          </div>
          <div *ngIf="wallet.watching">
            {{wallet.watchedAddress.substring(0, 14)}}
          </div>
        </button>
        <button type="button" class="card-link dropdown-toggle dropdown-toggle-split px-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fe fe-chevron-down "></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right p-3" style="width: 300px;">
          <!-- Connected Wallet -->
          <span *ngIf="wallet.connected">
            <h6 class="dropdown-header px-0">Connected</h6>
            <button type="button" class="card-link" (click)="switchFocus(false)">
              {{wallet.userAddress.substring(0, 14)}}
            </button>
            <span *ngIf="!wallet.watching" class="badge">Viewing</span>
          </span>
          <!-- Watched Wallet -->
          <span *ngIf="wallet.watchedAddress != null">
            <h6 class="dropdown-header px-0">Watched</h6>
            <button type="button" class="card-link" (click)="switchFocus(true)">
              {{wallet.watchedAddress.substring(0, 14)}}
            </button>
            <span *ngIf="wallet.watching" class="badge">Viewing</span>
          </span>
          <!-- Add/Edit Watched Address -->
          <span *ngIf="wallet.watchedAddress == null">
            <h6 class="dropdown-header px-0">Watch address</h6>
          </span>
          <span *ngIf="wallet.watchedAddress != null">
            <h6 class="dropdown-header px-0">Edit watched address</h6>
          </span>
          <form #watchForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" [class.is-invalid]="address.invalid && address.dirty"
               class="form-control" pattern="^0x[a-fA-F0-9]{40}$" required #address="ngModel" name="watchAddress"
               id="TrackEthAddress"  placeholder="Add ENS domain or Ethereum address"
               [(ngModel)]="watchedModel.address">
               <small *ngIf="address.invalid && address.dirty" class="text-danger"> Please enter a valid address</small>
            </div>
            <button *ngIf="wallet.watchedAddress == null" type="submit" class="card-link" [disabled]="watchForm.form.invalid">Add watched address</button>
            <button *ngIf="wallet.watchedAddress != null" type="submit" class="card-link" [disabled]="watchForm.form.invalid">Edit watched address</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Collapse -->
  <div class="collapse navbar-collapse" id="sidebarCollapse">

    <div class="row">
      <div class="col">
        <a class="text-white text-left mb-3 d-block mt-3" [routerLink]="">
          <img class="logo" src="./assets/img/logo.png" class="mr-2" alt="88mph logo" width="42px">
          <span class="d-inline-block">88mph</span>
        </a>

        <!-- Navigation -->
        <ul class="navbar-nav" ngbNav [activeId]="route.url">
          <li class="nav-item" ngbNavItem="/deposits">
            <a class="nav-link text-white" routerLink="deposits" ngbNavLink>
              Fixed-interest rate bonds
            </a>
          </li>
          <li class="nav-item" ngbNavItem="/bonds">
            <a class="nav-link text-white" routerLink="bonds" ngbNavLink>
              Floating-rate bonds
            </a>
          </li>
          <li class="nav-item" ngbNavItem="/zero-coupon-bonds">
            <a class="nav-link text-white" routerLink="zero-coupon-bonds" ngbNavLink>
              Zero coupon bonds
            </a>
          </li>
          <li class="nav-item" ngbNavItem="/vesting">
            <a class="nav-link text-white" routerLink="vesting" ngbNavLink>
              MPH vesting
            </a>
          </li>
          <li class="nav-item" ngbNavItem="/rewards">
            <a class="nav-link text-white" routerLink="rewards" ngbNavLink>
              Stake MPH
            </a>
          </li>
          <li class="nav-item" ngbNavItem="/farming">
            <a class="nav-link text-white" routerLink="farming" ngbNavLink>
              Liquidity mining
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="https://snapshot.org/#/88mph.eth" target="_blank">
              Governance
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#sidebarPartners" data-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="sidebarPartners">
              Partners <span class="badge glowing mt-n1">
                NEW
              </span>
            </a>
            <div class="collapse" id="sidebarPartners">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="https://app.nsure.network/#/cover/my"
                    target="_blank">
                    Buy insurance policies on Nsure Network
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://app.coverprotocol.com/app/marketplace/protocols/88MPH"
                    target="_blank">
                    Buy insurance policies on Cover Protocol
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://app.bancor.network/eth/swap?from=0x1F573D6Fb3F13d689FF844B4cE37794d79a7FF1C&to=0x8888801aF4d980682e47f1A9036e589479e835C5" target="_blank">
                    Trade MPH on Bancor
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://app.uniswap.org/#/swap?inputCurrency=ETH&outputCurrency=0x8888801af4d980682e47f1a9036e589479e835c5" target="_blank">
                    Trade MPH on Uniswap
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://app.sushi.com/swap?inputCurrency=ETH&outputCurrency=0x8888801af4d980682e47f1a9036e589479e835c5"
                    target="_blank">
                    Trade MPH on SushiSwap
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://linkswap.app/#/swap?inputCurrency=0x514910771af9ca656af840dff83e8264ecf986ca&outputCurrency=0x8888801af4d980682e47f1a9036e589479e835c5" target="_blank">
                    Trade MPH on LinkSwap
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://app.rari.capital/fuse/pool/3" target="_blank">
                    Lend/borrow MPH on Rari.capital
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://app.mantradao.com/zenterest" target="_blank">
                    Lend/borrow MPH on Mantradao.com
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://unit.xyz/?collateral=0x8888801af4d980682e47f1a9036e589479e835c5" target="_blank">
                    Borrow USDP against MPH on Unit.xyz
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://www.dharma.io/token/0x8888801af4d980682e47f1a9036e589479e835c5" target="_blank">
                    Buy MPH w/ USD
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link small" href="https://docs.88mph.app/" target="_blank">
              Documentations
            </a>
          </li>
          <li class="nav-item" ngbNavItem="/stats">
            <a class="nav-link small" routerLink="stats" ngbNavLink>
              Stats
            </a>
          </li>                    
          <li class="nav-item">
            <a class="nav-link small" href="https://forum.88mph.app/" target="_blank">
              Forum
            </a>
          </li>
          <li class="nav-item" ngbNavItem="/funding">
            <a class="nav-link small" routerLink="funding" ngbNavLink>
              Funding
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link small" href="https://88mph.app/fm/" target="_blank">
              88.0 FM 📻
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sidebarAudits" data-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="sidebarAudits">
              Security
            </a>
            <div class="collapse" id="sidebarAudits">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link small"
                    href="https://gateway.pinata.cloud/ipfs/QmQq23FvF4dJNTjEyDGm1hDHBnLrpU1FmJJsch8kCSGt3U"
                    target="_blank">
                    Certik ZC bond audit
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small"
                    href="https://github.com/peckshield/publications/blob/master/audit_reports/peckshield-audit-report-88mph%20Zero%20Coupon%20Bonds-v1.0.pdf"
                    target="_blank">
                    PeckShield ZC bond audit
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small"
                    href="https://github.com/peckshield/publications/blob/master/audit_reports/peckshield-audit-report-88mph-v1.0.pdf"
                    target="_blank">
                    PeckShield v2 audit
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://certificate.quantstamp.com/full/88-mph" target="_blank">
                    Quantstamp v2 audit
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://defiyield.info/assets/pdf/88mph.pdf" target="_blank">
                    Defi Yield security analysis
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://immunefi.com/bounty/88mph/" target="_blank">
                    Bug bounty
                  </a>
                </li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#sidebarCN" data-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="sidebarAudits">
              加入中国社区
            </a>
            <div class="collapse" id="sidebarCN">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <img style="margin-left: 52px" class="img-fluid" src="./assets/img/wechatbot.png" alt="WeChat 88mph" width="128px">
                </li>
                <li class="nav-item">
                  <a class="nav-link small"
                    href="https://weibo.com/u/7550683535"
                    target="_blank">
                    微博
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small"
                    href="https://docs.cn.88mph.app"
                    target="_blank">
                    百科
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://t.me/join88mphchinese" target="_blank">
                    电报
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item mb-6">
            <a class="nav-link" href="#sidebarMore" data-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="sidebarMore">
              More
            </a>
            <div class="collapse" id="sidebarMore">
              <ul class="nav nav-sm flex-column">

                <li class="nav-item">
                  <a class="nav-link small" href="https://twitter.com/88mphapp" target="_blank">
                    Twitter
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://t.me/join_88mphapp" target="_blank">
                    Telegram
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://discord.gg/95pw2uQ7PE" target="_blank">
                    Discord
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://www.youtube.com/channel/UCEr3cuwaggjkw8TajaPSpgg"
                    target="_blank">
                    Youtube
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://medium.com/88mphapp" target="_blank">
                    Medium
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://github.com/88mphapp" target="_blank">
                    GitHub
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://forms.gle/UqKQ1LqhwAFCBWGBA" target="_blank">
                    Feedback
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://www.coingecko.com/en/coins/88mph" target="_blank">
                    Coingecko
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://debank.com/projects/88mph2" target="_blank">
                    Debank
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://defillama.com/protocol/88mph" target="_blank">
                    DeFi Llama
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://defipulse.com" target="_blank">
                    DeFi Pulse
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://88mph.app/v1" target="_blank">
                    V1
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link small" href="https://88mph.app/v0" target="_blank">
                    V0
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="btn-group-toggle fixed-bottom fixed-bottom-switch bg-dark py-3 px-4 border-top" data-toggle="buttons">
          <ng-container *ngFor="let themeName of app.themes">
            <button class="card-link mr-3" (click)="app.setTheme(themeName)">
              <input type="radio" name="colorScheme" value={{themeName}} [checked]="app.themeName === themeName">
              {{themeName}}
            </button>
          </ng-container>
        </div>
      </div>
    </div>

  </div> <!-- / .navbar-collapse -->

</div>
