<!-- Modal: modal-stake-mph -->
<!-- IDEA: modal modalStake -->
<div class="modal-dialog modal-dialog-vertical" role="document">
  <div class="modal-content">
    <div class="modal-body pt-0 py-lg-0">
      <div class="row no-gutters">
        <div class="col-auto mr-auto">
          <button class="btn btn-link text-white pl-0" type="button" name="button" data-dismiss="modal"
            aria-label="Close" (click)="activeModal.dismiss()">
            <i class="fe fe-arrow-left h2 mb-0"></i>
          </button>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-6 pt-0 pr-lg-5">
          <div class="row justify-content-center no-gutters">
            <div class="col-12 col-lg-10 pt-3 pb-5">
              <h1 class="display-4 text-center">
                How much would you like to stake?
              </h1>
              <p class="text-white small text-center mb-5">
                Stake your MPH-ETH LP tokens to earn rewards.</p>
              <div class="card">
                <div class="card-body">
                  <div class="form-group mb-0">
                    <label>Amount</label>
                    <div class="input-group mb-2">
                      <input type="text" class="form-control form-control-lg" placeholder="0.00"
                        aria-label="stake-amount" [value]="stakeAmount.toString()"
                        (input)="setStakeAmount($event.target.value)">
                      <div class="input-group-append">
                        <button class="card-link small px-1" type="button"
                          (click)="setStakeAmount(this.mphBalance.toFixed(18))">Max</button>
                      </div>
                    </div>
                  </div>
                  <small class="form-text text-white mb-2">{{mphBalance.toFormat()}} MPH-ETH available</small>
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <tbody>
                        <tr>
                          <td class="px-0 text-white border-0">
                            <strong>New share of the staking pool</strong>
                            <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                              ngbTooltip="Your new % of shares in the MPH staking pool.">
                              [i]
                            </button>
                          </td>
                          <td class="text-right border-0">
                            <h4 class="mb-1 font-weight-normal glowing">{{newStakedMPHPoolProportion.toFormat(4)}}%</h4>
                            <span class="text-white">Current: {{stakedMPHPoolProportion.toFormat(4)}}%</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0 text-white border-0">
                            <strong>New reward rate</strong>
                            <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                              ngbTooltip="The reward you earn every day.">
                              [i]
                            </button>
                          </td>
                          <td class="text-right border-0">
                            <h4 class="mb-1 font-weight-normal glowing">{{newRewardPerDay.toFormat(4)}} MPH/day</h4>
                            <span class="text-white">Current: {{rewardPerDay.toFormat(4)}} MPH/day</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0 text-white border-0">
                            <strong>New reward rate USD</strong>
                            <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                              ngbTooltip="The reward you earn every day.">
                              [i]
                            </button>
                          </td>
                          <td class="text-right border-0">
                            <h4 class="mb-1 font-weight-normal glowing">
                              ${{newRewardPerDay.times(mphPriceUSD).toFormat(4)}}/day</h4>
                            <span class="text-white">Current:
                              ${{rewardPerDay.times(mphPriceUSD).toFormat(4)}}/day</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <button class="card-link btn-block" (click)="stake()" [disabled]="!canContinue()">Stake</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>