<!-- HEADER -->
<div class="header pt-4">
  <div class="container-fluid">

    <!-- Body -->
    <div class="header-body border-0 p-0">
      <div class="row align-items-end">
        <div class="col">
          <h1 class="mb-2">Earn fixed-rate interest on your crypto and MPH rewards.</h1>
          <p class="text-muted font-weight-bold mb-5">Get started by adding your crypto assets to the pools below. <a class="text-purple" href="https://docs.88mph.app/" target="_blank">
            Help <i class="fe fe-external-link"></i>
          </a></p>
          <div class="card-deck my-4">
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  Deposits balance
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Current total deposits in USD">
                    [i]
                  </button>
                </h5>

                <!-- Heading -->
                <h2 class="mb-3 glowing pl-3">
                  ${{totalDepositUSD.toFormat(DECIMALS)}}
                </h2>
                <!-- Button -->
                <button type="button" class="card-link small px-1 ml-3" (click)="openDepositModal()" [disabled]="wallet.watching">
                  <i class="fe fe-arrow-down mr-2 align-bottom"></i>Add
                </button>
              </div>
            </div>

            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  Interest balance
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Total fixed-rate interest earned from current deposits">
                    [i]
                  </button>
                </h5>

                <!-- Heading -->
                <h2 class="mb-0 glowing pl-3">
                  ${{totalInterestUSD.toFormat(DECIMALS)}}
                </h2>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  MPH earned
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Depositors get rewarded with MPH tokens that can be staked to earn rewards (protocol fees, harvested tokens, etc)">
                    [i]
                  </button>
                </h5>
                <!-- Heading -->
                <h2 class="mb-1 glowing pl-3">
                  {{totalMPHEarned.toFormat(DECIMALS)}} MPH
                </h2>
                <h5 class="mb-3 text-white pl-3">${{totalMPHEarned.times(mphPriceUSD).toFormat(DECIMALS)}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->

<!-- CARDS -->
<div class="container-fluid mb-6">
  <div class="row">
    <div class="col-12">
      <!-- Current deposits -->
      <div class="card mb-6" *ngIf="userPools.length">
        <h2 class="mt-n3 bg-dark mb-0 mx-3 pl-3">Current deposits</h2>
        <div class="table-responsive mb-0">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th class="text-dark">
                  Pools
                </th>
                <th class="text-dark">
                  Deposits
                </th>
                <th class="text-dark">
                  Interest earned
                </th>
                <th class="d-none text-dark">
                  MPH perm. rewards
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Depositors get rewarded with upfront MPH tokens that can be staked to earn fee-sharing and yield farming rewards. Most of the MPH tokens will need to be paid back when the deposit is withdrawn at maturation. This column is the token you keep after deposit's maturation.">
                    [i]
                  </button>
                </th>
                <th class="text-dark">
                  MPH rewards
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Depositors get rewarded with upfront MPH tokens that can be staked to earn fee-sharing and yield farming rewards. Most of the MPH tokens will need to be paid back when the deposit is withdrawn at maturation. This column is the token you keep after deposit's maturation.">
                    [i]
                  </button>
                </th>
                <th class="d-none text-dark">
                  MPH to repay
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="A certain % of the upfront MPH rewards will need to be paid back when the mature deposit is mature.">
                    [i]
                  </button>
                </th>
              </tr>
            </thead>
            <tbody class="list">
              <ng-container *ngFor="let userPool of userPools">
                <!-- Pool row -->
                <tr>
                  <td>
                    <div class="d-flex align-items-center">

                      <!-- Image -->
                      <div class="avatar avatar-xs">
                        <img class="avatar-img rounded-circle mr-3" src={{userPool.poolInfo.iconPath}} alt="...">
                      </div>

                      <div class="ml-3">

                        <!-- Heading -->
                        <h4 class="font-weight-normal mb-1">{{userPool.poolInfo.stablecoinSymbol}}</h4>

                        <!-- Text -->
                        <small class="text-muted">{{userPool.poolInfo.protocol}}</small>

                      </div>
                    </div>
                  </td>
                  <td>
                    <!-- Button -->
                    <button type="button" class="card-link small small px-1"
                      (click)="openDepositModal(userPool.poolInfo.name)" [disabled]="wallet.watching">
                      <i class="fe fe-arrow-down mr-2 align-bottom"></i>Add
                    </button>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-right"></td>
                </tr>
                <!-- Deposit rows -->
                <ng-container *ngFor="let deposit of userPool.deposits">
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">

                        <!-- Image -->
                        <h4 class="mb-0">#{{deposit.nftID}}</h4>

                        <div class="ml-3">

                          <!-- badge -->
                          <span class="badge mb-1"
                            [ngClass]="{'badge-soft-danger': deposit.locked, 'badge-soft-success': !deposit.locked}">
                            <ng-container *ngIf="deposit.locked">
                              Locked
                            </ng-container>
                            <ng-container *ngIf="!deposit.locked">
                              Unlocked
                            </ng-container>
                          </span>

                          <!-- Text -->
                          <small class="text-white d-block">{{deposit.countdownTimer.days}}d
                            {{deposit.countdownTimer.hours}}h {{deposit.countdownTimer.minutes}}m
                            {{deposit.countdownTimer.seconds}}s</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">${{deposit.amountUSD.toFormat(DECIMALS)}}</h4>
                      <div class="text-white d-block">{{deposit.amountToken.toFormat(DECIMALS)}}
                        {{userPool.poolInfo.stablecoinSymbol}}</div>
                      <div class="text-white mb-3">@ {{deposit.apy.toFormat(DECIMALS)}}% fixed APR</div>

                      <!-- Button -->
                      <button type="button" class="card-link small small px-1"
                        (click)="openWithdrawModal(deposit, userPool.poolInfo)" [disabled]="wallet.watching">
                        <i class="fe fe-arrow-up mr-2 align-bottom"></i>
                        <ng-container *ngIf="deposit.locked">
                          Withdraw early
                        </ng-container>
                        <ng-container *ngIf="!deposit.locked">
                          Withdraw
                        </ng-container>
                      </button>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">${{deposit.interestEarnedUSD.toFormat(DECIMALS)}}</h4>
                      <span class="text-white">{{deposit.interestEarnedToken.toFormat(DECIMALS)}}
                        {{userPool.poolInfo.stablecoinSymbol}}</span>
                    </td>
                    <td class="d-none">
                      <h4 class="mb-1 font-weight-normal glowing">
                        ${{deposit.realMPHReward.times(mphPriceUSD).toFormat(DECIMALS)}}</h4>
                      <span class="text-white d-block">{{deposit.realMPHReward.toFormat(DECIMALS)}} MPH</span>
                      <div class="text-white">@ {{deposit.mphAPY.toFormat(DECIMALS)}}% APY</div>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-normal glowing">
                        ${{deposit.mintMPHAmount.times(mphPriceUSD).toFormat(DECIMALS)}}
                      </h4>
                      <span class="text-white d-block">{{deposit.mintMPHAmount.toFormat(DECIMALS)}} MPH</span>
                      <div class="text-white">@ {{deposit.tempMPHAPY.toFormat(DECIMALS)}}% APY</div>
                    </td>
                    <td class="d-none">
                      <h4 class="mb-1 font-weight-normal glowing">
                        ${{deposit.mintMPHAmount.minus(deposit.realMPHReward).times(mphPriceUSD).toFormat(DECIMALS)}}
                      </h4>
                      <span class="text-white">
                        {{deposit.mintMPHAmount.minus(deposit.realMPHReward).toFormat(DECIMALS)}} MPH
                      </span>
                    </td>
                    <td class="text-right"></td>
                    <td></td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Explore fixed rate opportunities -->
      <div class="card" id="fixedRateOpportunities">
        <h2 class="mt-n3 bg-dark mb-0 mx-3 pl-3">Explore fixed-interest rate opportunities</h2>
        <div class="table-responsive mb-0">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th class="text-dark">
                  Pools
                </th>
                <th class="text-dark">
                  Total deposits
                </th>
                <th class="text-dark">
                  Fixed APR
                </th>
                <th class="d-none text-dark">
                  MPH APR
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Annualized MPH reward rate">
                    [i]
                  </button>
                </th>
                <th class="text-dark">
                  MPH APR
                  <button type="button" class="btn btn-sm btn-link p-0 text-white" placement="top"
                    ngbTooltip="Annualized MPH reward rate">
                    [i]
                  </button>
                </th>
              </tr>
            </thead>
            <tbody class="list">
              <tr class="border-left border-2 border-amber" *ngFor="let pool of allPoolList">
                <td>
                  <div class="d-flex align-items-center">

                    <!-- Image -->
                    <div class="avatar avatar-xs">
                      <img class="avatar-img rounded-circle mr-3" src={{pool.iconPath}} alt="...">
                    </div>

                    <div class="ml-3">

                      <!-- Heading -->
                      <h4 class="font-weight-normal mb-1">{{pool.stablecoinSymbol}}</h4>

                      <!-- Text -->
                      <small class="text-muted">{{pool.protocol}}</small>

                    </div>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-normal glowing">${{pool.totalDepositUSD.toFormat(DECIMALS)}}</h4>
                  <span class="text-white">{{pool.totalDepositToken.toFormat(DECIMALS)}} {{pool.stablecoinSymbol}}</span>
                  <div class="mt-3">
                    <!-- Button -->
                    <button type="button" class="card-link small small px-1" (click)="openDepositModal(pool.name)" [disabled]="wallet.watching">
                      <i class="fe fe-arrow-down mr-2 align-bottom"></i>Add
                    </button>
                  </div>
                </td>
                <td class="glowing">
                  {{pool.oneYearInterestRate.toFormat(DECIMALS)}}%
                </td>
                <td class="d-none glowing">
                  +{{pool.mphAPY.toFormat(DECIMALS)}}%
                </td>
                <td class="glowing">
                  +{{pool.tempMPHAPY.toFormat(DECIMALS)}}%
                </td>
                <td class="text-right"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div> <!-- / .row -->
</div>
