<div class="container mt-4">

  <div class="row align-items-end">
    <div class="col">
      <h1 class="title-bg-gradient display-2">Earn up to 8% fixed APY on your crypto.
      </h1>    
      <p class="text-white font-weight-bold mb-5 lead">Select a crypto or stablecoin below to start earning fixed-interest rates. Boost your yield with $MPH rewards. Exit anytime.
        <a class="text-purple" href="https://docs.88mph.app/" target="_blank">
        Learn more <i class="fe fe-external-link"></i>
      </a></p>
      <div class="card-deck mt-4 mb-6">
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 class="text-uppercase">
              Deposits balance
            </h5>

            <!-- Heading -->
            <h2 class="mb-3 glowing">
              ${{totalDepositUSD.toFormat(DECIMALS)}}
            </h2>
            <!-- Button -->
            <button type="button" class="btn btn-sm btn-bg-gradient" (click)="openDepositModal()" [disabled]="wallet.watching">
              <i class="fe fe-arrow-down mr-2 align-bottom"></i>Deposit
            </button>
          </div>
        </div>

        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 class="text-uppercase">
              Interest earned
            </h5>

            <!-- Heading -->
            <h2 class="mb-0 glowing">
              ${{totalInterestUSD.toFormat(DECIMALS)}}
            </h2>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 class="text-uppercase">
              MPH earned
            </h5>
            <!-- Heading -->
            <h2 class="mb-1 glowing">
              {{totalMPHEarned.toFormat(DECIMALS)}} MPH
            </h2>
            <h5 class="mb-3 text-white">${{totalMPHEarned.times(mphPriceUSD).toFormat(DECIMALS)}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
  <div class="row">
    <div class="col-12">
      <!-- Explore fixed rate opportunities -->
      <div class="card mb-6" id="fixedRateOpportunities">
        <div class="card-header">
          <h2 class="mb-0 mr-auto">Fixed-interest rate opportunities</h2>
          <button class="btn btn-sm btn-dark" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseaDAI multiCollapseaUSDC">Toggle all</button>
        </div>
        <div class="table-responsive mb-0">
          <table class="table table-hover table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th>
                  Pool
                </th>
                <th>
                  Your balance
                </th>
                <th>
                  Fixed APY / MPH rewards
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody class="list">
              <!-- Pool rows -->
              <tr>
                <td>
                  <div class="d-flex align-items-center">

                    <!-- Image -->
                    <div class="avatar avatar-xs">
                      <img class="avatar-img rounded-circle mr-3" src="./assets/img/token-icons/dai.svg" alt="...">
                    </div>

                    <div class="ml-3">

                      <!-- Heading -->
                      <h4 class="font-weight-normal mb-1">DAI</h4>

                      <!-- Text -->
                      <small class="text-muted">Aave</small>

                    </div>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 glowing">$0.00</h4>
                  <span class="text-white">0.00 TKN</span>
                </td>
                <td>
                  <span class="h4 mb-0 glowing">Up to 0.00%</span>
                  <span  class="badge badge-dark border border-light py-0 pl-0 mt-n2 ml-2" style="
                  border-radius: 14px;" placement="top"
                  ngbTooltip="Deposits with custom maturity get rewarded with vested MPH tokens that can be staked to earn rewards (protocol fees, harvested tokens, etc)">
                    <div class="avatar avatar-xs">
                      <img src="./assets/img/token-icons/mph-logo-24.svg" width="16" alt="..." class="avatar-img rounded-circle">
                    </div>
                    +0.00% APR
                  </span>
                </td>
                <td class="text-right">
                  <!-- Button -->
                  <button type="button" class="btn btn-sm btn-bg-gradient mr-3" (click)="openDepositModal()" [disabled]="wallet.watching">
                    <i class="fe fe-arrow-down mr-2 align-bottom"></i>Deposit
                  </button>
                  <button class="btn btn-sm btn-dark btn-rounded-circle" type="button" data-toggle="collapse" data-target="#multiCollapseaDAI" aria-expanded="false" aria-controls="multiCollapseaDAI">
                    <i class="fe fe-chevron-down"></i>
                  </button>
                </td>
              </tr>
              <!-- Deposit rows -->
              <tr class="multi-collapse collapse show" id="multiCollapseaDAI">
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="text-muted text-uppercase mb-1">Custom maturity</h6>
                      <!-- badge -->
                      <span class="badge mb-1 badge-soft-danger">
                          Locked
                      </span>

                      <!-- Text -->
                      <small class="text-muted d-block">d h m s</small>
                    </div>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-bold glowing">$0.00</h4>
                  <div class="text-muted d-block">0.00 TKN</div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-bold glowing">0.00% APY <span class="badge badge-dark border border-light py-0 pl-0 ml-2 mt-n1" style="
                    border-radius: 14px;" placement="top"
                    ngbTooltip="Deposits with custom maturity get rewarded with vested MPH tokens that can be staked to earn rewards (protocol fees, harvested tokens, etc)">
                      <div class="avatar avatar-xs">
                        <img src="./assets/img/token-icons/mph-logo-24.svg" width="16" alt="..." class="avatar-img rounded-circle">
                      </div>
                      +0.00% APR
                    </span></h4>
                  <span class="text-muted d-block">$0.00 / $0.00 (0.00 MPH) <a class="text-primary" href="">Claim</a></span>
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-dark mr-3">
                    <i class="fe fe-arrow-down mr-2 align-bottom"></i>Top up
                  </button>
                  <button type="button" class="btn btn-sm btn-dark">
                    <i class="fe fe-arrow-up mr-2 align-bottom"></i>
                      Withdraw early
                  </button>
                </td>
              </tr>
              <!-- Deposit rows -->
              <tr class="multi-collapse collapse show" id="multiCollapseaDAI">
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="text-muted text-uppercase mb-1">Custom maturity</h6>
                      <!-- badge -->
                      <span class="badge mb-1 badge-soft-danger">
                          Locked
                      </span>

                      <!-- Text -->
                      <small class="text-muted d-block">d h m s</small>
                    </div>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-bold glowing">$0.00</h4>
                  <div class="text-muted d-block">0.00 TKN</div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-bold glowing">0.00% APY <span class="badge badge-dark border border-light py-0 pl-0 ml-2 mt-n1" style="
                    border-radius: 14px;" placement="top"
                    ngbTooltip="Deposits with custom maturity get rewarded with vested MPH tokens that can be staked to earn rewards (protocol fees, harvested tokens, etc)">
                      <div class="avatar avatar-xs">
                        <img src="./assets/img/token-icons/mph-logo-24.svg" width="16" alt="..." class="avatar-img rounded-circle">
                      </div>
                      +0.00% APR
                    </span></h4>
                  <span class="text-muted d-block">$0.00 / $0.00 (0.00 MPH) <a class="text-primary" href="">Claim</a></span>
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-dark mr-3">
                    <i class="fe fe-arrow-down mr-2 align-bottom"></i>Top up
                  </button>
                  <button type="button" class="btn btn-sm btn-dark">
                    <i class="fe fe-arrow-up mr-2 align-bottom"></i>
                      Withdraw early
                  </button>
                </td>
              </tr>
              <!-- ZCB rows -->
              <tr class="multi-collapse collapse show" id="multiCollapseaDAI">
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="text-muted text-uppercase mb-1">Preset maturity</h6>
                      <!-- badge -->
                      <span class="badge mb-1 badge-soft-danger">
                          Locked
                      </span>
                      <!-- Text -->
                      <small class="text-muted d-block">month dd yyyy</small>
                    </div>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-bold glowing">$0.00</h4>
                  <div class="text-muted d-block">0.00 TKN</div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-bold glowing">0.00% APY <span class="badge badge-dark border border-light py-0 pl-0 ml-2 mt-n1" style="
                    border-radius: 14px;" placement="top"
                    ngbTooltip="Deposits with preset maturity can be used to provide liquidity on our trading pools, and earn trading fees and liquidity mining rewards ($MPH).">
                      <div class="avatar avatar-xs">
                        <img src="./assets/img/token-icons/mph-logo-24.svg" width="16" alt="..." class="avatar-img rounded-circle">
                      </div>
                      +0.00% APR
                    </span></h4>
                  <span class="text-muted d-block">$0.00 / $0.00 (0.00 MPH) <a class="text-primary" href="">Claim</a></span>
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-dark mr-3">
                    <i class="fe fe-arrow-down mr-2 align-bottom"></i>Top up
                  </button>
                  <button type="button" class="btn btn-sm btn-dark mr-3">
                    <i class="fe fe-arrow-down mr-2 align-bottom"></i>Stake
                  </button>
                  <button type="button" class="btn btn-sm btn-dark">
                    <i class="fe fe-arrow-up mr-2 align-bottom"></i>
                      Sell
                  </button>
                </td>
              </tr>
              <!-- Pool rows -->
              <tr>
                <td>
                  <div class="d-flex align-items-center">

                    <!-- Image -->
                    <div class="avatar avatar-xs">
                      <img class="avatar-img rounded-circle mr-3" src="./assets/img/token-icons/usdc.svg" alt="...">
                    </div>

                    <div class="ml-3">

                      <!-- Heading -->
                      <h4 class="font-weight-normal mb-1">USDC</h4>

                      <!-- Text -->
                      <small class="text-muted">Aave</small>

                    </div>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 glowing">$0.00</h4>
                  <span class="text-white">0.00 TKN</span>
                </td>
                <td>
                  <span class="h4 mb-0 glowing">Up to 0.00%</span>
                  <span  class="badge badge-dark border border-light py-0 pl-0 mt-n2 ml-2" style="
                  border-radius: 14px;" placement="top"
                  ngbTooltip="Deposits with custom maturity get rewarded with vested MPH tokens that can be staked to earn rewards (protocol fees, harvested tokens, etc)">
                    <div class="avatar avatar-xs">
                      <img src="./assets/img/token-icons/mph-logo-24.svg" width="16" alt="..." class="avatar-img rounded-circle">
                    </div>
                    +0.00% APR
                  </span>
                </td>
                <td class="text-right">
                  <!-- Button -->
                  <button type="button" class="btn btn-sm btn-bg-gradient mr-3">
                    <i class="fe fe-arrow-down mr-2 align-bottom"></i>Deposit
                  </button>
                  <button class="btn btn-sm btn-dark btn-rounded-circle" type="button" data-toggle="collapse" data-target="#multiCollapseaUSDC" aria-expanded="false" aria-controls="multiCollapseaUSDC">
                    <i class="fe fe-chevron-down"></i>
                  </button>
                </td>
              </tr>
              <!-- Deposit rows -->
              <tr class="multi-collapse collapse" id="multiCollapseaUSDC">
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <!-- badge -->
                      <span class="badge mb-1 badge-soft-danger">
                          Locked
                      </span>

                      <!-- Text -->
                      <small class="text-muted d-block">d h m s</small>
                    </div>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-bold glowing">$0.00</h4>
                  <div class="text-muted d-block">0.00 TKN</div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-bold glowing">0.00% APY <span class="badge badge-dark border border-light py-0 pl-0 ml-2 mt-n1" style="
                    border-radius: 14px;" placement="top"
                    ngbTooltip="Deposits with custom maturity get rewarded with vested MPH tokens that can be staked to earn rewards (protocol fees, harvested tokens, etc)">
                      <div class="avatar avatar-xs">
                        <img src="./assets/img/token-icons/mph-logo-24.svg" width="16" alt="..." class="avatar-img rounded-circle">
                      </div>
                      +0.00% APR
                    </span></h4>
                  <span class="text-muted d-block">$0.00 / $0.00 (0.00 MPH) <a class="text-primary" href="">Claim</a></span>
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-dark mr-3">
                    <i class="fe fe-arrow-down mr-2 align-bottom"></i>Top up
                  </button>
                  <button type="button" class="btn btn-sm btn-dark">
                    <i class="fe fe-arrow-up mr-2 align-bottom"></i>
                      Withdraw early
                  </button>
                </td>
              </tr>
              <tr class="multi-collapse collapse" id="multiCollapseaUSDC">
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <!-- badge -->
                      <span class="badge mb-1 badge-soft-danger">
                          Locked
                      </span>

                      <!-- Text -->
                      <small class="text-muted d-block">d h m s</small>
                    </div>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-bold glowing">$0.00</h4>
                  <div class="text-muted d-block">0.00 TKN</div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-bold glowing">0.00% APY <span class="badge badge-dark border border-light py-0 pl-0 ml-2 mt-n1" style="
                    border-radius: 14px;" placement="top"
                    ngbTooltip="Deposits with custom maturity get rewarded with vested MPH tokens that can be staked to earn rewards (protocol fees, harvested tokens, etc)">
                      <div class="avatar avatar-xs">
                        <img src="./assets/img/token-icons/mph-logo-24.svg" width="16" alt="..." class="avatar-img rounded-circle">
                      </div>
                      +0.00% APR
                    </span></h4>
                  <span class="text-muted d-block">$0.00 / $0.00 (0.00 MPH) <a class="text-primary" href="">Claim</a></span>
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-dark mr-3">
                    <i class="fe fe-arrow-down mr-2 align-bottom"></i>Top up
                  </button>
                  <button type="button" class="btn btn-sm btn-dark">
                    <i class="fe fe-arrow-up mr-2 align-bottom"></i>
                      Withdraw early
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->






  <!--v2 code-->
  <div class="row d-none">
    <div class="col-12">
      <!-- Current deposits -->
      <div class="card mb-6" *ngIf="userPools.length">
        <div class="card-header">
          <h2 class="mb-0">Current deposits</h2>
        </div>
        <div class="table-responsive mb-0">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th>
                  Pool
                </th>
                <th>
                  Deposits
                </th>
                <th>
                  Interest earned
                </th>
                <th>
                  MPH rewards
                </th>
              </tr>
            </thead>
            <tbody class="list">
              <ng-container *ngFor="let userPool of userPools">
                <!-- Pool row -->
                <tr>
                  <td>
                    <div class="d-flex align-items-center">

                      <!-- Image -->
                      <div class="avatar avatar-xs">
                        <img class="avatar-img rounded-circle mr-3" src={{userPool.poolInfo.iconPath}} alt="...">
                      </div>

                      <div class="ml-3">

                        <!-- Heading -->
                        <h4 class="font-weight-normal mb-1">{{userPool.poolInfo.stablecoinSymbol}}</h4>

                        <!-- Text -->
                        <small class="text-muted">{{userPool.poolInfo.protocol}}</small>

                      </div>
                    </div>
                  </td>
                  <td>
                    <!-- Button -->
                    <button type="button" class="btn btn-sm btn-bg-gradient"
                      (click)="openDepositModal(userPool.poolInfo.name)" [disabled]="wallet.watching">
                      <i class="fe fe-arrow-down mr-2 align-bottom"></i>New deposit
                    </button>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <!-- Deposit rows -->
                <ng-container *ngFor="let deposit of userPool.deposits">
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">


                        <div>

                          <!-- badge -->
                          <span class="badge mb-1"
                            [ngClass]="{'badge-soft-danger': deposit.locked, 'badge-soft-success': !deposit.locked}">
                            <ng-container *ngIf="deposit.locked">
                              Locked
                            </ng-container>
                            <ng-container *ngIf="!deposit.locked">
                              Unlocked
                            </ng-container>
                          </span>

                          <!-- Text -->
                          <small class="text-white d-block">{{deposit.countdownTimer.days}}d
                            {{deposit.countdownTimer.hours}}h {{deposit.countdownTimer.minutes}}m
                            {{deposit.countdownTimer.seconds}}s</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-bold glowing">${{deposit.amountUSD.toFormat(DECIMALS)}}</h4>
                      <div class="text-white d-block">{{deposit.amountToken.toFormat(DECIMALS)}}
                        {{userPool.poolInfo.stablecoinSymbol}}</div>
                    </td>
                    <td>
                      <h4 class="mb-1 font-weight-bold glowing">${{deposit.interestEarnedUSD.toFormat(DECIMALS)}}</h4>
                      <span class="text-white d-block">({{deposit.apy.toFormat(2)}}% APY)</span>
                    </td>
                    <td>
                      <span class="h4 mb-1 font-weight-bold glowing">
                        ${{deposit.realMPHReward.times(mphPriceUSD).toFormat(DECIMALS)}}</span>
                      <span  class="badge badge-dark border border-light py-0 pl-0 ml-2 mt-n1" style="
                      border-radius: 14px;" placement="top"
                      ngbTooltip="Deposits with custom maturity get rewarded with vested MPH tokens that can be staked to earn rewards (protocol fees, harvested tokens, etc)">
                        <div class="avatar avatar-xs">
                          <img src="./assets/img/token-icons/mph-logo-24.svg" width="16" alt="..." class="avatar-img rounded-circle">
                        </div>
                        +{{deposit.mphAPY.toFormat(2)}}% APR
                      </span>
                      <span class="text-white d-block">{{deposit.realMPHReward.toFormat(DECIMALS)}} MPH</span>
                    </td>
                    <td>
                      <button type="button" class="btn btn-sm btn-bg-gradient mr-3"
                        (click)="openDepositModal(userPool.poolInfo.name)" [disabled]="wallet.watching">
                        <i class="fe fe-arrow-down mr-2 align-bottom"></i>Top up
                      </button>
                      <button type="button" class="btn btn-sm border-gradient"
                      (click)="openWithdrawModal(deposit, userPool.poolInfo)" [disabled]="wallet.watching">
                        <i class="fe fe-arrow-up mr-2 align-bottom"></i>
                        <ng-container *ngIf="deposit.locked">
                          Withdraw early
                        </ng-container>
                        <ng-container *ngIf="!deposit.locked">
                          Withdraw
                        </ng-container>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Explore fixed rate opportunities -->
      <div class="card mb-6" id="fixedRateOpportunities">
        <div class="card-header">
          <h2 class="mb-0">Explore fixed-interest rate opportunities</h2>
        </div>
        <div class="table-responsive mb-0">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th>
                  Pool
                </th>
                <th>
                  Your balance
                </th>
                <th>
                  Earn fixed APY
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody class="list">
              <tr *ngFor="let pool of allPoolList">
                <td>
                  <div class="d-flex align-items-center">

                    <!-- Image -->
                    <div class="avatar avatar-xs">
                      <img class="avatar-img rounded-circle mr-3" src={{pool.iconPath}} alt="...">
                    </div>

                    <div class="ml-3">

                      <!-- Heading -->
                      <h4 class="font-weight-normal mb-1">{{pool.stablecoinSymbol}}</h4>

                      <!-- Text -->
                      <small class="text-muted">{{pool.protocol}}</small>

                    </div>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 glowing">${{pool.totalDepositUSD.toFormat(DECIMALS)}}</h4>
                  <span class="text-white">{{pool.totalDepositToken.toFormat(2)}} {{pool.stablecoinSymbol}}</span>
                </td>
                <td>
                  <span class="h4 mb-0 glowing">Up to {{pool.oneYearInterestRate.toFormat(2)}}%</span>
                  <span  class="badge badge-dark border border-light py-0 pl-0 mt-n2 ml-2" style="
                  border-radius: 14px;" placement="top"
                  ngbTooltip="Deposits with custom maturity get rewarded with vested MPH tokens that can be staked to earn rewards (protocol fees, harvested tokens, etc)">
                    <div class="avatar avatar-xs">
                      <img src="./assets/img/token-icons/mph-logo-24.svg" width="16" alt="..." class="avatar-img rounded-circle">
                    </div>
                    +{{pool.mphAPY.toFormat(2)}}%
                  </span>
                </td>
                <td>
                  <!-- Button -->
                  <button type="button" class="btn btn-bg-gradient border-0" (click)="openDepositModal(pool.name)" [disabled]="wallet.watching">
                    <i class="fe fe-arrow-down mr-2 align-bottom"></i>Deposit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div> <!-- / .row -->
</div>
