<!-- HEADER -->
<div class="header pt-4">
  <div class="container-fluid">

    <!-- Body -->
    <div class="header-body border-0 p-0">
      <div class="row align-items-end">
        <div class="col">
          <h1 class="mb-2">Vested MPH rewards</h1>
          <p class="text-muted font-weight-bold mb-5">Fixed-interest rate bond (FIRB) holders get MPH rewards linearly vested over 14, 30, or 270 days according to the FIRB pools selected. Withdraw
            your MPH rewards here. <a class="text-purple" href="https://docs.88mph.app/" target="_blank">
              Help <i class="fe fe-external-link"></i>
            </a></p>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->

<div class="container-fluid mb-6">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h2 class="mt-n3 bg-dark mb-0 mx-3 pl-3">Your vested MPH</h2>
        <div class="table-responsive mb-0">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th class="text-dark">
                  #
                </th>
                <th class="text-dark">
                  Full Amount
                </th>
                <th class="text-dark">
                  Withdrawn Amount
                </th>
                <th class="text-dark">
                  Current Withdrawable Amount
                </th>
                <th class="text-dark">

                </th>
              </tr>
            </thead>
            <tbody class="list">
              <tr class="border-left border-2 border-amber" *ngFor="let vest of vestList">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ml-3">

                      <h4 class="mb-0">#{{getIdxOfVest(vest)}}</h4>

                      <!-- badge -->
                      <span class="badge mb-1"
                        [ngClass]="{'badge-soft-danger': vest.locked, 'badge-soft-success': !vest.locked}">
                        <ng-container *ngIf="vest.locked">
                          Locked
                        </ng-container>
                        <ng-container *ngIf="!vest.locked">
                          Unlocked
                        </ng-container>
                      </span>

                      <!-- Text -->
                      <small class="text-white d-block">{{vest.countdownTimer.days}}d
                        {{vest.countdownTimer.hours}}h {{vest.countdownTimer.minutes}}m
                        {{vest.countdownTimer.seconds}}s left</small>

                    </div>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-normal glowing">{{vest.amount.toFormat(4)}} MPH</h4>
                  <span class="text-white">${{vest.amount.times(mphPriceUSD).toFormat(4)}}</span>
                  <div class="mt-3">
                    <!-- Button -->
                    <button type="button" class="card-link small small px-1" (click)="withdraw(vest)"
                    *ngIf="getCurrentWithdrawableAmount(vest).gt(0)" [disabled]="wallet.watching">
                      <i class="fe fe-arrow-down mr-2 align-bottom"></i>Withdraw
                    </button>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-normal glowing">{{vest.withdrawnAmount.toFormat(4)}} MPH</h4>
                  <span class="text-white">${{vest.withdrawnAmount.times(mphPriceUSD).toFormat(4)}}</span>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-normal glowing">{{getCurrentWithdrawableAmount(vest).toFormat(4)}} MPH
                  </h4>
                  <span class="text-white">${{getCurrentWithdrawableAmount(vest).times(mphPriceUSD).toFormat(4)}}</span>
                </td>
                <td class="text-right"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
