<div class="container mt-4 mb-6">
  <div class="row">
    <div class="col-12">
      <h1 class="title-bg-gradient display-2" i18n="@@BridgeHeader">
        MPH Bridge
      </h1>
      <p class="text-white font-weight-bold mb-5 lead">
        <ng-container i18n="@@bridgeDesc"
          >Do more with your MPH by bridging it on our multichains
          ecosystem</ng-container
        >
      </p>
      <div class="row">
        <div class="col-12 col-lg-8">
          <!--Brdige - step 1-->
          <div class="card">
            <div class="card-header">
              <h4 class="card-header-title" i18n="@@bridgesubTitle">
                Select bridge
              </h4>
            </div>
            <div class="card-body">
              <div class="list-group list-group-flush list-group-activity">
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-auto">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                          i18n="@@step1"
                        >
                          1
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <div class="form-row">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="FromChain" i18n="@@selectFromChain"
                              >From chain</label
                            >
                            <select
                              class="custom-select custom-select-lg"
                              data-toggle="select"
                              id="FromChain"
                              [(ngModel)]="fromChain"
                              (change)="wallet.changeChain(fromChain)"
                            >
                              <option [ngValue]="constants.CHAIN_ID.MAINNET">
                                Ethereum
                              </option>
                              <option [ngValue]="constants.CHAIN_ID.FANTOM">
                                Fantom
                              </option>
                              <option
                                [ngValue]="constants.CHAIN_ID.POLYGON"
                                disabled
                              >
                                Polygon (soon)
                              </option>
                              <option
                                [ngValue]="constants.CHAIN_ID.AVALANCHE"
                                disabled
                              >
                                Avalanche (soon)
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="ToChain" i18n="@@selectToChain"
                              >To chain</label
                            >
                            <select
                              class="custom-select custom-select-lg"
                              data-toggle="select"
                              id="ToChain"
                              [(ngModel)]="toChain"
                            >
                              <option
                                *ngIf="fromChain !== constants.CHAIN_ID.MAINNET"
                                [ngValue]="constants.CHAIN_ID.MAINNET"
                              >
                                Ethereum
                              </option>
                              <option
                                *ngIf="fromChain !== constants.CHAIN_ID.FANTOM"
                                [ngValue]="constants.CHAIN_ID.FANTOM"
                              >
                                Fantom
                              </option>
                              <option
                                *ngIf="fromChain !== constants.CHAIN_ID.POLYGON"
                                [ngValue]="constants.CHAIN_ID.POLYGON"
                                disabled
                              >
                                Polygon (soon)
                              </option>
                              <option
                                *ngIf="
                                  fromChain !== constants.CHAIN_ID.AVALANCHE
                                "
                                [ngValue]="constants.CHAIN_ID.AVALANCHE"
                                disabled
                              >
                                Avalanche (soon)
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-auto text-center">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                          i18n="@@step2"
                        >
                          2
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <div class="form-group">
                        <label>Amount to bridge </label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <button
                              class="btn btn-lg btn-dark"
                              type="button"
                              disabled
                            >
                              <div class="avatar avatar-xxs">
                                <img
                                  src="./assets/img/token-icons/mph-logo-24.svg"
                                  width="24"
                                  alt="..."
                                  class="avatar-img rounded-circle"
                                />
                              </div>
                            </button>
                          </div>
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="0.00"
                            aria-label="bridge-amount"
                            [value]="bridgeAmount.toFixed()"
                            (input)="setBridgeAmount($event.target.value)"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-lg border-gradient"
                              type="button"
                              i18n="@@Max"
                              (click)="presetBridgeAmount(100)"
                            >
                              Max
                            </button>
                          </div>
                        </div>
                        <small class="form-text text-white"
                          >{{ mphBalance.toFormat(4) }} MPH
                          <ng-container i18n="@@available"
                            >available</ng-container
                          ></small
                        >
                      </div>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
              </div>
              <div class="px-0 alert text-warning border-warning">
                <ul class="mb-0">
                  <li>
                    <ng-container i18n="@@bridgeEstimatedFee"
                      >Estimated transfer fee:</ng-container
                    >
                    x MPH
                  </li>
                  <li>
                    <ng-container i18n="@@bridgeMinAmount"
                      >Minimum bridgeable amount:</ng-container
                    >
                    x MPH
                  </li>
                  <li>
                    <ng-container i18n="@@bridgeMaxAmount"
                      >Maximum bridgeable amount:</ng-container
                    >
                    x MPH
                  </li>
                  <li>
                    <ng-container i18n="@@bridgeEstimatedTimeOfArrival"
                      >Estimated Time of Crosschain Arrival is</ng-container
                    >
                    x min.
                  </li>
                  <li>
                    <ng-container
                      i18n="@@bridgeEstimatedTimeAmountLargerThanPart1"
                      >Crosschain amount larger than</ng-container
                    >
                    x MPH
                    <ng-container
                      i18n="@@bridgeEstimatedTimeAmountLargerThanPart2"
                      >could take up to</ng-container
                    >
                    x
                    <ng-container
                      i18n="@@bridgeEstimatedTimeAmountLargerThanPart3"
                      >hours</ng-container
                    >.
                  </li>
                </ul>
              </div>
              <button
                type="button"
                class="btn btn-lg btn-block border-gradient mb-3"
                i18n="@@approve"
                [disabled]="!canContinue()"
              >
                Approve
              </button>
              <button
                type="button"
                class="btn btn-lg btn-block btn-bg-gradient mb-3"
                i18n="@@Transfer"
                [disabled]="!canContinue()"
              >
                Transfer
              </button>
            </div>
          </div>
          <!--Brdige - step 2-->
          <div class="card">
            <div class="card-header">
              <h4 class="card-header-title" i18n="@@bridgeTransactionStatus">
                Transaction Status
              </h4>
            </div>
            <div class="card-body">
              <!-- Title -->
              <h5
                class="text-uppercase text-center"
                i18n="@@bridgeAmountTransferred"
              >
                Amount transferred
              </h5>
              <!-- Heading -->
              <h2 class="mb-2 glowing text-center">0.0000 MPH</h2>
              <div class="list-group list-group-flush list-group-activity">
                <div class="list-group-item pb-0">
                  <div class="row">
                    <div class="col-auto">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                          i18n="@@step1"
                        >
                          1
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <div class="table-responsive">
                        <table class="table mb-0">
                          <thead>
                            <th
                              i18n="@@bridgeNetwork"
                              class="border-0 pt-0 pb-1"
                            >
                              Network
                            </th>
                            <th
                              i18n="@@bridgeStatus"
                              class="border-0 pt-0 pb-1 text-right"
                            >
                              Status
                            </th>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="border-0 pt-0">Ethereum</td>
                              <td class="border-0 text-right pt-0">
                                <h4
                                  class="mb-0 glowing d-none"
                                  i18n="bridgeTransferStatusConfirming"
                                >
                                  Confirming
                                </h4>
                                <h4
                                  class="mb-0 text-success"
                                  i18n="bridgeTransferStatusSuccess"
                                >
                                  Success
                                </h4>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
                <div class="list-group-item pt-0">
                  <div class="row">
                    <div class="col-auto text-center">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                          i18n="@@step2"
                        >
                          2
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <div class="table-responsive">
                        <table class="table mb-0">
                          <tbody>
                            <tr>
                              <td class="border-0 pt-2">Fantom</td>
                              <td class="border-0 text-right pt-2">
                                <h4
                                  class="mb-0 glowing"
                                  i18n="
                                    bridgeTransferStatusWaitingEthereumConfirmation
                                  "
                                >
                                  Waiting Ethereum confirmation
                                </h4>
                                <h4
                                  class="mb-0 glowing d-none"
                                  i18n="bridgeTransferStatusWaitingUserApproval"
                                >
                                  Waiting user approval
                                </h4>
                                <h4
                                  class="mb-0 glowing d-none"
                                  i18n="bridgeTransferStatusConfirming"
                                >
                                  Confirming
                                </h4>
                                <h4
                                  class="mb-0 glowing d-none"
                                  i18n="
                                    bridgeTransferStatusWaitingUserConvertion
                                  "
                                >
                                  Waiting user convertion
                                </h4>
                                <h4
                                  class="mb-0 text-success d-none"
                                  i18n="bridgeTransferStatusSuccess"
                                >
                                  Success
                                </h4>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
              </div>

              <div class="alert text-warning border-warning">
                If it's your first bridge transfer, approve, then convert the
                bridged MPH to the native MPH of your target chain.
              </div>
              <button
                type="button"
                class="btn btn-lg btn-block border-gradient mb-3"
                i18n="@@convert"
              >
                Approve
              </button>
              <button
                type="button"
                class="btn btn-lg btn-block btn-bg-gradient mb-3"
                i18n="@@convert"
                disabled
              >
                Convert
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h4 class="card-header-title" i18n="@@thingsYouCanDo">
                Things you can do
              </h4>
            </div>
            <div class="card-body p-0">
              <div class="list-group list-group-flush">
                <a
                  href="/stake"
                  class="list-group-item list-group-item-action px-4"
                >
                  <h4 class="mb-1" i18n="@@stakeMPHForXMPH">
                    Stake MPH for xMPH
                  </h4>
                  <small class="text-muted">
                    <ng-container i18n="@@stakingMPHText"
                      >By staking your MPH, you are eligible to collect two
                      kinds of rewards distributed as MPH.</ng-container
                    >
                  </small>
                  <small class="text-primary ml-2" i18n="@@learnMore"
                    >Learn more</small
                  >
                </a>
                <a
                  href="/farm"
                  class="list-group-item list-group-item-action px-4"
                >
                  <h4 class="mb-1" i18n="@@farmYourYield">
                    Provide liquidity & boost your yield
                  </h4>
                  <small class="text-muted" i18n="@@provideLiquidityText2"
                    >Provide liquidity on our trading pools, and get rewarded by
                    doing so from trading fees and liquidity mining.</small
                  >
                  <small class="text-primary ml-2" i18n="@@learnMore"
                    >Learn more</small
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
