<div class="modal-dialog modal-dialog-vertical" role="document">
  <div class="modal-content">
    <div class="modal-body pt-0 py-lg-0">
      <div class="row no-gutters align-items-center">
        <div class="col-auto">
          <a
            class="btn btn-link border-0 text-white pl-0"
            data-dismiss="modal"
            aria-label="Close"
            (click)="activeModal.dismiss()"
          >
            <i class="fe fe-arrow-left h2 mb-0"></i>
          </a>
        </div>
        <div class="col">
          <h1 class="mb-0 h3">Roll Over</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 pt-0">
          <div class="card mb-8">
            <div class="card-body">
              <form>
                <div
                  class="list-group list-group-flush list-group-activity mb-3"
                >
                  <div class="list-group-item">
                    <div class="form-row">
                      <div class="col ml-n2">
                        <div class="form-group mb-2">
                          <label>Select a custom maturity</label>
                          <input
                            type="tel"
                            class="form-control form-control-lg"
                            placeholder="0.00"
                            aria-label=""
                            aria-describedby=""
                            [value]="depositTimeInDays.toFixed()"
                            id="lock-period"
                            data-mask="#,##0"
                            data-mask-reverse="true"
                            (input)="setDepositTime($event.target.value)"
                          />
                          <input
                            type="range"
                            class="custom-range"
                            min="1"
                            max="365"
                            step="1"
                            [value]="depositTimeInDays"
                            (input)="setDepositTime($event.target.value)"
                          />
                          <small class="form-text text-muted my-2">
                            Max: {{ maxDepositPeriodInDays }} days
                          </small>
                        </div>
                      </div>
                    </div>
                    <!-- / .row -->
                  </div>
                </div>
                <div class="table-responsive pr-3">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="px-0 py-2 text-white border-0 small">
                          Fixed APR
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <h4 class="mb-1 glowing">
                            {{ interestRate.toFormat(2) }}%
                          </h4>
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 py-2 text-white border-0 small">
                          Yield earned at maturity
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <span class="h4 mb-1 glowing">
                            {{ interestAmountToken.toFormat(4) }}
                            {{ poolInfo.stablecoinSymbol }}
                          </span>
                          <span class="h5 text-muted">
                            ${{ interestAmountUSD.toFormat(2) }}
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 py-2 text-white border-0 small">
                          Total available at maturity | {{ depositMaturation }}
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <span class="h4 mb-1 glowing">
                            {{
                              depositAmountToken
                                .plus(interestAmountToken)
                                .toFormat(4)
                            }}
                            {{ poolInfo.stablecoinSymbol }}
                          </span>
                          <span class="h5 text-muted">
                            ${{
                              depositAmountUSD
                                .plus(interestAmountUSD)
                                .toFormat(2)
                            }}
                          </span>
                          <small *ngIf="poolInfo.depositFee"
                            >Note: A {{ poolInfo.depositFee * 100 }}% fee is
                            taken by the underlying yield protocol ({{
                              poolInfo.protocol
                            }})</small
                          >
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 py-2 text-white border-0 small">
                          MPH rewards
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <span class="h4 mb-1 glowing">
                            {{ mphRewardAmountToken.toFormat(4) }} MPH
                          </span>
                          <span class="h5 text-muted">
                            ${{ mphRewardAmountUSD.toFormat(2) }}
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 py-2 text-white border-0 small">
                          MPH APR
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <h4 class="mb-1 glowing">
                            +{{ mphRewardAPR.toFormat(2) }}%
                          </h4>
                        </td>
                      </tr>
                      <tr style="border-top: 1px dotted white">
                        <td class="px-0 py-2 text-white border-0 small">
                          Total available at maturity (incl. MPH)
                        </td>
                        <td
                          class="px-0 py-2 text-white text-right border-0 small"
                        >
                          <h4 class="mb-1 glowing">
                            ${{
                              depositAmountUSD
                                .plus(interestAmountUSD)
                                .plus(mphRewardAmountUSD)
                                .toFormat(2)
                            }}
                          </h4>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button
                  class="btn btn-lg btn-bg-gradient btn-block"
                  type="button"
                  (click)="rollOver()"
                >
                  Roll Over
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
