<div class="card mb-4 mb-lg-0">
  <div class="card-header">
    <h4
      class="card-title mb-0"
      i18n="@@assetTVL"
      placement="top"
      i18n-ngbTooltip="@@assetTVLText"
      ngbTooltip="The amount (USD) of interest owed to depositors plus fees owed to the protocol that has been funded by yield token holders."
    >
      Funded Interest Expense
      <i class="fe fe-info ml-1 align-bottom"></i>
    </h4>
    <button
      type="button"
      class="btn btn-sm border-secondary py-0 px-2 m-1"
      [ngClass]="{ 'bg-secondary ': period === 1 }"
      (click)="changePeriod(1)"
    >
      D
    </button>
    <button
      type="button"
      class="btn btn-sm border-secondary py-0 px-2 m-1"
      [ngClass]="{ 'bg-secondary ': period === 7 }"
      (click)="changePeriod(7)"
    >
      W
    </button>
    <button
      type="button"
      class="btn btn-sm border-secondary py-0 px-2 m-1"
      [ngClass]="{ 'bg-secondary ': period === 30 }"
      (click)="changePeriod(30)"
    >
      M
    </button>
  </div>
  <div class="card-body">
    <div *ngIf="loading" class="d-flex justify-content-center">Loading...</div>
    <canvas
      *ngIf="!loading"
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
</div>
