<div *ngIf="lineChartData" class="card mb-4 mb-lg-0">
  <div class="card-body">
    <h5 class="text-uppercase text-center d-flex justify-content-between">
      <select class="invisible chart-select border-gradient ml-auto mr-2">
        <option value="all" selected>All</option>
        <option *ngFor="let pool of allData" [ngValue]="pool.label">
          {{ pool.label }}
        </option>
      </select>
      <select class="invisible chart-select border-gradient">
        <option value="daily">Daily</option>
        <option value="weekly" selected>Weekly</option>
        <option value="monthly">Monthly</option>
      </select>
      <span i18n="@@fundedInterestExpense">
        Funded Interest Expense
        <i
          class="fe fe-info ml-1 align-bottom"
          placement="top"
          i18n-ngbTooltip="@@fundedInterestExpenseText"
          ngbTooltip="The percentage (%) of fixed-rate yield deposits whose interest expense (interest + fee) has been funded by yield token holders."
        ></i>
      </span>
      <select
        [(ngModel)]="SELECTED_ASSET"
        name="selected"
        (change)="focusAsset()"
        class="chart-select border-gradient ml-auto mr-2"
      >
        <option value="all" selected>All</option>
        <option *ngFor="let pool of allData" [ngValue]="pool.label">
          {{ pool.label }}
        </option>
      </select>
      <select
        [(ngModel)]="PERIOD_NAME"
        name="period"
        (change)="changePeriod()"
        class="chart-select border-gradient"
      >
        <option value="daily">Daily</option>
        <option value="weekly" selected>Weekly</option>
        <option value="monthly">Monthly</option>
      </select>
    </h5>
    <canvas
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
    >
    </canvas>
  </div>
</div>
