<div *ngIf="barChartData" class="card mb-4 mb-lg-0">
  <div class="card-header">
    <h4
      class="card-title mb-0"
      i18n="@@mphSupplyDistribution"
      placement="top"
      i18n-ngbTooltip="@@mphSupplyDistributionText"
      ngbTooltip="The amount of MPH held by specific address (e.g. 88mph's Governance Treasury)."
    >
      MPH Supply Distribution
      <span
        class="badge badge-soft-success ml-1"
        *ngIf="
          wallet.networkID === constants.CHAIN_ID.POLYGON ||
          wallet.networkID === constants.CHAIN_ID.AVALANCHE ||
          wallet.networkID === constants.CHAIN_ID.FANTOM
        "
        >Ethereum</span
      >
      <i class="fe fe-info ml-1 align-bottom"></i>
    </h4>
  </div>
  <div class="card-header">
    <div class="form-group mb-0">
      <select class="d-none">
        <option value="daily">Daily</option>
        <option value="weekly" selected>Weekly</option>
        <option value="monthly">Monthly</option>
      </select>
      <select
        [(ngModel)]="PERIOD_NAME"
        name="period"
        (change)="changePeriod()"
        class="custom-select"
      >
        <option value="daily">Daily</option>
        <option value="weekly" selected>Weekly</option>
        <option value="monthly">Monthly</option>
      </select>
    </div>
  </div>
  <div class="card-body">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
</div>
