<div *ngIf="barChartData" class="card mb-4 mb-lg-0">
  <div class="card-body">
    <h5 class="text-uppercase text-center d-flex justify-content-between">
      <select class="invisible chart-select border-gradient">
        <option value="daily">Daily</option>
        <option value="weekly" selected>Weekly</option>
        <option value="monthly">Monthly</option>
      </select>
      <span>
        MPH Supply Distribution
        <i
          class="fe fe-info ml-1 align-bottom"
          placement="top"
          ngbTooltip="The amount of MPH held by specific address (e.g. 88mph's Governance Treasury)."
        ></i>
      </span>
      <select
        [(ngModel)]="PERIOD_NAME"
        name="period"
        (change)="changePeriod()"
        class="chart-select border-gradient"
      >
        <option value="daily">Daily</option>
        <option value="weekly" selected>Weekly</option>
        <option value="monthly">Monthly</option>
      </select>
    </h5>
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
</div>
