<!-- Modal: withdraw money -->
<!-- IDEA: modal modalWithdraw -->
<div class="modal-dialog modal-dialog-vertical" role="document">
  <div class="modal-content">
    <div class="modal-body pt-0 py-lg-0">
      <div class="row no-gutters align-items-center">
        <div class="col-auto">
          <a
            class="btn btn-link border-0 text-white pl-0"
            data-dismiss="modal"
            aria-label="Close"
            (click)="activeModal.dismiss()"
          >
            <i class="fe fe-arrow-left h2 mb-0"></i>
          </a>
        </div>
        <div class="col">
          <ng-container *ngIf="userDeposit.locked">
            <h1 class="mb-0 h3">Withdraw early</h1>
          </ng-container>
          <ng-container *ngIf="!userDeposit.locked">
            <h1 class="mb-0 h3">Withdraw</h1>
          </ng-container>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 pt-0">
          <div class="card mb-8">
            <div class="card-body">
              <ng-container *ngIf="userDeposit.locked">
                <div class="alert border-gradient mb-4">
                  Warning: by withdrawing your principal before the maturation
                  date, you will forfeit your interest earned so far.
                </div>
              </ng-container>
              <ng-container *ngIf="!userDeposit.locked">
                <p class="text-white">Withdraw your principal and interest.</p>
              </ng-container>
              <div class="form-group mb-0">
                <label>Amount</label>
                <div class="input-group mb-2">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    placeholder="0.00"
                    aria-label="withdraw-amount"
                    [value]="withdrawAmount.toFixed()"
                    (input)="setWithdrawAmount($event.target.value)"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-lg border-gradient"
                      type="button"
                      (click)="setMaxWithdrawAmount()"
                    >
                      Max
                    </button>
                  </div>
                </div>
              </div>
              <small class="form-text text-white mb-4"
                >${{
                  maxWithdrawAmountToken.times(stablecoinPriceUSD).toFormat(4)
                }}
                ({{ maxWithdrawAmountToken.toFormat() }}
                {{ poolInfo.stablecoinSymbol }}) available</small
              >
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small">
                        Principal to withdraw
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-1 glowing">
                          ${{
                            applyWithdrawRatio(userDeposit.amountUSD).toFormat(
                              4
                            )
                          }}
                        </h4>
                        <h5 class="text-muted">
                          {{
                            applyWithdrawRatio(
                              userDeposit.amountToken
                            ).toFormat(4)
                          }}
                          {{ poolInfo.stablecoinSymbol }}
                        </h5>
                      </td>
                    </tr>
                    <tr *ngIf="!userDeposit.locked">
                      <td class="px-0 py-2 text-white border-0 small">
                        Interest to withdraw
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-1 glowing">
                          ${{
                            applyWithdrawRatio(
                              userDeposit.interestEarnedUSD
                            ).toFormat(4)
                          }}
                        </h4>
                        <h5 class="text-muted">
                          {{
                            applyWithdrawRatio(
                              userDeposit.interestEarnedToken
                            ).toFormat(4)
                          }}
                          {{ poolInfo.stablecoinSymbol }}
                        </h5>
                      </td>
                    </tr>
                    <tr *ngIf="userDeposit.locked">
                      <td class="px-0 py-2 text-white border-0 small">
                        Early withdraw fee
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-1 glowing">
                          ${{
                            earlyWithdrawFee
                              .times(stablecoinPriceUSD)
                              .toFormat(4)
                          }}
                        </h4>
                        <h5 class="text-muted">
                          {{ earlyWithdrawFee.toFormat(4) }}
                          {{ poolInfo.stablecoinSymbol }}
                        </h5>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small">
                        Total withdraw amount
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-1 glowing">
                          ${{
                            totalWithdrawAmount
                              .times(stablecoinPriceUSD)
                              .toFormat(4)
                          }}
                        </h4>
                        <h5 class="text-muted">
                          {{ totalWithdrawAmount.toFormat(4) }}
                          {{ poolInfo.stablecoinSymbol }}
                        </h5>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button
                class="btn btn-lg btn-bg-gradient btn-block"
                type="button"
                (click)="withdraw()"
              >
                <ng-container *ngIf="userDeposit.locked"
                  >Withdraw early</ng-container
                >

                <ng-container *ngIf="!userDeposit.locked"
                  >Withdraw</ng-container
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
