<div class="container my-5">
  <div class="row d-flex align-items-center mb-6">
    <div class="col-12 mb-4 mb-lg-0 col-lg-8">
      <h1 class="title-bg-gradient display-2">
        Earn up to {{ maxAPY.toFormat(2) }}% fixed APR +
        {{ maxMPHAPY.toFormat(2) }}% $MPH APR on your crypto
      </h1>
      <p class="text-white font-weight-bold mb-5 lead">
        Deposit crypto or stablecoins to earn a fixed yield rate & get MPH
        tokens.
      </p>

      <div class="row mt-5 mb-7">
        <div class="col-6 col-lg-auto">
          <!-- Title -->
          <h6 class="text-uppercase text-muted">
            TVL
            <i
              class="fe fe-info ml-1 align-bottom"
              placement="top"
              ngbTooltip="Total value locked"
            ></i>
          </h6>

          <!-- Heading -->
          <h2 class="display-4 mb-2 glowing">
            ${{ totalDepositUSD.toFormat(3) }}m
          </h2>
        </div>
        <div class="col-6 col-lg-auto">
          <!-- Title -->
          <h6 class="text-uppercase text-muted">
            Total fixed-rate yield distributed
            <i
              class="fe fe-info ml-1 align-bottom"
              placement="top"
              ngbTooltip="Amount of interest earned by 88mph's users since v3 launch."
            ></i>
          </h6>

          <!-- Heading -->
          <h2 class="display-4 mb-2 glowing">
            ${{ totalInterestUSD.toFormat(3) }}m
          </h2>
        </div>
        <div class="col-6 col-lg-auto">
          <!-- Title -->
          <h6 class="text-uppercase text-muted">
            Total protocol revenue
            <i
              class="fe fe-info ml-1 align-bottom"
              placement="top"
              ngbTooltip="The protocol revenues originates from 88mph protocol fees (10% of the fixed-rate interest promised to depositors at deposit time and 0.5% on early withdrawals).
            Yield-farmed tokens earned from the protocols 88mph is connected to (COMP, FARM, stkAAVE, etc.).
            100% of the protocol revenues are distributed to MPH stakers."
            ></i>
          </h6>
          <!-- Heading -->
          <h2 class="display-4 mb-2 glowing">
            ${{ totalEarningsUSD.toFormat(3) }}m
          </h2>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 pr-lg-4">
      <div class="card bg-dark">
        <div class="card-header">
          <h4 class="card-header-title title-bg-gradient">
            See how much you can receive
          </h4>
        </div>
        <div class="card-body py-3">
          <form action="">
            <div class="form-group mb-3">
              <label
                >Deposit amount ({{ selectedPool.stablecoinSymbol }})</label
              >
              <div class="input-group input-group-lg mb-2">
                <input
                  type="tel"
                  class="form-control bg-light text-white"
                  aria-label="Text input with dropdown button"
                  [value]="initialDeposit.toFormat(4)"
                  (input)="setDepositAmount($event.target.value)"
                />
                <div class="input-group-prepend">
                  <button
                    class="btn btn-dark"
                    type="button"
                    (click)="setDepositAmount(depositTokenBalance.toFixed(18))"
                  >
                    Max
                  </button>
                </div>
                <select
                  class="custom-select"
                  (change)="selectPool($event.target.value)"
                >
                  <option
                    value="{{ pool.name }}"
                    *ngFor="let pool of allPoolList"
                    [selected]="pool.name === selectedPool.name"
                  >
                    {{ pool.stablecoinSymbol }} via {{ pool.protocol }} Protocol
                  </option>
                </select>
              </div>
              <small class="form-text text-muted mb-0">
                {{ depositTokenBalance.toFormat(4) }}
                {{ selectedPool.stablecoinSymbol }}
                available
              </small>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group mb-2">
                  <label>Term in days</label>
                  <input
                    type="number"
                    min="1"
                    data-mask="#,##0"
                    data-mask-reverse="true"
                    id="lock-period"
                    class="
                      form-control form-control-lg
                      text-right
                      pr-3
                      bg-light
                      text-white
                    "
                    [value]="termInDays"
                    (input)="setTermLength($event.target.value)"
                  />
                </div>
              </div>
              <div class="col-auto">
                <div class="form-group mb-2">
                  <h4 class="mb-3 font-weight-normal mt-1">
                    Fixed APR / MPH APR
                  </h4>
                  <h2 class="mb-0 glowing">
                    {{ apy.toFormat(2) }}% +{{ mphRewardAPY.toFormat(2) }}%
                  </h2>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <td class="px-0 py-2 text-white border-0 small">
                      Fixed-rate yield at maturity
                      <i
                        class="fe fe-info ml-1 align-bottom"
                        placement="top"
                        ngbTooltip="88mph offers a fixed yield rate with a custom or preset maturity for various supplied assets, such as DAI, USDC, WBTC, ETH, etc. When users/protocols deposit assets, they earn a fixed-rate yield that is redeemable at maturity. See How it works section below."
                      ></i>
                    </td>
                    <td class="px-0 py-2 text-white text-right border-0 small">
                      <h4 class="mb-1 glowing">
                        {{ interestEarnedToken.toFormat(4) }}
                        {{ selectedPool.stablecoinSymbol }}
                      </h4>
                      <h5 class="text-muted mb-0">
                        ${{ interestEarnedUSD.toFormat(2) }}
                      </h5>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-0 py-2 text-white border-0 small">
                      MPH rewards
                      <i
                        class="fe fe-info ml-1 align-bottom"
                        placement="top"
                        ngbTooltip="Participating in this 88mph pool gives rewards in MPH token. MPH tokens are vested linearly over the deposit duration. You can claim your MPH whever you want over the vesting period. We invite you to stake your MPH for xMPH, allowing you to earn protocol revenues via our bi-weekly buy-back mechanism, and voting rights."
                      ></i>
                    </td>
                    <td class="px-0 py-2 text-white text-right border-0 small">
                      <h4 class="mb-1 glowing">
                        +{{ mphReward.toFormat(2) }} MPH
                      </h4>
                      <h5 class="text-muted mb-0">
                        +${{ mphRewardUSD.toFormat(2) }}
                      </h5>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-0 py-2 text-white border-0 small">
                      Total available at maturity
                      <i
                        class="fe fe-info ml-1 align-bottom"
                        placement="top"
                        ngbTooltip="Initial deposit + fixed-rate yield earned + MPH tokens"
                      ></i>
                    </td>
                    <td
                      class="px-0 py-2 text-success text-right border-0 small"
                    >
                      <h4 class="mb-0 success">
                        ${{ totalEarnedUSD.toFormat(2) }}
                      </h4>
                    </td>
                  </tr>
                  <tr class="d-none">
                    <td class="px-0 py-2 text-white border-0 small">
                      Total compounded on 10y
                    </td>
                    <td class="px-0 py-2 text-white text-right border-0 small">
                      <h4 class="mb-0 glowing">
                        ${{ tenYearCompounded.toFormat(2) }}
                      </h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
        <div class="card-footer small text-center">
          <button
            class="btn btn-lg btn-bg-gradient btn-block mb-2"
            type="button"
            (click)="openDepositModal(selectedPool.name)"
            [disabled]="wallet.watching"
          >
            Start Earning
          </button>
          Trusted by its users since
          <a
            class="text-secondary"
            href="https://etherscan.io/tx/0x1077dd81f059bba91c9ce7033526e3d4e172f552a03ec62a990a414018f83a09"
            target="_blank"
            ><span class="text-secondary fe fe-box"></span> 11289991</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pt-7 px-6 pb-4 mt-lg-n9 mb-7 bg-white rounded">
  <div class="row justify-content-center mb-4">
    <div class="col-9">
      <h5 class="text-uppercase text-center text-secondary">For everyone</h5>
      <h2 class="display-2 text-center text-dark">Earn fixed yield rate</h2>
      <p class="lead text-center text-muted">
        88mph has a variety of features that make it the best place to start
        earning a fixed yield rate on your assets. Our leading non-custodial
        fully on-chain protection measures give you the peace of mind you
        deserve.
      </p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-5">
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-zap"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">Earn a fixed yield rate & get $MPH tokens</h3>
          <p class="text-muted">
            Deposit your assets and earn a fixed yield rate on your capital to
            hedge against market rates volatility. You will also get MPH tokens
            by using 88mph.
            <a href="https://docs.88mph.app/" target="_blank">Learn more</a>
          </p>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-dollar-sign"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">Stay flexible</h3>
          <p class="text-muted">
            Top up, withdraw or extend the terms of your deposits at any time.
            <a href="https://docs.88mph.app/" target="_blank">Learn more</a>.
          </p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-umbrella"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">Risk management</h3>
          <p class="text-muted">
            88mph relies on four lines of defense to mitigate the risk of
            insolvency.
            <a href="https://docs.88mph.app/" target="_blank">Learn more</a>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-shield"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">Insurance</h3>
          <p class="text-muted">
            Leading insurance protocols like InsurAce, Nsure or Bridge Mutual
            cover a full spectrum of smart contract risks for 88mph.
            <a href="https://docs.88mph.app/">Learn more</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="col-7">
      <img
        class="img-fluid"
        src="./assets/img/88mph-mockups.jpg"
        alt="88mph mockup"
      />
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row align-items-center mb-7">
    <div class="col-12 col-lg-4">
      <h2 class="display-2">How it works</h2>
      <p class="lead text-muted">
        Non-custodial, fully on-chain protocol acting as an intermediary between
        you and third-party variable yield rate protocols to offer the best
        fixed yield rate on your capital.
      </p>
      <p class="lead text-muted">
        To learn more about how 88mph converts algorithmically a stream of
        variable-rate yield into fixed-rate yield, check out our
        <a class="text-primary" href="https://docs.88mph.app/" target="_blank"
          >docs</a
        >.
      </p>
      <button class="btn btn-lg btn-bg-gradient my-4" routerLink="earn">
        Start earning
      </button>
    </div>

    <div class="col-12 col-lg-7 offset-lg-1">
      <div class="row mb-4">
        <div class="col-12 col-lg-6">
          <div class="avatar avatar-lg mb-4">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              01
            </span>
          </div>
          <h3 class="">Deposit assets</h3>
          <p class="text-muted">
            Deposit any amount of assets with a maturity between 1 and 365 days
            to get the displayed fixed yield rate at maturity.
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <div class="avatar avatar-lg mb-4">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              02
            </span>
          </div>
          <h3 class="">Deposit generates variable APY</h3>
          <p class="text-muted">
            Your deposit generates a yield at a variable rate on third-party
            protocols until it reaches its maturity.
          </p>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 col-lg-6">
          <div class="avatar avatar-lg mb-4">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              03
            </span>
          </div>
          <h3 class="">Get deposit tokens</h3>
          <p class="text-muted">
            Depositors receive an NFT (ERC-721) representing their
            custom-maturity deposit or ERC-20 tokens if it's a preset maturity.
            It gives you full control over your deposits.
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <div class="avatar avatar-lg mb-4">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              04
            </span>
          </div>
          <h3 class="">Get MPH rewards</h3>
          <p class="text-muted">
            By using 88mph, get MPH tokens linearly vested over the deposit
            duration. Claim rewards whenever it fits your schedule.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="avatar avatar-lg mb-4">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              05
            </span>
          </div>
          <h3 class="">Stake MPH</h3>
          <p class="text-muted">
            Stake MPH tokens to receive 88mph protocol's revenues and voting
            rights.
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <div class="avatar avatar-lg mb-4">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              06
            </span>
          </div>
          <h3 class="">Withdraw</h3>
          <p class="text-muted">
            Withdraw, top-up, roll over your deposit + fixed-rate yield at any
            time.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-6 px-6 pb-4 mb-7 bg-white rounded">
  <div class="row justify-content-center mb-4">
    <div class="col-9">
      <h5 class="text-uppercase text-center text-secondary">
        For advanced users
      </h5>
      <h2 class="display-2 text-center text-dark">
        Speculate on future yields
      </h2>
      <p class="lead text-center text-muted">
        Speculate on future variable-rate yields by buying yield tokens and
        strengthen the solvency of 88mph protocol.
        <a class="text-primary" href="https://docs.88mph.app/" target="_blank"
          >Learn more</a
        >.
      </p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12 col-lg-6">
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-grid"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">A new DeFi primitive</h3>
          <p class="text-muted">
            Yield tokens, such as $cDAI-YT, allow speculators to profit from the
            rise in the variable yield rate of third-party protocols or hedge
            part of their borrowing costs of a loan. For e.g. Dai borrower on
            Compound would purchase cDAI-YTs on 88mph.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-dollar-sign"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">Earn variable-rate yields</h3>
          <p class="text-muted">
            YTs can be purchased by users when a fixed yield rate deposit is
            made on 88mph, and each YT is tied to a deposit. YTs give holders
            the right to earn all the future variable-rate yields generated on
            third-party protocols by the corresponding deposit + the purchase
            cost of the YTs.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-zap"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">Strengthen 88mph protocol</h3>
          <p class="text-muted">
            YTs are more than an instrument for speculating on yields. When
            someone buys YTs, the insolvency risk for fixed yield rate
            depositors is decreased, via decreasing the amount of promised
            fixed-rate yield that is not backed by real assets.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-droplet"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">Get MPH rewards</h3>
          <p class="text-muted">
            When a user buys yield tokens, they receive newly-minted MPH tokens
            as the underlying deposit earns a variable-rate yield.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <button class="btn btn-lg btn-bg-gradient mb-3" routerLink="yield">
        Get yield tokens
      </button>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row justify-content-center mb-4">
    <div class="col-8">
      <h2 class="display-2 text-center">
        The leading non-custodial fixed yield rate protocol
      </h2>
      <p class="lead text-center text-muted">
        Here are a few other reasons why you should choose 88mph
      </p>
    </div>
  </div>
  <div class="row text-center mb-7">
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-4">
        <span class="avatar-title rounded-circle text-white border-gradient">
          <img
            src="./assets/img/token-icons/mph-logo-24.svg"
            class="mx-1 icon-logo"
            alt="MPH logo"
            width="48px"
          />
        </span>
      </div>
      <h3>MPH token</h3>
      <p class="lead text-muted">
        Boost your yield by staking your MPH for xMPH, provide liquidity on our
        trading pools, and get rewarded with various incentives.
      </p>
      <a href="https://docs.88mph.app/" class="" target="_blank">Learn more</a>
      |
      <a
        href="https://www.coingecko.com/en/coins/88mph"
        target="_blank"
        rel="noopener noreferrer"
        >CoinGecko</a
      >
    </div>
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-4">
        <span class="avatar-title rounded-circle text-white border-gradient">
          <i class="fe fe-users"></i>
        </span>
      </div>
      <h3>Community driven</h3>
      <p class="lead text-muted">
        Shape the future of 88mph by being an active member of our governance
        process and vote on 8IPs (pronounced apes) with your xMPH.
      </p>
      <a href="https://docs.88mph.app/" class="" target="_blank">Learn more</a>
    </div>
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-4">
        <span class="avatar-title rounded-circle text-white border-gradient">
          <i class="fe fe-shield"></i>
        </span>
      </div>
      <h3>Industry best security practices</h3>
      <p class="lead text-muted">
        88mph has been audited several times by Trail of Bits, PeckShield, and
        Code 423n4. We don't ship unaudited code and are constantly running a
        $100k security bounty on Immunefi.
      </p>
      <a
        href="https://docs.88mph.app/main-products/security-and-audits"
        class=""
        target="_blank"
        >Learn how</a
      >
    </div>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-8">
      <h2 class="display-2 text-center">Get started in minutes</h2>
      <p class="lead text-center text-muted">
        88mph supports a variety of the most popular digital currencies.
      </p>
    </div>
  </div>
  <div class="row justify-content-center text-center mb-4">
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-3">
        <span class="avatar-title rounded-circle text-white border-gradient">
          1
        </span>
      </div>
      <h3>Connect your wallet</h3>
    </div>
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-3">
        <span class="avatar-title rounded-circle text-white border-gradient">
          2
        </span>
      </div>
      <h3>Deposit</h3>
    </div>
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-3">
        <span class="avatar-title rounded-circle text-white border-gradient">
          3
        </span>
      </div>
      <h3>Earn fixed APR & MPH rewards</h3>
    </div>
  </div>
  <div class="row justify-content-center mb-7">
    <div class="col-auto">
      <button class="btn btn-lg btn-bg-gradient" routerLink="earn">
        Get started
      </button>
    </div>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-8">
      <h2 class="text-center">As featured in</h2>
    </div>
  </div>
  <div class="row justify-content-center text-center mb-7">
    <div class="col col-lg-3">
      <div class="avatar avatar-lg mb-4">
        <img
          class="avatar-img rounded-circle"
          style="image-rendering: pixelated; filter: grayscale(1)"
          src="./assets/img/coingecko-logo.svg"
          alt="coingecko-logo"
        />
      </div>
      <h3>Coingecko</h3>
      <a
        href="https://www.coingecko.com/buzz/fixed-interest-rate-protocols"
        target="_blank"
        >Read</a
      >
    </div>
    <div class="col col-lg-3">
      <div class="avatar avatar-lg mb-4">
        <img
          class="avatar-img rounded-circle"
          style="image-rendering: pixelated; filter: grayscale(1)"
          src="./assets/img/the-defiant-logo.jpg"
          alt="the-defiant-logo"
        />
      </div>
      <h3>The Defiant</h3>
      <a href="https://www.youtube.com/watch?v=iWq4JEsDvcg" target="_blank"
        >Watch</a
      >
    </div>
    <div class="col col-lg-3">
      <div class="avatar avatar-lg mb-4">
        <img
          class="avatar-img rounded-circle"
          style="image-rendering: pixelated; filter: grayscale(1)"
          src="./assets/img/defiprime-logo.png"
          alt="defiprime-logo"
        />
      </div>
      <h3>DefiPrime</h3>
      <a href="https://defiprime.com/88mph" target="_blank">Read</a>
    </div>
    <div class="col col-lg-3">
      <div class="avatar avatar-lg mb-4">
        <img
          class="avatar-img rounded-circle"
          style="image-rendering: pixelated; filter: grayscale(1)"
          src="./assets/img/chainlink-logo.jpg"
          alt="chainlink-logo"
        />
      </div>
      <h3>Chainlink Hackathon</h3>
      <a href="https://www.youtube.com/watch?v=R57F7zwoj0g" target="_blank"
        >Watch</a
      >
    </div>
  </div>
</div>
