<div class="container my-5">
  <div class="row d-flex align-items-center mb-5">
    <div class="col-12 mb-4 mb-lg-0 col-lg-8">
      <h1 class="title-bg-gradient display-2">
        Earn up to {{ maxAPY.toFormat(2) }}% fixed APY on your crypto.
      </h1>
      <p class="text-white font-weight-bold mb-5 lead">
        Deposit crypto or stablecoins to earn a fixed interest rate & MPH
        rewards.
      </p>
      <button class="btn btn-lg btn-bg-gradient" routerLink="earn">
        Get started
      </button>

      <div class="row my-6">
        <div class="col-6 col-lg-auto">
          <!-- Title -->
          <h6 class="text-uppercase text-muted">Total current deposits</h6>

          <!-- Heading -->
          <h2 class="display-4 mb-2 glowing">
            ${{ totalDepositUSD.toFormat(3) }}m
          </h2>
        </div>
        <div class="col-6 col-lg-auto">
          <!-- Title -->
          <h6 class="text-uppercase text-muted">Total interest earned</h6>

          <!-- Heading -->
          <h2 class="display-4 mb-2 glowing">
            ${{ totalInterestUSD.toFormat(3) }}m
          </h2>
        </div>
        <div class="col-6 col-lg-auto">
          <!-- Title -->
          <h6 class="text-uppercase text-muted">
            Protocol earnings distributed
          </h6>

          <!-- Heading -->
          <h2 class="display-4 mb-2 glowing">
            ${{ totalEarningsUSD.toFormat(3) }}m
          </h2>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 pr-lg-4">
      <div class="card bg-dark">
        <div class="card-header">
          <h4 class="card-header-title">See how much you can earn</h4>
        </div>
        <div class="card-body">
          <form action="">
            <div class="form-group mb-3">
              <label>Initial deposit</label>
              <div class="input-group">
                <input
                  type="tel"
                  class="form-control form-control-lg bg-light text-white"
                  aria-label="Text input with dropdown button"
                  [value]="initialDeposit"
                  (input)="setDepositAmount($event.target.value)"
                />
                <div class="input-group-append">
                  <!-- <button
                    class="btn border-gradient dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    DAI
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">DAI (Aave)</a>
                    <a class="dropdown-item" href="#">DAI (Compound)</a>
                  </div> -->
                  <select
                    class="btn border-gradient"
                    (change)="selectPool($event.target.value)"
                  >
                    <option
                      value="{{ pool.stablecoinSymbol }}"
                      *ngFor="let pool of allPoolList"
                      [selected]="pool.name === selectedPool.name"
                    >
                      {{ pool.stablecoinSymbol }} ({{ pool.protocol }})
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group mb-2">
                  <label>Term in days</label>
                  <input
                    type="tel"
                    min="7"
                    data-mask="#,##0"
                    data-mask-reverse="true"
                    id="lock-period"
                    class="
                      form-control form-control-lg
                      text-right
                      pr-3
                      bg-light
                      text-white
                    "
                    [value]="termInDays"
                    (input)="setTermLength($event.target.value)"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-2">
                  <h4 class="mb-3 font-weight-normal mt-1">Fixed APY</h4>
                  <h2 class="mb-0 glowing">{{ apy.toFormat(2) }}%</h2>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <td class="px-0 py-2 text-white border-0 small">
                      Interest earned at maturity
                    </td>
                    <td class="px-0 py-2 text-white text-right border-0 small">
                      <h4 class="mb-1 glowing">
                        ${{ interestEarnedUSD.toFormat(2) }}
                      </h4>
                      <h5 class="text-muted mb-0">
                        {{ interestEarnedToken.toFormat(2) }}
                        {{ selectedPool.stablecoinSymbol }}
                      </h5>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-0 py-2 text-white border-0 small">
                      MPH rewards
                    </td>
                    <td class="px-0 py-2 text-white text-right border-0 small">
                      <h4 class="mb-1 glowing">
                        +${{ mphRewardUSD.toFormat(2) }}
                      </h4>
                      <h5 class="text-muted mb-0">
                        +{{ mphRewardAPY.toFormat(2) }}% APY
                      </h5>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-0 py-2 text-white border-0 small">
                      Total earned at maturity
                    </td>
                    <td class="px-0 py-2 text-white text-right border-0 small">
                      <h4 class="mb-0 glowing">
                        ${{ totalEarnedUSD.toFormat(2) }}
                      </h4>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-0 py-2 text-white border-0 small">
                      Total compounded on 10y
                    </td>
                    <td class="px-0 py-2 text-white text-right border-0 small">
                      <h4 class="mb-0 glowing">
                        ${{ tenYearCompounded.toFormat(2) }}
                      </h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
        <div class="card-footer">
          DeFi Banking trusted since
          <a class="text-success" href=""
            ><span class="text-success fe fe-box"></span> 12,420,690</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pt-6 px-6 pb-4 mt-lg-n9 mb-7 bg-white rounded">
  <div class="row justify-content-center mb-4">
    <div class="col-8">
      <h2 class="display-2 text-center text-dark">Earn fixed-rate interest</h2>
      <p class="lead text-center text-muted">
        88mph has a variety of features that make it the best place to start
        earning a fixed-interest rate on your capital, and our leading
        protection measures give you the peace of mind you deserve.
      </p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-5">
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-zap"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">Earn a fixed APY + MPH rewards</h3>
          <p class="text-muted">
            Deposit DAI, USDC, 3CRV, wBTC, renBTC, etc. and earn fixed-interest
            rates + MPH.
          </p>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-dollar-sign"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">Stay flexible</h3>
          <p class="text-muted">
            Top up, withdraw or extend the terms of your deposits at any time.
            <a href="https://docs.88mph.app/" target="_blank">Learn more</a>.
          </p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-umbrella"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">Risk management</h3>
          <p class="text-muted">
            Our yield tokens and active management of the solvency ratio for
            each lending pool offer an efficient layered approach to manage
            financial risk.
            <a href="https://docs.88mph.app/" target="_blank">Learn more</a>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-shield"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3 class="text-dark">Insurance</h3>
          <p class="text-muted">
            Leading insurance protocols cover a full spectrum of smart contract
            risks for 88mph. <a href="https://docs.88mph.app/">Learn more</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="col-7">
      <img
        class="img-fluid"
        src="./assets/img/88mph-mockups.jpg"
        alt="88mph mockup"
      />
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row align-items-center mb-7">
    <div class="col-6">
      <div class="mb-4">
        <h2 class="display-2">Yield tokens</h2>
        <p class="lead text-muted">
          Speculate on the future yield of Compound, Aave, and Yearn by buying
          88mph's yield tokens.
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-grid"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3>A new DeFi primitive</h3>
          <p class="text-muted">
            Speculate on the future yield of Compound, Aave, and Yearn with a
            fraction of the capital required by a traditional lending position.
            For example, you can purchase $5 of yield token and earn yield on
            $105.
            <a href="https://docs.88mph.app/" target="_blank">Learn more</a>.
          </p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-zap"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3>Competitive profit margin</h3>
          <p class="text-muted">
            88mph offers a >50% extra profit margin for our yield tokens. This
            means that even if interest rates stay the same, your ROI would
            still be >50%.
          </p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-dollar-sign"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3>Trade your yield tokens</h3>
          <p class="text-muted">
            Yield tokens are ERC-20 tokens fully tradeable on existing
            exchanges.
          </p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-auto">
          <div class="avatar avatar-lg">
            <span
              class="avatar-title rounded-circle text-white border-gradient"
            >
              <i class="fe fe-droplet"></i>
            </span>
          </div>
        </div>
        <div class="col">
          <h3>Earn MPH rewards</h3>
          <p class="text-muted">
            Deposit yield tokens in the 88mph's liquidity pools to earn LP
            rewards (trading fees and incentives).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-8">
      <h2 class="display-2 text-center">
        The leading on-chain fixed interest rate protocol
      </h2>
      <p class="lead text-center text-muted">
        Here are a few other reasons why you should choose 88mph
      </p>
    </div>
  </div>
  <div class="row text-center mb-7">
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-4">
        <span class="avatar-title rounded-circle text-white border-gradient">
          <img
            src="./assets/img/token-icons/mph-logo-24.svg"
            class="mx-1 icon-logo"
            alt="MPH logo"
            width="48px"
          />
        </span>
      </div>
      <h3>MPH token</h3>
      <p class="lead text-muted">
        Boost your yield by staking your MPH for xMPH, provide liquidity on our
        trading pools, and get rewarded with various incentives.
      </p>
    </div>
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-4">
        <span class="avatar-title rounded-circle text-white border-gradient">
          <i class="fe fe-users"></i>
        </span>
      </div>
      <h3>Community driven</h3>
      <p class="lead text-muted">
        Shape the future of 88mph by being an active member of our governance
        process and vote on 8IPs (pronounced apes) with your xMPH.
      </p>
      <a href="https://docs.88mph.app/" class="" target="_blank">Learn more</a>
    </div>
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-4">
        <span class="avatar-title rounded-circle text-white border-gradient">
          <i class="fe fe-shield"></i>
        </span>
      </div>
      <h3>Industry best security practices</h3>
      <p class="lead text-muted">
        88mph has been audited several times by PeckShield, Quantstamp, Code
        423n4, and Certik. We don't ship unaudited code and are constantly
        running security bounty on Immunefi.
      </p>
      <a
        href="https://docs.88mph.app/main-products/security-and-audits"
        class=""
        target="_blank"
        >Learn how</a
      >
    </div>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-8">
      <h2 class="text-center">As featured in</h2>
    </div>
  </div>
  <div class="row justify-content-center text-center mb-7">
    <div class="col col-lg-3">
      <div class="avatar avatar-lg mb-4">
        <img
          class="avatar-img rounded-circle"
          style="image-rendering: pixelated; filter: grayscale(1)"
          src="./assets/img/coingecko-logo.svg"
          alt="coingecko-logo"
        />
      </div>
      <h3>Coingecko</h3>
      <a
        href="https://www.coingecko.com/buzz/fixed-interest-rate-protocols"
        target="_blank"
        >Read</a
      >
    </div>
    <div class="col col-lg-3">
      <div class="avatar avatar-lg mb-4">
        <img
          class="avatar-img rounded-circle"
          style="image-rendering: pixelated; filter: grayscale(1)"
          src="./assets/img/the-defiant-logo.jpg"
          alt="the-defiant-logo"
        />
      </div>
      <h3>The Defiant</h3>
      <a href="https://www.youtube.com/watch?v=iWq4JEsDvcg" target="_blank"
        >Watch</a
      >
    </div>
    <div class="col col-lg-3">
      <div class="avatar avatar-lg mb-4">
        <img
          class="avatar-img rounded-circle"
          style="image-rendering: pixelated; filter: grayscale(1)"
          src="./assets/img/defiprime-logo.png"
          alt="defiprime-logo"
        />
      </div>
      <h3>DefiPrime</h3>
      <a href="https://defiprime.com/88mph" target="_blank">Read</a>
    </div>
    <div class="col col-lg-3">
      <div class="avatar avatar-lg mb-4">
        <img
          class="avatar-img rounded-circle"
          style="image-rendering: pixelated; filter: grayscale(1)"
          src="./assets/img/chainlink-logo.jpg"
          alt="chainlink-logo"
        />
      </div>
      <h3>Chainlink Hackathon</h3>
      <a href="https://www.youtube.com/watch?v=R57F7zwoj0g" target="_blank"
        >Watch</a
      >
    </div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-8">
      <h2 class="display-2 text-center">Get started in minutes</h2>
      <p class="lead text-center text-muted">
        88mph supports a variety of the most popular digital currencies.
      </p>
    </div>
  </div>
  <div class="row justify-content-center text-center mb-4">
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-3">
        <span class="avatar-title rounded-circle text-white border-gradient">
          1
        </span>
      </div>
      <h3>Connect your wallet</h3>
    </div>
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-3">
        <span class="avatar-title rounded-circle text-white border-gradient">
          2
        </span>
      </div>
      <h3>Deposit</h3>
    </div>
    <div class="col col-lg-4">
      <div class="avatar avatar-lg mb-3">
        <span class="avatar-title rounded-circle text-white border-gradient">
          3
        </span>
      </div>
      <h3>Earn a fixed interest rate & MPH rewards</h3>
    </div>
  </div>
  <div class="row justify-content-center mb-7">
    <div class="col-auto">
      <button class="btn btn-lg btn-bg-gradient" routerLink="earn">
        Get started
      </button>
    </div>
  </div>
</div>
