<div class="row px-4 no-gutters">
  <div class="col">
    <h2>How it works</h2>
    <p class="text-white">
      If you have a deposit in the {{poolInfo.protocol}} {{poolInfo.stablecoinSymbol}} pool whose maturation date is on
      or
      before that of this zero coupon bond, then you can use the deposit to mint this zero coupon bond.
    </p>
    <p class="text-white">
      You will need to deposit
      all of the MPH rewards you received from the deposit. When the deposit is
      mature, part of the deposited MPH will be used to pay for withdrawing the deposit, and the remaining MPH will be
      returned to you.
    </p>
    <p class="text-white mb-4">
      Once you've used your deposit to mint zero coupon bonds, you will give up your ownership of the deposit, meaning
      you
      cannot
      withdraw it early or trade its NFT. The NFT will be returned to you after the deposit is mature & withdrawn.
    </p>
  </div>
</div>
<div class="row justify-content-center">
  <ng-container *ngIf="zcbEntry.mature">
    <h3 class="glowing">This zero coupon bond is already mature.</h3>
  </ng-container>
  <ng-container *ngIf="!zcbEntry.mature">
    <ng-container *ngIf="eligibleDeposits.length == 0">
      <h3 class="glowing">You don't have any deposits that can be used for minting this zero coupon bond.</h3>
    </ng-container>
    <ng-container *ngIf="eligibleDeposits.length > 0">
      <table class="table table-sm card-table">
        <thead>
          <tr>
            <th class="text-dark">
              #
            </th>
            <th class="text-dark">
              Maturation Date
            </th>
            <th class="text-dark">
              Deposit Amount
            </th>
            <th class="text-dark">
              Required MPH Deposit Amount
            </th>
            <th class="text-dark">
              MPH to Receive Upon Maturation
            </th>
            <th class="text-dark">
              Mintable Zero Coupon Bond
            </th>
            <th class="text-dark">
            </th>
          </tr>
        </thead>
        <tbody class="list">
          <tr *ngFor="let deposit of eligibleDeposits">
            <td>
              <h4 class="mb-0">#{{deposit.nftID}}</h4>
            </td>
            <td>
              <h4 class="mb-1 font-weight-normal glowing">{{deposit.maturationDate}}</h4>
            </td>
            <td>
              <h4 class="mb-1 font-weight-normal glowing">${{deposit.amountUSD.toFormat(DECIMALS)}}</h4>
              <div class="text-white d-block">{{deposit.amountToken.toFormat(DECIMALS)}}
                {{poolInfo.stablecoinSymbol}}</div>
              <div class="text-white">@ {{deposit.apy.toFormat(DECIMALS)}}% fixed APY</div>
            </td>
            <td>
              <h4 class="mb-1 font-weight-normal glowing">
                ${{deposit.mintMPHAmount.times(mphPriceUSD).toFormat(DECIMALS)}}
              </h4>
              <span class="text-white d-block">{{deposit.mintMPHAmount.toFormat(DECIMALS)}} MPH</span>
            </td>
            <td>
              <h4 class="mb-1 font-weight-normal glowing">
                ${{deposit.realMPHReward.times(mphPriceUSD).toFormat(DECIMALS)}}
              </h4>
              <span class="text-white d-block">{{deposit.realMPHReward.toFormat(DECIMALS)}} MPH</span>
            </td>
            <td>
              <h4 class="mb-1 font-weight-normal glowing">{{deposit.mintableZCBAmount.toFormat(DECIMALS)}} ZCB</h4>
            </td>
            <td class="text-right">
              <!-- Button -->
              <button type="button" class="card-link small small px-1" (click)="mint(deposit)"
                [disabled]="!canContinue(deposit)">
                <i class="fe fe-dollar-sign mr-2 align-bottom"></i>
                Mint
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </ng-container>
</div>