<div class="container mt-4 mb-6">
  <div class="row">
    <div class="col">
      <h1 class="title-bg-gradient display-2">Buy crypto at a discount</h1>     
      <p class="text-white font-weight-bold mb-5 lead">
        Buy crypto and stablecoin at a discount by purchasing zero-coupon bonds below, and earn high fixed-interest yields by redeeming the zeros one-to-one with their underlying asset when they have reached their maturity. Exit anytime without penalties.
        <a class="text-primary" href="https://docs.88mph.app/" target="_blank">
        Learn more <i class="fe fe-external-link"></i>
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            Buy or redeem
          </h4>
        </div>
        <div class="card-body">
          <label for="">Buy with USDC
            <br>
            <small class="text-muted mb-0">Input the amount you want to buy</small>
          </label>
          
          <div class="input-group input-group-lg mb-2">
            <select class="form-select custom-select" id="inputGroupSelect02">
              <option selected>USDC</option>
              <option value="1">DAI</option>
            </select>
            <input
              type="text"
              class="form-control"
              placeholder="0.00"
              aria-label=""
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button
                class="btn border-gradient"
                type="button"
              >
                Max
              </button>
            </div>
          </div>
          <small class="form-text text-white">0.00 TKN
            available</small>
          <div class="row justify-content-center">
            <div class="col-auto">
              <button
                class="btn btn-lg btn-rounded-circle btn-dark"
              >
                <img
                  src="./assets/img/swap_vert_white_24dp.svg"
                  class=""
                  alt="Swap vertical icon"
                />
              </button>
            </div>
          </div>
          <label for="">Select a maturity & fixed-interest rate
            <br>
            <small class="text-muted mb-0">You will be able to redeem your principal & fixed interest on the corresponding date.</small>
          </label>
          <div class="input-group input-group-lg mb-4">
            <select class="form-select custom-select" id="inputGroupSelect02">
              <option selected>Aug 1 2021 - 7.810%</option>
              <option selected>Fev 1 2022 - 7.810%</option>
            </select>
            <input
              type="text"
              class="form-control"
              placeholder="0.00"
              aria-label=""
              aria-describedby="basic-addon2"
              disabled
              aria-disabled="true"
            />
          </div>
          <div class="table-responsive">
            <table class="table mb-0">
              <tbody>
                <tr>
                  <td class="px-0 py-2 text-white border-0 small">
                    Total Earned at Maturity | Aug 1 2021
                  </td>
                  <td class="px-0 text-white text-right border-0 small">
                    <h4 class="mb-1 glowing">$0.00</h4>
                    <span class="text-muted">0.00 USDC</span>
                  </td>
                </tr>
                <tr>
                  <td class="px-0 py-2 text-white border-0 small">
                    <strong>Interest earned</strong>
                  </td>
                  <td class="px-0 py-2 text-white text-right border-0 small">
                    <h4 class="mb-1 glowing">$0.00</h4>
                    <span class="text-muted">0.00 TKN</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <a
                class="btn btn-lg btn-block btn-outline-white glowing"
                >Approve</a
              >
            </div>
            <div class="col-6">
              <a
                class="btn btn-lg btn-block btn-bg-gradient border-0 glowing"
                >Buy</a
              >
            </div>
            <div class="col-12 d-none">
              <a class="btn btn-lg btn-block btn-bg-gradient border-0 glowing">Redeem</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">

      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            Balance
          </h4>
        </div>
        <div class="card-body p-0">
          balance
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            Things you can do
          </h4>
        </div>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action px-4">
              <h4 class="mb-1">Provide ZCB liquidity</h4>
              <small class="text-muted">Provide liquidity on our trading pools, and get rewarded by doing so from trading fees and liquidity mining rewards paid in $MPH.</small>
              <small class="text-primary ml-2">Learn more</small>
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            88mph Villa - Artist in Residence
          </h4>
        </div>
        <div class="card-body p-0">
          <a class="text-purple" href="https://app.rarible.com/token/0xd07dc4262bcdbf85190c01c996b4c06a461d2430:159366:0x4ddc4a3b6813436e5d2ca27a9ac0be92bf3df0d4" target="_blank">
            <img class="img-fluid" src="./assets/img/88mph_warakami_1k.gif" alt="88mph_warakami">
          </a>
        </div>
        <div class="card-footer">
          <a href="https://app.rarible.com/token/0xd07dc4262bcdbf85190c01c996b4c06a461d2430:159366:0x4ddc4a3b6813436e5d2ca27a9ac0be92bf3df0d4" target="_blank">
            NFT 💜 <i class="fe fe-external-link"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
</div>













<!-- HEADER -->
<div class="header pt-4 d-none">
  <div class="container-fluid">

    <!-- Body -->
    <div class="header-body border-0 p-0">
      <div class="row align-items-center">
        <div class="col-12 col-lg-10 order-2 order-lg-1">
          <h1 class="mb-2">Zero coupon bonds</h1>
          <p class="text-muted font-weight-bold mb-3">
            Zero coupon bonds are a type of financial instrument that can be redeemed 1-to-1 for its underlying currency
            upon maturation. Mint zero coupon bonds using your fixed-rate deposit, and get
            instant liquidity on Sushiswap. <a class="text-purple" href="https://docs.88mph.app/" target="_blank">
              Help <i class="fe fe-external-link"></i>
            </a>
          </p>
        </div>
        <div class="col-12 col-lg-2 order-1 order-lg-2 mb-4 mb-lg-0">
          <a class="text-purple" href="https://app.rarible.com/token/0xd07dc4262bcdbf85190c01c996b4c06a461d2430:159366:0x4ddc4a3b6813436e5d2ca27a9ac0be92bf3df0d4" target="_blank">
            <img class="img-fluid mb-2 border border-white" src="./assets/img/88mph_warakami_1k.gif" alt="88mph_warakami">
            NFT 💜 <i class="fe fe-external-link"></i>
          </a>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->

<div class="container-fluid mb-6">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h2 class="mt-n3 bg-dark mb-0 mx-3 pl-3">Explore our zero coupon bond offerings</h2>
        <div class="alert alert-pink-blue rounded-0 mb-0 mt-3 pl-4 d-none">
          Stake your ZCB SLP tokens and earn MPH rewards! Get started by clicking "Manage" in the ZCB series' row.
        </div>
        <div class="form-group m-4">
          <label for="pool-select">Select pool</label>
          <select class="custom-select" id="pool-select" data-toggle="select"
            (change)="selectPool($event.target.value)">
            <option value={{i}} *ngFor="let pool of allPoolList; index as i;">
              {{pool.stablecoinSymbol}} ({{pool.protocol}})
            </option>
          </select>
        </div>

        <div class="table-responsive mb-0">
          <table class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th class="text-dark">
                  Series
                </th>
                <th class="text-dark">
                  Your balance
                </th>
                <th class="text-dark">
                  Total Supply
                </th>
                <th class="text-dark">
                  Implied Interest Rate
                </th>
                <th class="text-dark">

                </th>
              </tr>
            </thead>
            <tbody class="list">
              <tr class="border-left border-2 border-amber" *ngFor="let zcbEntry of selectedPoolZCBList">
                <td>
                  <h4 class="mb-0">{{zcbEntry.zcbInfo.series}}</h4>
                  <span class="badge mb-1"
                    [ngClass]="{'badge-soft-warning': zcbEntry.mature, 'badge-soft-success': !zcbEntry.mature}">
                    <ng-container *ngIf="zcbEntry.mature">
                      Mature
                    </ng-container>
                    <ng-container *ngIf="!zcbEntry.mature">
                      Active
                    </ng-container>
                  </span>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-normal glowing">{{zcbEntry.userBalance.toFormat(2)}} ZCB</h4>
                  <span class="text-white d-block">${{zcbEntry.userBalanceUSD.isNaN() ? 'N/A' :
                    zcbEntry.userBalanceUSD.toFormat(2)}}</span>
                  <div class="mt-3">
                    <!-- Button -->
                    <a class="mr-3" href="https://app.sushi.com/swap?inputCurrency={{zcbEntry.zcbInfo.sushiSwapPairBaseTokenAddress}}&outputCurrency={{zcbEntry.zcbInfo.address}}" target="_blank">
                      <button type="button" class="card-link small px-1" [disabled]="wallet.watching">
                        <i class="fe fe-external-link mr-2 align-bottom"></i>Trade
                      </button>
                    </a>
                    <!-- Button -->
                    <button type="button" class="card-link small px-1" (click)="openZCBModal(zcbEntry)" [disabled]="wallet.watching">
                      <i class="fe fe-settings mr-2 align-bottom"></i>Manage
                    </button>
                  </div>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-normal glowing">{{zcbEntry.totalSupply.toFormat(2)}} ZCB</h4>
                  <span class="text-white d-block">${{zcbEntry.totalSupplyUSD.isNaN() ? 'N/A' :
                    zcbEntry.totalSupplyUSD.toFormat(2)}}</span>
                </td>
                <td>
                  <h4 class="mb-1 font-weight-normal glowing">{{zcbEntry.impliedInterestRate.isNaN() ? "N/A" :
                    zcbEntry.impliedInterestRate.toFormat(2)}}%</h4>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
