<div class="modal-dialog modal-dialog-vertical" role="document">
  <div class="modal-content">
    <div class="modal-body pt-0 py-lg-0">
      <div class="row no-gutters">
        <div class="col-auto mr-auto">
          <button
            class="btn btn-link text-white pl-0"
            type="button"
            name="button"
            data-dismiss="modal"
            aria-label="Close"
            (click)="activeModal.close(false)"
          >
            <i class="fe fe-arrow-left h2 mb-0"></i>
          </button>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 pt-0 pr-lg-5">
          <h1 class="display-4 text-center" i18n="@@AknowledgetermsHeader">
            Acknowledge Terms
          </h1>
          <p class="text-center">
            By using 88mph.app, you agree to the
            <a
              href="https://88mph.app/disclaimer"
              target="_blank"
              rel="noopener noreferrer"
              >Disclaimer</a
            >
            and
            <a
              href="https://88mph.app/tos"
              target="_blank"
              rel="noopener noreferrer"
              >Terms of services</a
            >.
          </p>
          <p class="text-center">You agree, represent, and warrant that:</p>
          <div class="card mb-6">
            <div class="card-body">
              <ul class="d-block p-5 bg-dark rounded">
                <li>
                  You are not a person or a company who is a resident of, or is
                  located, incorporated or has a registered agent in the United
                  States nor in a Restricted Country listed in our
                  <a
                    href="https://88mph.app/tos"
                    target="_blank"
                    rel="noopener noreferrer"
                    >terms of services</a
                  >.
                </li>
                <li>
                  You will not in the future access this site or use 88mph.app
                  while located within the United States or within a Restricted
                  Country listed in our
                  <a
                    href="https://88mph.app/tos"
                    target="_blank"
                    rel="noopener noreferrer"
                    >terms of services</a
                  >.
                </li>
                <li>
                  You are not using, and will not in the future use a VPN to
                  mask your physical location from a restricted country.
                </li>
                <li>
                  You are lawfully permitted to access this site and use 88mph
                  under the laws of the jurisdiction in which you reside and are
                  located.
                </li>
                <li>
                  You understand the risks associated with the use of 88mph.app,
                  listed in the
                  <a
                    href="https://docs.88mph.app"
                    target="_blank"
                    rel="noopener noreferrer"
                    >documentation</a
                  >.
                </li>
              </ul>
              <div class="form-check text-center mb-3">
                <input
                  [(ngModel)]="acceptedTerms"
                  class="form-check-input"
                  type="checkbox"
                  id="termsOfServiceCheck"
                />
                <label class="form-check-label" for="termsOfServiceCheck">
                  <ng-container i18n="@@termsOfServiceCheck"
                    >By visiting and using 88mph, you agree to these
                    terms.</ng-container
                  >
                </label>
              </div>

              <div class="row">
                <div class="col-6">
                  <button
                    class="btn btn-lg btn-block btn-dark"
                    type="button"
                    name="button"
                    data-dismiss="modal"
                    aria-label="Close"
                    (click)="activeModal.close(false)"
                    i18n="@@cancel"
                  >
                    Cancel
                  </button>
                </div>
                <div class="col-6">
                  <button
                    class="btn btn-lg btn-block btn-bg-gradient"
                    (click)="acceptTerms()"
                    [disabled]="!acceptedTerms"
                    i18n="@@accept"
                  >
                    I agree
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
