<div class="container mt-4 mb-6">
  <div class="row">
    <div class="col-12">
      <h1 class="title-bg-gradient display-2" i18n="@@stakeMPHForXMPH">
        Gauge weight vote
      </h1>
      <p class="text-white font-weight-bold mb-5 lead">
        <ng-container i18n="@@rewardsPageText">
          MPH emissions are directed by the community of veMPH holders. Lock
          your
          <a
            href="https://app.balancer.fi/#/pool/0x3e09e828c716c5e2bc5034eed7d5ec8677ffba180002000000000000000002b1"
            target="_blank"
            rel="noopener noreferrer"
            >80MPH-20WETH Balancer pool tokens (BPT)</a
          >
          to receive veMPH and vote to influence how much MPH each fixed-rate
          pool will receive. The more votes a pool receives, the higher the MPH
          APR will be on that pool.
        </ng-container>
        <a class="text-purple" href="https://docs.88mph.app/" target="_blank">
          <ng-container i18n="@@learnMore">Learn more </ng-container>
          <i class="fe fe-external-link"></i>
        </a>
      </p>
      <!--desktop user's data-->
      <div class="card-deck d-none d-lg-flex my-5">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 i18n="@@">BPT Balance</h5>
            <h2 class="mb-2 glowing">{{ bptBalance.toFormat(6) }}</h2>
          </div>
        </div>
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 i18n="@@">BPT Unlocked</h5>
            <span class="d-flex justify-content-between align-items-center">
              <h2 class="mb-0 glowing">{{ bptUnlocked.toFormat(6) }}</h2>
              <button
                type="button"
                class="btn btn-sm btn-bg-gradient"
                *ngIf="bptUnlocked.gt(0)"
                (click)="withdraw()"
              >
                <ng-container i18n="@@">Withdraw</ng-container>
              </button>
            </span>
          </div>
        </div>
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 i18n="@@">BPT Locked</h5>
            <h2 class="mb-2 glowing">{{ bptLocked.toFormat(6) }}</h2>
          </div>
        </div>
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 i18n="@@">Locked Until</h5>
            <h2 class="mb-2 glowing">
              {{
                lockEnd && lockEnd > now
                  ? timestampToDateString(lockEnd)
                  : "-----"
              }}
            </h2>
          </div>
        </div>
      </div>
      <!-- <div class="card-deck d-none d-lg-flex my-5"> -->
      <div class="card-deck d-none d-lg-flex my-5">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <span
              class="d-flex justify-content-between align-items-center mb-2"
            >
              <h5 i18n="@@">veMPH Balance</h5>
              <span
                class="
                  badge badge-xl badge-soft-success
                  mt-n2
                  ml-1
                  ng-star-inserted
                "
              >
                {{ veAPR.toFormat(2) }}% APR
              </span>
            </span>
            <span class="d-flex justify-content-between align-items-center">
              <span class="h2 mb-2 glowing">{{ veBalance.toFormat(6) }}</span>
              <button
                type="button"
                class="btn btn-sm btn-bg-gradient"
                (click)="claimAll()"
                *ngIf="mphRewards.gt(0) && balRewards.gt(0)"
              >
                <ng-container i18n="@@">Claim All</ng-container>
              </button>
            </span>
          </div>
        </div>
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <span
              class="d-flex justify-content-between align-items-center mb-2"
            >
              <h5 class="" i18n="@@">MPH Rewards</h5>
              <span
                class="
                  badge badge-xl badge-soft-success
                  mt-n2
                  ml-1
                  ng-star-inserted
                "
              >
                {{ mphAPR.toFormat(2) }}% APR
              </span>
            </span>
            <span class="d-flex justify-content-between align-items-center">
              <span class="h2 mb-0 glowing">
                {{ mphRewards.toFormat(6) }}
              </span>
              <button
                type="button"
                class="btn btn-sm btn-bg-gradient"
                (click)="claim(constants.MPH_ADDRESS[wallet.networkID])"
                *ngIf="mphRewards.gt(0)"
              >
                <ng-container i18n="@@">Claim</ng-container>
              </button>
            </span>
          </div>
        </div>
        <!-- <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <span
              class="d-flex justify-content-between align-items-center mb-2"
            >
              <h5 class="" i18n="@@">BAL Rewards</h5>
              <span
                class="
                  badge badge-xl badge-soft-success
                  mt-n2
                  ml-1
                  ng-star-inserted
                "
              >
                {{ balAPR.toFormat(2) }}% APR
              </span>
            </span>
            <span class="d-flex justify-content-between align-items-center">
              <span class="h2 mb-0 glowing">
                {{ balRewards.toFormat(6) }}
              </span>
              <button
                type="button"
                class="btn btn-sm btn-bg-gradient"
                (click)="claim(constants.BAL[wallet.networkID])"
                *ngIf="balRewards.gt(0)"
              >
                <ng-container i18n="@@">Claim</ng-container>
              </button>
            </span>
          </div>
        </div> -->
      </div>

      <!--mobile user's data-->
      <div class="d-lg-none">
        <div class="card-active mb-3 mb-lg-0">
          <div class="card-body">
            <h5 i18n="@@">BPT Balance</h5>
            <h2 class="mb-2 glowing">{{ bptBalance.toFormat(6) }}</h2>
          </div>
        </div>
        <div class="card-active mb-3 mb-lg-0">
          <div class="card-body">
            <h5 i18n="@@">BPT Unlocked</h5>
            <span class="d-flex justify-content-between align-items-center">
              <h2 class="mb-0 glowing">{{ bptUnlocked.toFormat(6) }}</h2>
              <button
                type="button"
                class="btn btn-sm btn-bg-gradient"
                *ngIf="bptUnlocked.gt(0)"
                (click)="withdraw()"
              >
                <ng-container i18n="@@">Withdraw</ng-container>
              </button>
            </span>
          </div>
        </div>
        <div class="card-active mb-3 mb-lg-0">
          <div class="card-body">
            <h5 i18n="@@">BPT Locked</h5>
            <h2 class="mb-2 glowing">{{ bptLocked.toFormat(6) }}</h2>
          </div>
        </div>
        <div class="card-active mb-3 mb-lg-0">
          <div class="card-body">
            <h5 i18n="@@">Locked Until</h5>
            <h2 class="mb-2 glowing">
              {{
                lockEnd && lockEnd > now
                  ? timestampToDateString(lockEnd)
                  : "-----"
              }}
            </h2>
          </div>
        </div>
        <div class="card-active mb-3 mb-lg-0">
          <div class="card-body">
            <span
              class="d-flex justify-content-between align-items-center mb-2"
            >
              <h5 i18n="@@">veMPH Balance</h5>
              <span
                class="
                  badge badge-xl badge-soft-success
                  mt-n2
                  ml-1
                  ng-star-inserted
                "
              >
                {{ veAPR.toFormat(2) }}% APR
              </span>
            </span>
            <span class="d-flex justify-content-between align-items-center">
              <span class="h2 mb-2 glowing">{{ veBalance.toFormat(6) }}</span>
              <button
                type="button"
                class="btn btn-sm btn-bg-gradient"
                (click)="claimAll()"
                *ngIf="mphRewards.gt(0) && balRewards.gt(0)"
              >
                <ng-container i18n="@@">Claim All</ng-container>
              </button>
            </span>
          </div>
        </div>
        <div class="card-active mb-5 mb-lg-0">
          <div class="card-body">
            <span
              class="d-flex justify-content-between align-items-center mb-2"
            >
              <h5 class="" i18n="@@">MPH Rewards</h5>
              <span
                class="
                  badge badge-xl badge-soft-success
                  mt-n2
                  ml-1
                  ng-star-inserted
                "
              >
                {{ mphAPR.toFormat(2) }}% APR
              </span>
            </span>
            <span class="d-flex justify-content-between align-items-center">
              <span class="h2 mb-0 glowing">
                {{ mphRewards.toFormat(6) }}
              </span>
              <button
                type="button"
                class="btn btn-sm btn-bg-gradient"
                (click)="claim(constants.MPH_ADDRESS[wallet.networkID])"
                *ngIf="mphRewards.gt(0)"
              >
                <ng-container i18n="@@">Claim</ng-container>
              </button>
            </span>
          </div>
        </div>
      </div>
      <!-- end mobile user's data-->

      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h4 class="card-header-title" i18n="@@">Gauge Weight Voting</h4>
              <time class="small">
                <span class="d-none d-lg-inline-block"
                  >Voting Period Ends:</span
                >
                <span *ngIf="timeLeftCountdown">
                  {{ timeLeftCountdown.days }}d {{ timeLeftCountdown.hours }}h
                  {{ timeLeftCountdown.minutes }}m
                  {{ timeLeftCountdown.seconds }}s
                </span>
              </time>
            </div>

            <div class="card-body">
              <div class="list-group list-group-flush list-group-activity mb-4">
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-auto">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                          i18n="@@"
                        >
                          1
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <div class="form-group mb-2">
                        <label
                          ><a
                            href="https://app.balancer.fi/#/pool/0x3e09e828c716c5e2bc5034eed7d5ec8677ffba180002000000000000000002b1"
                            target="_blank"
                            rel="noopener noreferrer"
                            >80MPH-20WETH BPT</a
                          >
                          amount to lock in order to vote for gauge
                          weights</label
                        >
                        <div class="input-group">
                          <input
                            type="text"
                            placeholder="0.00"
                            aria-label=""
                            aria-describedby=""
                            class="form-control form-control-lg"
                            [value]="lockAmount.toFixed()"
                            (input)="setLockAmount($event.target.value)"
                          />
                        </div>
                      </div>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="presetLockAmount(25)"
                      >
                        25%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="presetLockAmount(50)"
                      >
                        50%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="presetLockAmount(75)"
                      >
                        75%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="presetLockAmount(100)"
                      >
                        100%
                      </button>
                      <small class="text-white mb-0">
                        {{ bptBalance.toFormat(4) }} BPT available
                      </small>
                      <button
                        type="button"
                        class="
                          btn btn-lg btn-block btn-bg-gradient
                          my-3
                          d-flex
                          justify-content-center
                          align-items-center
                        "
                        *ngIf="bptUnlocked.gt(0)"
                        (click)="withdraw()"
                      >
                        Withdraw Expired Lock
                        <i
                          class="fe fe-help-circle ml-2"
                          placement="right"
                          ngbTooltip="Before creating a new lock, you must first withdraw your expired lock."
                        ></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="
                          bptUnlocked.eq(0) &&
                          veBalance.gt(0) &&
                          lockAmount.lte(0)
                        "
                        [disabled]="true"
                      >
                        Enter an Amount
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="
                          bptUnlocked.eq(0) &&
                          veBalance.gt(0) &&
                          lockAmount.gt(bptBalance)
                        "
                        [disabled]="true"
                      >
                        Not Enough 80MPH-20WETH Available
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient mb-3"
                        *ngIf="
                          bptUnlocked.eq(0) &&
                          veBalance.gt(0) &&
                          lockAmount.lte(bptBalance) &&
                          lockAmount.gt(bptAllowance)
                        "
                        (click)="approve()"
                      >
                        Approve
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="
                          bptUnlocked.eq(0) &&
                          veBalance.gt(0) &&
                          lockAmount.gt(0) &&
                          lockAmount.lte(bptBalance) &&
                          lockAmount.lte(bptAllowance)
                        "
                        (click)="increaseLockAmount()"
                      >
                        Add to Lock
                      </button>
                      <div class="form-row mb-0">
                        <div class="col-12">
                          <div class="form-group mb-2 mt-3">
                            <label>Lock Duration (days)</label>
                            <div class="input-group align-items-center d-flex">
                              <input
                                type="tel"
                                placeholder="0.00"
                                aria-label=""
                                aria-describedby=""
                                id="lock-period"
                                data-mask="#,##0"
                                data-mask-reverse="true"
                                class="
                                  form-control form-control-lg
                                  pr-1
                                  mr-4 mr-md-2
                                  rounded
                                  mb-3 mb-lg-0
                                "
                                [value]="lockDuration"
                                (input)="setLockDuration($event.target.value)"
                              />
                              <input
                                type="range"
                                min="7"
                                max="1460"
                                step="1"
                                class="custom-range"
                                [value]="lockDuration"
                                (input)="setLockDuration($event.target.value)"
                              />
                            </div>
                          </div>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(7)"
                            *ngIf="maxLockDuration >= 7 * constants.DAY_IN_SEC"
                          >
                            1 week
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(31)"
                            *ngIf="maxLockDuration >= 31 * constants.DAY_IN_SEC"
                          >
                            1 month
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(183)"
                            *ngIf="
                              maxLockDuration >= 183 * constants.DAY_IN_SEC
                            "
                          >
                            6 months
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(365)"
                            *ngIf="
                              maxLockDuration >= 365 * constants.DAY_IN_SEC
                            "
                          >
                            1 year
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(730)"
                            *ngIf="
                              maxLockDuration >= 730 * constants.DAY_IN_SEC
                            "
                          >
                            2 years
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(1095)"
                            *ngIf="
                              maxLockDuration >= 1095 * constants.DAY_IN_SEC
                            "
                          >
                            3 years
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(1460)"
                            *ngIf="
                              maxLockDuration >= 1460 * constants.DAY_IN_SEC
                            "
                          >
                            4 years
                          </button>
                          <div class="row" *ngIf="veBalance.eq(0)">
                            <div class="col">
                              <small class="form-text text-muted my-2"
                                >Min: 7 days | Max: 1460 days</small
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <button
                        type="button"
                        class="
                          btn btn-lg btn-block btn-bg-gradient
                          my-3
                          d-flex
                          justify-content-center
                          align-items-center
                        "
                        (click)="withdraw()"
                        *ngIf="bptUnlocked.gt(0)"
                      >
                        Withdraw Expired Lock
                        <i
                          class="fe fe-help-circle ml-2"
                          placement="right"
                          ngbTooltip="Before creating a new lock, you must first withdraw your expired lock."
                        ></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        [disabled]="true"
                        *ngIf="
                          bptUnlocked.eq(0) &&
                          veBalance.eq(0) &&
                          lockAmount.lte(0)
                        "
                      >
                        Enter an Amount
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        [disabled]="true"
                        *ngIf="
                          bptUnlocked.eq(0) &&
                          veBalance.eq(0) &&
                          lockAmount.gt(bptBalance)
                        "
                      >
                        Not Enough BPT Available
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        (click)="approve()"
                        *ngIf="
                          bptUnlocked.eq(0) &&
                          veBalance.eq(0) &&
                          lockAmount.lte(bptBalance) &&
                          lockAmount.gt(bptAllowance)
                        "
                      >
                        Approve BPT
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        [disabled]="true"
                        *ngIf="bptUnlocked.eq(0) && !validLockDuration()"
                      >
                        Invalid Lock Duration
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        (click)="createLock()"
                        *ngIf="
                          veBalance.eq(0) &&
                          bptUnlocked.eq(0) &&
                          lockAmount.gt(0) &&
                          lockAmount.lte(bptBalance) &&
                          lockAmount.lte(bptAllowance) &&
                          validLockDuration()
                        "
                      >
                        Create Lock
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        (click)="increaseLockDuration()"
                        *ngIf="
                          veBalance.gt(0) &&
                          bptUnlocked.eq(0) &&
                          validLockDuration()
                        "
                      >
                        Increase Lock Duration
                      </button>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-auto text-center">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                          i18n="@@"
                        >
                          2
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <div class="form-group">
                        <label for="" i18n="@@">Select a Gauge</label>
                        <select
                          class="custom-select custom-select-lg"
                          data-toggle="select"
                          id=""
                          [(ngModel)]="selectedGauge"
                        >
                          <option [ngValue]="null">Select a Gauge...</option>
                          <option
                            *ngFor="let gauge of protocolGauges"
                            [ngValue]="gauge"
                          >
                            {{ gauge.name }} ({{
                              gauge.address.slice(0, 6)
                            }}...{{ gauge.address.slice(38, 42) }})
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-auto text-center">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                          i18n="@@"
                        >
                          3
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <div class="form-group mb-2">
                        <label>Vote Weight (%)</label>
                        <div class="input-group">
                          <input
                            type="text"
                            placeholder="1% (of your voting power)"
                            aria-label=""
                            aria-describedby=""
                            class="form-control form-control-lg"
                            [value]="voteWeight.toFixed(2)"
                            (input)="setVoteWeight($event.target.value)"
                          />
                        </div>
                      </div>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(25)"
                      >
                        25%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(50)"
                      >
                        50%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(75)"
                      >
                        75%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(100)"
                      >
                        100%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(votePowerAvailable.toNumber())"
                      >
                        Max
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(0)"
                      >
                        Reset
                      </button>
                      <small class="text-muted mb-0">
                        {{ votePowerAvailable.toFormat(2) }}% available |
                        {{ votePowerUsed.toFormat(2) }}% used
                      </small>
                      <div class="row mt-2 mb-1">
                        <div class="col">
                          <small class="form-text text-muted mb-0">
                            {{ voteWeight.toFormat(2) }}% of your voting power
                            will be allocated to this gauge
                          </small>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col">
                          <small class="form-text text-muted mb-0"> </small>
                        </div>
                      </div>
                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-bg-gradient mt-3"
                        *ngIf="!selectedGauge"
                        [disabled]="true"
                      >
                        <ng-container i18n="@@">Select a Gauge</ng-container>
                      </button>
                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-bg-gradient mt-3"
                        *ngIf="
                          selectedGauge &&
                          (voteWeight.lt(0) || voteWeight.gt(100))
                        "
                        [disabled]="true"
                      >
                        <ng-container i18n="@@"
                          >Invalid Vote Weight</ng-container
                        >
                      </button>
                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-bg-gradient mt-3"
                        *ngIf="
                          selectedGauge && voteWeight.gt(votePowerAvailable)
                        "
                        [disabled]="true"
                      >
                        <ng-container i18n="@@">
                          Not Enough Vote Power Available
                        </ng-container>
                      </button>
                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-bg-gradient mt-3"
                        *ngIf="
                          selectedGauge &&
                          voteWeight.gt(0) &&
                          voteWeight.lte(100) &&
                          voteWeight.lte(votePowerAvailable)
                        "
                        (click)="vote(selectedGauge.address, voteWeight)"
                        [disabled]="!canVote(selectedGauge.address)"
                      >
                        <ng-container
                          *ngIf="
                            canVote(selectedGauge.address) && veBalance.gt(0)
                          "
                          i18n="@@"
                          >Vote</ng-container
                        >
                        <ng-container
                          *ngIf="
                            !canVote(selectedGauge.address) && veBalance.eq(0)
                          "
                          i18n="@@"
                        >
                          Lock BPT To Be Eligible To Vote
                        </ng-container>
                        <ng-container
                          *ngIf="
                            !canVote(selectedGauge.address) && veBalance.gt(0)
                          "
                          i18n="@@"
                          >You Can Only Vote For The
                          {{ selectedGauge.name }} Gauge Once Every 10
                          Days</ng-container
                        >
                      </button>
                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-bg-gradient mt-3"
                        *ngIf="selectedGauge && voteWeight.eq(0)"
                        (click)="resetVote(selectedGauge.address)"
                        [disabled]="!canVote(selectedGauge.address)"
                      >
                        <ng-container
                          *ngIf="
                            canVote(selectedGauge.address) && veBalance.gt(0)
                          "
                          i18n="@@"
                          >Reset Vote</ng-container
                        >
                        <ng-container
                          *ngIf="
                            !canVote(selectedGauge.address) && veBalance.eq(0)
                          "
                          i18n="@@"
                        >
                          Lock BPT To Be Eligible To Vote
                        </ng-container>
                        <ng-container
                          *ngIf="
                            !canVote(selectedGauge.address) && veBalance.gt(0)
                          "
                          i18n="@@"
                          >You Can Only Vote For The
                          {{ selectedGauge.name }} Gauge Once Every 10
                          Days</ng-container
                        >
                      </button>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card mb-6">
            <div class="card-header">
              <h4 class="card-header-title" i18n="@@">Gauges Weight</h4>
              <a
                class="d-inline-block ml-auto text-primary small"
                href="https://docs.88mph.app"
                i18n="@@help"
                target="_blank"
                >Help</a
              >
            </div>
            <div class="card-header">
              <div class="row">
                <div class="col-12">
                  <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a
                        class="nav-link text-center active"
                        id="myweight-tab"
                        data-toggle="tab"
                        href="#myweight"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true"
                      >
                        My Weight
                      </a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a
                        class="nav-link text-center"
                        id="protocolweight-tab"
                        data-toggle="tab"
                        href="#protocolweight"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true"
                      >
                        Protocol Weight
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card-body p-0">
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="myweight"
                  role="tabpanel"
                  aria-labelledby="myweight-tab"
                >
                  <div
                    class="
                      chart chart-appended
                      d-flex
                      justify-content-center
                      align-items-center
                    "
                  >
                    <span *ngIf="userChartData" class="w-100">
                      <h2
                        *ngIf="!wallet.userAddress"
                        class="d-flex justify-content-center"
                      >
                        Connect a Wallet
                      </h2>
                      <h2
                        *ngIf="wallet.userAddress && loadingUser"
                        class="d-flex justify-content-center"
                      >
                        Loading...
                      </h2>
                      <h2
                        *ngIf="
                          wallet.userAddress &&
                          !loadingUser &&
                          userChartLabels.length == 0
                        "
                        class="d-flex justify-content-center"
                      >
                        User Has No Lock
                      </h2>
                      <canvas
                        *ngIf="
                          wallet.userAddress &&
                          !loadingUser &&
                          userChartLabels.length > 0
                        "
                        baseChart
                        [chartType]="chartType"
                        [legend]="chartLegend"
                        [options]="chartOptions"
                        [labels]="userChartLabels"
                        [datasets]="userChartData"
                      >
                      </canvas>
                      <!-- User Chart -->
                    </span>
                  </div>
                  <div class="table-responsive" *ngIf="votePowerUsed.gt(0)">
                    <table
                      mat-table
                      matSort
                      matSortActive="userWeight"
                      matSortDirection="desc"
                      matSortDisableClear
                      [dataSource]="userGauges"
                      (matSortChange)="sortUserGauges($event)"
                      class="table table-sm table-nowrap card-table"
                    >
                      <ng-container matColumnDef="name">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          Gauge
                        </th>
                        <td mat-cell *matCellDef="let gauge">
                          {{ gauge.name }}
                          <a
                            href="{{ gauge.explorerURL }}"
                            target="_blank"
                            class="text-muted"
                          >
                            <i class="fe fe-external-link"></i>
                          </a>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="userWeight">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          Weight
                        </th>
                        <td mat-cell *matCellDef="let gauge">
                          {{ gauge.userWeight.toFormat(2) }}%
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let gauge">
                          <!-- <span
                            ngbTooltip="You can only vote for or reset this gauge once every 10 days"
                          > -->
                          <button
                            class="btn btn-sm border-gradient"
                            (click)="resetVote(gauge.address)"
                            [disabled]="
                              !gauge.userCanVote || gauge.userWeight.eq(0)
                            "
                          >
                            Reset
                          </button>
                          <!-- </span> -->
                        </td>
                      </ng-container>

                      <tr
                        class="text-muted"
                        mat-header-row
                        *matHeaderRowDef="['name', 'userWeight', 'action']"
                      ></tr>
                      <tr
                        class="mat-table-row"
                        [hidden]="gauge.userWeight.lte(0)"
                        mat-row
                        *matRowDef="
                          let gauge;
                          columns: ['name', 'userWeight', 'action']
                        "
                      ></tr>
                    </table>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="protocolweight"
                  role="tabpanel"
                  aria-labelledby="protocolweight-tab"
                >
                  <div
                    class="
                      chart chart-appended
                      d-flex
                      justify-content-center
                      align-items-center
                    "
                  >
                    <span *ngIf="protocolChartData" class="w-100">
                      <h2
                        *ngIf="loadingGlobal"
                        class="d-flex justify-content-center"
                      >
                        Loading...
                      </h2>
                      <h2
                        *ngIf="
                          !loadingGlobal && protocolChartLabels.length == 0
                        "
                        class="d-flex justify-content-center"
                      >
                        No Available Gauges
                      </h2>
                      <canvas
                        *ngIf="!loadingGlobal && protocolChartLabels.length > 0"
                        baseChart
                        [chartType]="chartType"
                        [legend]="chartLegend"
                        [options]="chartOptions"
                        [labels]="protocolChartLabels"
                        [datasets]="protocolChartData"
                      >
                      </canvas>
                    </span>
                  </div>
                  <div
                    class="table-responsive"
                    *ngIf="protocolGauges.length > 0"
                  >
                    <table
                      mat-table
                      matSort
                      matSortActive="gaugeWeightNextPeriod"
                      matSortDirection="desc"
                      matSortDisableClear
                      [dataSource]="protocolGauges"
                      (matSortChange)="sortGauges($event)"
                      class="table table-sm table-nowrap card-table"
                    >
                      <ng-container matColumnDef="name">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          Gauge
                        </th>
                        <td mat-cell *matCellDef="let gauge">
                          {{ gauge.name }}
                          <a
                            href="{{ gauge.explorerURL }}"
                            target="_blank"
                            class="text-muted"
                          >
                            <i class="fe fe-external-link"></i>
                          </a>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="gaugeWeightNextPeriod">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          Weight
                        </th>
                        <td mat-cell *matCellDef="let gauge">
                          <h5 class="mb-1 glowing">
                            {{ gauge.gaugeWeightNextPeriod.toFormat(2) }}%
                          </h5>
                          <span class="text-secondary small">
                            {{ gauge.gaugeWeightThisPeriod.toFormat(2) }}%
                          </span>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="gaugeAprNextPeriod">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          MPH APR
                        </th>
                        <td mat-cell *matCellDef="let gauge">
                          <h5 class="mb-1 glowing">
                            {{ gauge.gaugeAprNextPeriod.toFormat(2) }}%
                          </h5>
                          <span class="text-secondary small">
                            {{ gauge.gaugeAprThisPeriod.toFormat(2) }}%
                          </span>
                        </td>
                      </ng-container>

                      <tr
                        class="text-muted"
                        mat-header-row
                        *matHeaderRowDef="[
                          'name',
                          'gaugeWeightNextPeriod',
                          'gaugeAprNextPeriod'
                        ]"
                      ></tr>
                      <tr
                        class="mat-table-row"
                        mat-row
                        *matRowDef="
                          let gauge;
                          columns: [
                            'name',
                            'gaugeWeightNextPeriod',
                            'gaugeAprNextPeriod'
                          ]
                        "
                      ></tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer text-center">
              <small
                class="mb-0"
                placement="top"
                ngbTooltip=""
                i18n-ngbTooltip="@@"
              >
                <ng-container i18n="@@">Voting Period Ends:</ng-container>
                <span *ngIf="timeLeftCountdown">
                  {{ timeLeftCountdown.days }}d {{ timeLeftCountdown.hours }}h
                  {{ timeLeftCountdown.minutes }}m
                  {{ timeLeftCountdown.seconds }}s
                </span>
              </small>
            </div>
          </div>
          <div class="card mb-6">
            <div class="card-header">
              <h4 class="card-header-title" i18n="@@lockMphForVeMph">
                veMPH stats
              </h4>
              <a
                class="d-inline-block ml-auto text-primary small"
                href="https://docs.88mph.app"
                i18n="@@help"
                target="_blank"
                >Help</a
              >
            </div>
            <div class="card-body pr-0">
              <div class="table-responsive py-2 pr-4">
                <table class="table mb-0">
                  <tbody>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span>
                          Total veMPH:
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            ngbTooltip="Total voting power."
                          ></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">{{ veTotal.toFormat(2) }}</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span>
                          Total BPT
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            ngbTooltip="Total amount of BPT in existence."
                          ></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{ totalMPHSupply.toFormat(2) }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span>
                          Locked BPT
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            ngbTooltip="Amount of BPT locked in the Voting Escrow."
                          ></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{ totalMPHLocked.toFormat(2) }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span>
                          Percentage Locked
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            ngbTooltip="Percentage of BPT locked in the Voting Escrow."
                          ></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{
                            totalMPHLocked
                              .div(totalMPHSupply)
                              .times(100)
                              .toFormat(2)
                          }}%
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span>
                          Avgerage Lock Time
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            placement="top"
                            ngbTooltip="Average lock duration in years."
                          ></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{ averageLock.toFormat(2) }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small">
                        <span>
                          veMPH APR
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            placement="top"
                            ngbTooltip="Annual Percentage Rate. Assumes 1 BPT = 1 veMPH (max lock)."
                          ></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">{{ veAPR.toFormat(2) }}%</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span>
                          Annual Earnings
                          <i
                            class="fe fe-info ml-1 align-bottom"
                            placement="top"
                            ngbTooltip="Yearly earnings in USD per veMPH."
                          ></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">${{ veYield.toFormat(2) }}</h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-center">
              <small
                class="mb-0"
                placement="top"
                ngbTooltip="88mph Protocol revenues are distributed to MPH stakers on a bi-weekly basis via a buy-back mechansim. 88mph governance decides the percentage of revenues distributed, by default, it's 100%."
                i18n-ngbTooltip="@@nextDistributionText"
                *ngIf="rewardPeriodCountdown"
              >
                <ng-container i18n="@@nextDistributionOn">
                  Next Earnings Distribution:
                </ng-container>
                {{ rewardPeriodCountdown.days }}d
                {{ rewardPeriodCountdown.hours }}h
                {{ rewardPeriodCountdown.minutes }}m
                {{ rewardPeriodCountdown.seconds }}s
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
