<div class="container mt-4 mb-6">
  <div class="row">
    <div class="col-12">
      <h1 class="title-bg-gradient display-2" i18n="@@stakeMPHForXMPH">
        Gauge weight vote
      </h1>
      <p class="text-white font-weight-bold mb-5 lead">
        <ng-container i18n="@@rewardsPageText"
          >You can vote for gauge weight with your veMPH tokens (MPH
          vote-locked). Gauge weights are used to determine how much MPH does
          each fixed rate pool get and your veMPH balance influences your MPH
          APR when you deposit in 88mph fixed rate pools.
        </ng-container>
        <a class="text-purple" href="https://docs.88mph.app/" target="_blank">
          <ng-container i18n="@@learnMore">Learn more</ng-container>
          <i class="fe fe-external-link"></i>
        </a>
      </p>
      <!--desktop user's data-->
      <div class="card-deck d-none d-lg-flex my-5">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 class="text-uppercase" i18n="@@">MPH balance</h5>

            <!-- Heading -->
            <h2 class="mb-2 glowing">{{ mphBalance.toFormat(4) }}</h2>
            <!-- <h5 class="mb-3 text-white">
              ${{ mphBalance.times(datas.mphPriceUSD).toFormat(4) }}
            </h5> -->
            <!-- Button -->
            <!-- <button
              type="button"
              class="btn btn-sm btn-bg-gradient"
              (click)="openUnstakeModal()"
            >
              <i class="fe fe-arrow-down mr-2 align-bottom"></i>
              <ng-container i18n="@@unstake">Unstake</ng-container>
            </button> -->
          </div>
        </div>
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 i18n="@@">veMPH BALANCE</h5>

            <!-- Heading -->
            <h2 class="mb-2 glowing">{{ veBalance.toFormat(4) }}</h2>
          </div>
        </div>
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 class="text-uppercase" i18n="@@">MPH locked</h5>

            <!-- Heading -->
            <h2 class="mb-2 glowing">{{ mphLocked.toFormat(4) }}</h2>
            <div class="h5 mb-3 text-white" *ngIf="mphLocked.gt(0)">
              Locked Until:
              <br />
              {{ timestampToDateString(lockEnd) }}
            </div>
          </div>
        </div>
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 class="text-uppercase" i18n="@@">MPH unlocked</h5>

            <!-- Heading -->
            <h2 class="mb-2 glowing">{{ mphUnlocked.toFormat(4) }}</h2>
            <!-- <h5 class="mb-3 text-white">${{ mphUnlocked.times(datas.mphPriceUSD).toFormat(4) }}</h5> -->
            <!-- Button -->
            <button
              type="button"
              class="btn btn-sm btn-bg-gradient"
              *ngIf="mphUnlocked.gt(0)"
              (click)="withdraw()"
            >
              <i class="fe fe-arrow-down mr-2 align-bottom"></i>
              <ng-container i18n="@@">Claim</ng-container>
            </button>
          </div>
        </div>
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <!-- Title -->
            <h5 class="text-uppercase" i18n="@@">MPH rewards</h5>

            <!-- Heading -->
            <span class="h2 mb-2 glowing"> 0.0000 </span>
            <span
              class="
                badge badge-xl badge-soft-success
                mt-n2
                ml-1
                ng-star-inserted
              "
              >0.00% APR</span
            >
            <h5 class="mb-3 text-white">$0.0000</h5>
            <!-- Button -->
            <button type="button" class="btn btn-sm btn-bg-gradient">
              <i class="fe fe-arrow-down mr-2 align-bottom"></i>
              <ng-container i18n="@@">Claim</ng-container>
            </button>
          </div>
        </div>
      </div>
      <!--mobile user's data-->
      <div class="row d-lg-none my-5">
        <div class="col-6">
          <!-- Title -->
          <h5 class="text-uppercase" i18n="@@">MPH balance</h5>
          <!-- Heading -->
          <h2 class="mb-2 glowing">{{ mphBalance.toFormat(2) }}</h2>
          <!-- Title -->
          <h5 class="text-uppercase" i18n="@@valueInMph">veMPH balance</h5>
          <!-- Heading -->
          <span class="h2 mb-0 glowing">{{ veBalance.toFormat(2) }}</span>
        </div>
        <div class="col-6">
          <!-- Title -->
          <h5 class="text-uppercase">MPH locked</h5>
          <!-- Heading -->
          <h2 class="mb-2 glowing">{{ mphLocked.toFormat(2) }}</h2>
          <!-- Title -->
          <h5 class="text-uppercase">MPH unlocked</h5>
          <!-- Heading -->
          <h2 class="mb-2 glowing">{{ mphUnlocked.toFormat(2) }}</h2>
          <!-- Button -->
          <button
            type="button"
            class="btn btn-sm btn-bg-gradient"
            *ngIf="mphUnlocked.gt(0)"
            (click)="withdraw()"
          >
            <i class="fe fe-arrow-down mr-2 align-bottom"></i>
            <ng-container i18n="@@">Claim</ng-container>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h4 class="card-header-title" i18n="@@">Gauge Weight Voting</h4>
              <time class="small">
                <span class="d-none d-lg-inline-block">Time Left:</span>
                <span *ngIf="timeLeftCountdown">
                  {{ timeLeftCountdown.days }}D {{ timeLeftCountdown.hours }}H
                  {{ timeLeftCountdown.minutes }}M
                  {{ timeLeftCountdown.seconds }}S
                </span>
              </time>
            </div>

            <div class="card-body">
              <div class="list-group list-group-flush list-group-activity mb-4">
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-auto">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                          i18n="@@"
                        >
                          1
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <div class="form-group mb-2">
                        <label
                          >MPH amount to lock in order to vote for gauge
                          weights</label
                        >
                        <div class="input-group">
                          <input
                            type="text"
                            placeholder="0.00"
                            aria-label=""
                            aria-describedby=""
                            class="form-control form-control-lg"
                            [value]="lockAmount.toFixed()"
                            (input)="setLockAmount($event.target.value)"
                          />
                        </div>
                      </div>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="presetLockAmount(25)"
                      >
                        25%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="presetLockAmount(50)"
                      >
                        50%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="presetLockAmount(75)"
                      >
                        75%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="presetLockAmount(100)"
                      >
                        100%
                      </button>
                      <small class="text-white mb-0">
                        {{ mphBalance.toFormat(4) }} MPH available
                      </small>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="veBalance.gt(0) && lockAmount.lte(0)"
                        [disabled]="true"
                      >
                        Enter an Amount
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="veBalance.gt(0) && lockAmount.gt(mphBalance)"
                        [disabled]="true"
                      >
                        Not Enough MPH Available
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient mb-3"
                        *ngIf="
                          veBalance.gt(0) &&
                          lockAmount.lte(mphBalance) &&
                          lockAmount.gt(mphAllowance)
                        "
                        (click)="approve()"
                      >
                        Approve
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="
                          veBalance.gt(0) &&
                          lockAmount.gt(0) &&
                          lockAmount.lte(mphBalance) &&
                          lockAmount.lte(mphAllowance)
                        "
                        (click)="increaseLockAmount()"
                      >
                        Add to Lock
                      </button>
                      <div class="form-row mb-0">
                        <div class="col-12">
                          <div class="form-group mb-2 mt-3">
                            <label>Lock Duration (days)</label>
                            <div class="input-group align-items-center d-flex">
                              <input
                                type="tel"
                                placeholder="0.00"
                                aria-label=""
                                aria-describedby=""
                                id="lock-period"
                                data-mask="#,##0"
                                data-mask-reverse="true"
                                class="
                                  form-control form-control-lg
                                  pr-1
                                  mr-4 mr-md-2
                                  rounded
                                  mb-3 mb-lg-0
                                "
                                [value]="lockDuration"
                                (input)="setLockDuration($event.target.value)"
                              />
                              <input
                                type="range"
                                min="7"
                                max="1460"
                                step="1"
                                class="custom-range"
                                [value]="lockDuration"
                                (input)="setLockDuration($event.target.value)"
                              />
                            </div>
                          </div>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(7)"
                            *ngIf="maxLockDuration >= 7 * constants.DAY_IN_SEC"
                          >
                            1 week
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(31)"
                            *ngIf="maxLockDuration >= 31 * constants.DAY_IN_SEC"
                          >
                            1 month
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(183)"
                            *ngIf="
                              maxLockDuration >= 183 * constants.DAY_IN_SEC
                            "
                          >
                            6 months
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(365)"
                            *ngIf="
                              maxLockDuration >= 365 * constants.DAY_IN_SEC
                            "
                          >
                            1 year
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(730)"
                            *ngIf="
                              maxLockDuration >= 730 * constants.DAY_IN_SEC
                            "
                          >
                            2 years
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(1095)"
                            *ngIf="
                              maxLockDuration >= 1095 * constants.DAY_IN_SEC
                            "
                          >
                            3 years
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-dark mr-2"
                            (click)="setLockDuration(1460)"
                            *ngIf="
                              maxLockDuration >= 1460 * constants.DAY_IN_SEC
                            "
                          >
                            4 years
                          </button>
                          <div class="row" *ngIf="veBalance.eq(0)">
                            <div class="col">
                              <small class="form-text text-muted my-2"
                                >Min: 7 days | Max: 1460 days</small
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="veBalance.eq(0) && lockAmount.lte(0)"
                        [disabled]="true"
                      >
                        Enter an Amount
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="veBalance.eq(0) && lockAmount.gt(mphBalance)"
                        [disabled]="true"
                      >
                        Not Enough MPH Available
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="
                          veBalance.eq(0) &&
                          lockAmount.lte(mphBalance) &&
                          lockAmount.gt(mphAllowance)
                        "
                        (click)="approve()"
                      >
                        Approve
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="!validLockDuration()"
                        [disabled]="true"
                      >
                        Invalid Lock Duration
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="
                          veBalance.eq(0) &&
                          lockAmount.gt(0) &&
                          lockAmount.lte(mphBalance) &&
                          lockAmount.lte(mphAllowance) &&
                          validLockDuration()
                        "
                        (click)="createLock()"
                      >
                        Create Lock
                      </button>
                      <button
                        type="button"
                        class="btn btn-lg btn-block btn-bg-gradient my-3"
                        *ngIf="veBalance.gt(0) && validLockDuration()"
                        (click)="increaseLockDuration()"
                      >
                        Increase Lock Duration
                      </button>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-auto text-center">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                          i18n="@@"
                        >
                          2
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <div class="form-group">
                        <label for="" i18n="@@">Select a Gauge</label>
                        <select
                          class="custom-select custom-select-lg"
                          data-toggle="select"
                          id=""
                          [(ngModel)]="selectedGauge"
                        >
                          <option [ngValue]="null">Select a Gauge...</option>
                          <option
                            *ngFor="let gauge of gauges"
                            [ngValue]="gauge"
                          >
                            {{ gauge.name }} {{ gauge.address.slice(0, 5) }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-auto text-center">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                          i18n="@@"
                        >
                          3
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <div class="form-group mb-2">
                        <label>Vote Weight (%)</label>
                        <div class="input-group">
                          <input
                            type="text"
                            placeholder="1% (of your voting power)"
                            aria-label=""
                            aria-describedby=""
                            class="form-control form-control-lg"
                            [value]="voteWeight.toFixed(2)"
                            (input)="setVoteWeight($event.target.value)"
                          />
                        </div>
                      </div>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(25)"
                      >
                        25%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(50)"
                      >
                        50%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(75)"
                      >
                        75%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(100)"
                      >
                        100%
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(votePowerAvailable.toNumber())"
                      >
                        Max
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark mr-2"
                        (click)="setVoteWeight(0)"
                      >
                        Reset
                      </button>
                      <small class="text-muted mb-0">
                        {{ votePowerAvailable.toFormat(2) }}% available |
                        {{ votePowerUsed.toFormat(2) }}% used
                      </small>
                      <div class="row mt-2 mb-1">
                        <div class="col">
                          <small class="form-text text-muted mb-0">
                            {{ voteWeight.toFormat(2) }}% of your voting power
                            will be allocated to this gauge
                          </small>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col">
                          <small class="form-text text-muted mb-0"> </small>
                        </div>
                      </div>
                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-bg-gradient mt-3"
                        *ngIf="!selectedGauge"
                        [disabled]="true"
                      >
                        <ng-container i18n="@@">Select a Gauge</ng-container>
                      </button>
                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-bg-gradient mt-3"
                        *ngIf="
                          selectedGauge &&
                          (voteWeight.lt(0) || voteWeight.gt(100))
                        "
                        [disabled]="true"
                      >
                        <ng-container i18n="@@"
                          >Invalid Vote Weight</ng-container
                        >
                      </button>
                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-bg-gradient mt-3"
                        *ngIf="
                          selectedGauge && voteWeight.gt(votePowerAvailable)
                        "
                        [disabled]="true"
                      >
                        <ng-container i18n="@@">
                          Not Enough Vote Power Available
                        </ng-container>
                      </button>
                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-bg-gradient mt-3"
                        *ngIf="
                          selectedGauge &&
                          voteWeight.gt(0) &&
                          voteWeight.lte(100) &&
                          voteWeight.lte(votePowerAvailable)
                        "
                        (click)="vote(selectedGauge.address, voteWeight)"
                        [disabled]="!canVote(selectedGauge.address)"
                      >
                        <ng-container
                          *ngIf="
                            canVote(selectedGauge.address) && veBalance.gt(0)
                          "
                          i18n="@@"
                          >Vote</ng-container
                        >
                        <ng-container
                          *ngIf="
                            !canVote(selectedGauge.address) && veBalance.eq(0)
                          "
                          i18n="@@"
                        >
                          Lock MPH To Be Eligible To Vote
                        </ng-container>
                        <ng-container
                          *ngIf="
                            !canVote(selectedGauge.address) && veBalance.gt(0)
                          "
                          i18n="@@"
                          >You Can Only Vote For The
                          {{ selectedGauge.name }} Gauge Once Every 10
                          Days</ng-container
                        >
                      </button>
                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-bg-gradient mt-3"
                        *ngIf="selectedGauge && voteWeight.eq(0)"
                        (click)="resetVote(selectedGauge.address)"
                        [disabled]="!canVote(selectedGauge.address)"
                      >
                        <ng-container
                          *ngIf="
                            canVote(selectedGauge.address) && veBalance.gt(0)
                          "
                          i18n="@@"
                          >Reset Vote</ng-container
                        >
                        <ng-container
                          *ngIf="
                            !canVote(selectedGauge.address) && veBalance.eq(0)
                          "
                          i18n="@@"
                        >
                          Lock MPH To Be Eligible To Vote
                        </ng-container>
                        <ng-container
                          *ngIf="
                            !canVote(selectedGauge.address) && veBalance.gt(0)
                          "
                          i18n="@@"
                          >You Can Only Vote For The
                          {{ selectedGauge.name }} Gauge Once Every 10
                          Days</ng-container
                        >
                      </button>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card mb-6">
            <div class="card-header">
              <h4 class="card-header-title" i18n="@@">Gauges Weight</h4>
              <a
                class="d-inline-block ml-auto text-primary small"
                href="https://docs.88mph.app"
                i18n="@@help"
                >Help</a
              >
            </div>
            <div class="card-header">
              <div class="row">
                <div class="col-12">
                  <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a
                        class="nav-link text-center active"
                        id="myweight-tab"
                        data-toggle="tab"
                        href="#myweight"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true"
                      >
                        My Weight
                      </a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a
                        class="nav-link text-center"
                        id="protocolweight-tab"
                        data-toggle="tab"
                        href="#protocolweight"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true"
                      >
                        Protocol Weight
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card-body p-0">
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="myweight"
                  role="tabpanel"
                  aria-labelledby="myweight-tab"
                >
                  <div
                    class="
                      chart chart-appended
                      d-flex
                      justify-content-center
                      align-items-center
                    "
                  >
                    <span *ngIf="userChartData" class="w-100">
                      <h2
                        *ngIf="loadingUser"
                        class="d-flex justify-content-center"
                      >
                        Loading...
                      </h2>
                      <canvas
                        *ngIf="!loadingUser"
                        baseChart
                        [chartType]="chartType"
                        [legend]="chartLegend"
                        [options]="chartOptions"
                        [labels]="userChartLabels"
                        [datasets]="userChartData"
                      >
                      </canvas>
                      <!-- User Chart -->
                    </span>
                  </div>
                  <div
                    class="d-flex justify-content-center align-items-center"
                    *ngIf="!loadingUser && votePowerUsed.lte(0)"
                  >
                    You haven't voted for any gauges yet
                  </div>
                  <div class="table-responsive" *ngIf="votePowerUsed.gt(0)">
                    <table
                      mat-table
                      matSort
                      matSortActive="userWeight"
                      matSortDirection="desc"
                      matSortDisableClear
                      [dataSource]="userGauges"
                      (matSortChange)="sortUserGauges($event)"
                      class="table table-sm table-nowrap card-table"
                    >
                      <ng-container matColumnDef="name">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          Gauge
                        </th>
                        <td mat-cell *matCellDef="let gauge">
                          {{ gauge.name }}
                          <a
                            href="{{ gauge.explorerURL }}"
                            target="_blank"
                            class="text-muted"
                          >
                            <i class="fe fe-external-link"></i>
                          </a>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="userWeight">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          Weight
                        </th>
                        <td mat-cell *matCellDef="let gauge">
                          {{ gauge.userWeight.toFormat(2) }}%
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let gauge">
                          <!-- <span
                            ngbTooltip="You can only vote for or reset this gauge once every 10 days"
                          > -->
                          <button
                            class="btn btn-sm border-gradient"
                            (click)="resetVote(gauge.address)"
                            [disabled]="
                              !gauge.canVote || gauge.userWeight.eq(0)
                            "
                          >
                            Reset
                          </button>
                          <!-- </span> -->
                        </td>
                      </ng-container>

                      <tr
                        class="text-muted"
                        mat-header-row
                        *matHeaderRowDef="['name', 'userWeight', 'action']"
                      ></tr>
                      <tr
                        class="mat-table-row"
                        [hidden]="gauge.userWeight.lte(0)"
                        mat-row
                        *matRowDef="
                          let gauge;
                          columns: ['name', 'userWeight', 'action']
                        "
                      ></tr>
                    </table>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="protocolweight"
                  role="tabpanel"
                  aria-labelledby="protocolweight-tab"
                >
                  <div
                    class="
                      chart chart-appended
                      d-flex
                      justify-content-center
                      align-items-center
                    "
                  >
                    <span *ngIf="protocolChartData" class="w-100">
                      <h2
                        *ngIf="loadingGlobal"
                        class="d-flex justify-content-center"
                      >
                        Loading...
                      </h2>
                      <canvas
                        *ngIf="!loadingGlobal"
                        baseChart
                        [chartType]="chartType"
                        [legend]="chartLegend"
                        [options]="chartOptions"
                        [labels]="protocolChartLabels"
                        [datasets]="protocolChartData"
                      >
                      </canvas>
                    </span>
                  </div>
                  <div class="table-responsive">
                    <table
                      mat-table
                      matSort
                      matSortActive="weight"
                      matSortDirection="desc"
                      matSortDisableClear
                      [dataSource]="gauges"
                      (matSortChange)="sortGauges($event)"
                      class="table table-sm table-nowrap card-table"
                    >
                      <ng-container matColumnDef="name">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          Gauge
                        </th>
                        <td mat-cell *matCellDef="let gauge">
                          {{ gauge.name }}
                          <a
                            href="{{ gauge.explorerURL }}"
                            target="_blank"
                            class="text-muted"
                          >
                            <i class="fe fe-external-link"></i>
                          </a>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="weight">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          Weight
                        </th>
                        <td mat-cell *matCellDef="let gauge">
                          {{ gauge.weight.toFormat(2) }}%
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="reward">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                          Future MPH APR
                        </th>
                        <td mat-cell *matCellDef="let gauge">
                          <!-- {{ gauge.reward.toFormat(2) }} -->
                          <h5 class="mb-1 glowing">00.00% to 00.00%</h5>
                          <span class="text-secondary small">
                            00.00% to 00.00%
                          </span>
                        </td>
                      </ng-container>

                      <tr
                        class="text-muted"
                        mat-header-row
                        *matHeaderRowDef="['name', 'weight', 'reward']"
                      ></tr>
                      <tr
                        class="mat-table-row"
                        mat-row
                        *matRowDef="
                          let gauge;
                          columns: ['name', 'weight', 'reward']
                        "
                      ></tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <small
                class="mb-0"
                placement="top"
                ngbTooltip=""
                i18n-ngbTooltip="@@"
              >
                <ng-container i18n="@@"
                  >Next distribution taking effect in</ng-container
                >
                <span *ngIf="timeLeftCountdown">
                  {{ timeLeftCountdown.days }}D {{ timeLeftCountdown.hours }}H
                  {{ timeLeftCountdown.minutes }}M
                  {{ timeLeftCountdown.seconds }}S
                </span>
              </small>
            </div>
          </div>
          <div class="card mb-6">
            <div class="card-header">
              <h4 class="card-header-title" i18n="@@lockMphForVeMph">
                veMPH stats
              </h4>
              <a
                class="d-inline-block ml-auto text-primary small"
                href="https://docs.88mph.app"
                i18n="@@help"
                >Help</a
              >
            </div>
            <div class="card-body pr-0">
              <div class="table-responsive py-2 pr-4">
                <table class="table mb-0">
                  <tbody>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span
                          i18n-ngbTooltip="@@"
                          placement="top"
                          ngbTooltip=""
                        >
                          Total veMPH:
                          <i class="fe fe-info ml-1 align-bottom"></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">{{ veTotal.toFormat(2) }}</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span
                          i18n-ngbTooltip="@@"
                          placement="top"
                          ngbTooltip=""
                        >
                          Total MPH vote-locked
                          <i class="fe fe-info ml-1 align-bottom"></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{ totalMPHLocked.toFormat(2) }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span
                          i18n-ngbTooltip="@@"
                          placement="top"
                          ngbTooltip=""
                        >
                          % of circ. MPH Locked
                          <i class="fe fe-info ml-1 align-bottom"></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{
                            totalMPHLocked
                              .div(circulatingMPHSupply)
                              .times(100)
                              .toFormat(2)
                          }}%
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span
                          i18n-ngbTooltip="@@"
                          placement="top"
                          ngbTooltip=""
                        >
                          % of tot. MPH Locked
                          <i class="fe fe-info ml-1 align-bottom"></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{
                            totalMPHLocked
                              .div(totalMPHSupply)
                              .times(100)
                              .toFormat(2)
                          }}%
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span
                          i18n-ngbTooltip="@@"
                          placement="top"
                          ngbTooltip=""
                        >
                          Avg. lock time (years)
                          <i class="fe fe-info ml-1 align-bottom"></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{ averageLock.toFormat(2) }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span
                          i18n-ngbTooltip="@@"
                          placement="top"
                          ngbTooltip=""
                        >
                          Est. yield per month
                          <i class="fe fe-info ml-1 align-bottom"></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">$587,745.04</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span
                          i18n-ngbTooltip="@@"
                          placement="top"
                          ngbTooltip="Annual Percentage Rate. Assumes 4 veMPH = 1 MPH (i.e. 1 MPH locked 4 years)"
                        >
                          veMPH holder APR
                          <i class="fe fe-info ml-1 align-bottom"></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">0.00%</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-2 text-white border-0 small" i18n="@@">
                        <span
                          i18n-ngbTooltip="@@"
                          placement="top"
                          ngbTooltip=""
                        >
                          Yearly earnings per 1 veMPH
                          <i class="fe fe-info ml-1 align-bottom"></i>
                        </span>
                      </td>
                      <td
                        class="px-0 py-2 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">$0.00</h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer">
              <small
                class="mb-0"
                placement="top"
                ngbTooltip="88mph Protocol revenues are distributed to MPH stakers on a bi-weekly basis via a buy-back mechansim. 88mph governance decides the percentage of revenues distributed, by default, it's 100%."
                i18n-ngbTooltip="@@nextDistributionText"
              >
                <ng-container i18n="@@nextDistributionOn"
                  >Next earnings distribution in</ng-container
                >
                02D:07H:49M:10S
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
