<div class="card-header">
  <!-- Title -->
  <h4 class="mb-0">Latest deposits</h4>
  <div class="input-group input-group-sm w-auto">
    <select
      [(ngModel)]="displayIndex"
      data-toggle="select"
      class="custom-select"
    >
      <option value="{{ index + 7 * constants.DAY_IN_SEC }}">0D</option>
      <option value="{{ index + 6 * constants.DAY_IN_SEC }}">1D</option>
      <option value="{{ index + 5 * constants.DAY_IN_SEC }}">2D</option>
      <option value="{{ index + 4 * constants.DAY_IN_SEC }}">3D</option>
      <option value="{{ index + 3 * constants.DAY_IN_SEC }}">4D</option>
      <option value="{{ index + 2 * constants.DAY_IN_SEC }}">5D</option>
      <option value="{{ index + 1 * constants.DAY_IN_SEC }}">6D</option>
      <option value="{{ index + 0 * constants.DAY_IN_SEC }}">7D</option>
    </select>
  </div>
</div>

<div class="card-body">
  <!-- Title -->
  <span class="d-block h5 text-muted text-uppercase mb-3">
    Since {{ timestampToDateString(this.displayIndex, true) }}
  </span>

  <!-- List group -->

  <div class="list-group list-group-flush list-group-activity my-n3">
    <ng-container *ngFor="let deposit of allDeposits">
      <div
        class="list-group-item"
        *ngIf="deposit.depositTimestamp >= displayIndex"
      >
        <div class="row">
          <div class="col-auto">
            <!-- Avatar -->
            <div class="avatar avatar-sm avatar-online">
              <img
                class="avatar-img rounded-circle"
                src="{{ deposit.iconPath }}"
                alt="{{ deposit.stablecoinSymbol }} icon"
              />
            </div>
          </div>
          <div class="col ms-n2">
            <!-- Heading -->
            <h5 class="mb-1">
              {{ deposit.depositAmount.toFormat(2) }}
              {{ deposit.stablecoinSymbol }} deposited on {{ deposit.protocol }}
            </h5>

            <!-- Text -->
            <p class="small text-secondary mb-0">
              Earning {{ deposit.apr.toFormat(2) }}% fixed APR until
              {{ timestampToDateString(deposit.maturationTimestamp) }}
            </p>
          </div>
        </div>
        <!-- / .row -->
      </div>
    </ng-container>
  </div>
</div>
