<div class="container mt-4 mb-6">
  <div class="row">
    <div class="col-12">
      <h1 class="title-bg-gradient display-2">
        Provide liquidity & boost your yield
      </h1>
      <p class="text-white font-weight-bold mb-5 lead">
        Provide liquidity on our trading pools, and get rewarded by doing so
        from trading fees and liquidity mining rewards.
        <a class="text-primary" href="https://docs.88mph.app/" target="_blank">
          Learn more <i class="fe fe-external-link"></i>
        </a>
      </p>
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="card">
            <div class="card-header">
              <h4 class="card-header-title">
                Provide liquidity - Boost your yield
              </h4>
            </div>
            <div class="card-body">
              <div class="list-group list-group-flush list-group-activity mb-4">
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-auto">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                        >
                          1
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <div class="form-group">
                        <label for="LiquidityPool"
                          >Select a liquidity pool</label
                        >
                        <select
                          [(ngModel)]="selectedPool"
                          class="custom-select custom-select-lg"
                          data-toggle="select"
                          id="LiquidityPool"
                          (ngModelChange)="setStakeAmount(0)"
                        >
                          <option
                            *ngFor="let pool of liquidityPools"
                            [ngValue]="pool"
                          >
                            {{ pool }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-auto text-center">
                      <div class="avatar avatar-sm">
                        <div
                          class="
                            avatar-title
                            font-size-lg
                            bg-dark
                            rounded-circle
                            text-white
                            border-gradient
                          "
                        >
                          2
                        </div>
                      </div>
                    </div>
                    <div class="col ml-n2">
                      <!-- display if UNI-v2 pool option selected -->
                      <div class="form-group">
                        <label
                          >Stake LP tokens <br />
                          <small
                            class="text-muted"
                            *ngIf="selectedPool == 'Uniswap v2'"
                            >🦄
                            <a
                              class="text-primary"
                              href="https://app.uniswap.org/#/add/v2/0x8888801aF4d980682e47f1A9036e589479e835C5/ETH"
                              target="_blank"
                              >Provide liquidity</a
                            >
                            to the Uniswap MPH-ETH pair and earn trading fees.
                          </small>
                          <small
                            class="text-muted"
                            *ngIf="selectedPool == 'Bancor'"
                            >Provide liquidity to the Bancor MPH-BNT pair and
                            earn trading fees.
                            <a
                              class="text-primary"
                              href="https://app.bancor.network/eth/portfolio/stake/add/single/0xAbf26410b1cfF45641aF087eE939E52e328ceE46"
                              target="_blank"
                              >Manage liquidity on Bancor</a
                            >
                          </small>
                          <small
                            class="text-muted"
                            *ngIf="selectedPool == 'SushiSwap'"
                            >🍣
                            <a
                              class="text-primary"
                              href="https://analytics.sushi.com/pairs/0xb2c29e311916a346304f83aa44527092d5bd4f0f"
                              target="_blank"
                              >Provide liquidity</a
                            >
                            to the SushiSwap MPH-ETH pair and earn SUSHI + MPH
                          </small>
                        </label>
                        <div
                          class="form-group"
                          *ngIf="selectedPool == 'Bancor'"
                        >
                          <label for="LiquidityPool">Select a token</label>
                          <select
                            [(ngModel)]="bancorSelectedToken"
                            class="custom-select custom-select-lg"
                            data-toggle="select"
                            id="LiquidityToken"
                            (ngModelChange)="setStakeAmount(0)"
                          >
                            <option
                              *ngFor="let token of bancorTokens"
                              [ngValue]="token"
                            >
                              {{ token }}
                            </option>
                          </select>
                        </div>
                        <div class="input-group mb-2">
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="0.00"
                            aria-label="stake-amount"
                            [value]="stakeAmount.toString()"
                            (input)="setStakeAmount($event.target.value)"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-lg border-gradient"
                              *ngIf="selectedPool == 'Uniswap v2'"
                              type="button"
                              (click)="
                                this.setStakeAmount(
                                  this.unstakedMPHBalance.toFixed(18)
                                )
                              "
                            >
                              Max
                            </button>
                            <button
                              class="btn btn-lg border-gradient"
                              *ngIf="selectedPool == 'SushiSwap'"
                              type="button"
                              (click)="
                                this.setStakeAmount(
                                  this.sushiUnstakedLPBalance.toFixed(18)
                                )
                              "
                            >
                              Max
                            </button>
                            <button
                              class="btn btn-lg border-gradient"
                              *ngIf="
                                selectedPool == 'Bancor' &&
                                bancorSelectedToken == 'MPH'
                              "
                              type="button"
                              (click)="
                                this.setStakeAmount(
                                  this.bancorUnstakedMPHBalance.toFixed(18)
                                )
                              "
                            >
                              Max
                            </button>
                            <button
                              class="btn btn-lg border-gradient"
                              *ngIf="
                                selectedPool == 'Bancor' &&
                                bancorSelectedToken == 'BNT'
                              "
                              type="button"
                              (click)="
                                this.setStakeAmount(
                                  this.bancorUnstakedBNTBalance.toFixed(18)
                                )
                              "
                            >
                              Max
                            </button>
                          </div>
                        </div>
                        <small
                          class="form-text text-white"
                          *ngIf="selectedPool == 'Uniswap v2'"
                          >{{ unstakedMPHBalance.toFormat(4) }} MPH-ETH UNI-V2
                          available</small
                        >
                        <small
                          class="form-text text-white"
                          *ngIf="selectedPool == 'SushiSwap'"
                          >{{ sushiUnstakedLPBalance.toFormat(4) }} MPH-ETH SLP
                          available</small
                        >
                        <small
                          class="form-text text-white"
                          *ngIf="
                            selectedPool == 'Bancor' &&
                            bancorSelectedToken == 'MPH'
                          "
                          >{{ bancorUnstakedMPHBalance.toFormat(4) }} MPH
                          available</small
                        >
                        <small
                          class="form-text text-white"
                          *ngIf="
                            selectedPool == 'Bancor' &&
                            bancorSelectedToken == 'BNT'
                          "
                          >{{ bancorUnstakedBNTBalance.toFormat(4) }} BNT
                          available</small
                        >
                      </div>
                      <!-- display if ZCB pool option selected -->
                      <div class="form-group d-none">
                        <label>Add base asset</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <span class="input-group-text small">USDC</span>
                          </div>
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="0.00"
                            aria-label="stake-amount"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-lg border-gradient"
                              type="button"
                            >
                              Max
                            </button>
                          </div>
                        </div>
                        <small class="form-text text-white"
                          >0.00 tkn available</small
                        >
                      </div>
                      <!-- display if ZCB pool option selected -->
                      <div class="form-group d-none">
                        <label>Add ZCB asset</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <span class="input-group-text small"
                              >USDC-ZCB0821</span
                            >
                          </div>
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="0.00"
                            aria-label="stake-amount"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-lg border-gradient"
                              type="button"
                            >
                              Max
                            </button>
                          </div>
                        </div>
                        <small class="form-text text-white"
                          >0.00 tkn available</small
                        >
                      </div>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
              </div>
              <div class="table-responsive p-4">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="px-0 py-1 text-white border-0 small">
                        Staked LP tokens
                      </td>
                      <td
                        class="px-0 py-1 text-white text-right border-0 small"
                      >
                        <h4
                          class="mb-0 glowing"
                          *ngIf="selectedPool == 'Uniswap v2'"
                        >
                          {{ stakedMPHBalance.toFormat(4) }}
                        </h4>
                        <h4
                          class="mb-0 glowing"
                          *ngIf="selectedPool == 'SushiSwap'"
                        >
                          {{ sushiStakedLPBalance.toFormat(4) }}
                        </h4>
                      </td>
                    </tr>
                    <tr *ngIf="selectedPool == 'Bancor'">
                      <td class="px-0 pl-3 py-1 text-white border-0 small">
                        MPH
                      </td>
                      <td
                        class="px-0 py-1 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{ bancorStakedMPHBalance.toFormat(4) }}
                        </h4>
                      </td>
                    </tr>
                    <tr *ngIf="selectedPool == 'Bancor'">
                      <td class="px-0 pl-3 py-1 text-white border-0 small">
                        BNT
                      </td>
                      <td
                        class="px-0 py-1 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{ bancorStakedBNTBalance.toFormat(4) }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-1 text-white border-0 small">
                        Staked LP Value
                      </td>
                      <td
                        class="px-0 py-1 text-white text-right border-0 small"
                      >
                        <h4
                          class="mb-0 glowing"
                          *ngIf="selectedPool == 'Uniswap v2'"
                        >
                          ${{
                            stakedMPHBalance.times(mphLPPriceUSD).toFormat(4)
                          }}
                        </h4>
                        <h4
                          class="mb-0 glowing"
                          *ngIf="selectedPool == 'SushiSwap'"
                        >
                          ${{
                            sushiStakedLPBalance
                              .times(sushiLPPriceUSD)
                              .toFormat(4)
                          }}
                        </h4>
                        <h4
                          class="mb-0 glowing"
                          *ngIf="selectedPool == 'Bancor'"
                        >
                          ${{
                            bancorStakedMPHBalance
                              .times(mphPriceUSD)
                              .plus(bancorStakedBNTBalance.times(bntPriceUSD))
                              .toFormat(4)
                          }}
                        </h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0 py-1 text-white border-0 small">
                        <strong>Unclaimed Rewards </strong>
                      </td>
                      <td
                        class="px-0 py-1 text-white text-right border-0 small"
                      >
                        <h4
                          class="mb-0 glowing"
                          *ngIf="selectedPool == 'Uniswap v2'"
                        >
                          {{ claimableRewards.toFormat(4) }} MPH
                        </h4>
                        <h4
                          class="mb-0 glowing"
                          *ngIf="selectedPool == 'Bancor'"
                        >
                          {{ bancorClaimableRewards.toFormat(4) }} BNT
                        </h4>
                      </td>
                    </tr>
                    <tr *ngIf="selectedPool == 'SushiSwap'">
                      <td class="px-0 pl-3 py-1 text-white border-0 small">
                        SUSHI
                      </td>
                      <td
                        class="px-0 py-1 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{ sushiClaimableRewards.toFormat(4) }} SUSHI
                        </h4>
                      </td>
                    </tr>
                    <tr *ngIf="selectedPool == 'SushiSwap'">
                      <td class="px-0 pl-3 py-1 text-white border-0 small">
                        MPH
                      </td>
                      <td
                        class="px-0 py-1 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{ mphClaimableRewards.toFormat(4) }} MPH
                        </h4>
                      </td>
                    </tr>
                    <tr *ngIf="selectedPool != 'Bancor'">
                      <ng-container
                        *ngIf="selectedPool == 'SushiSwap' || active"
                      >
                        <td class="px-0 py-1 text-white border-0 small">
                          <strong>Variable APR </strong>
                        </td>
                        <td
                          class="px-0 py-1 text-white text-right border-0 small"
                        >
                          <h4
                            class="mb-0 glowing"
                            *ngIf="selectedPool == 'Uniswap v2'"
                          >
                            {{ yearlyROI.toFormat(4) }}%
                          </h4>
                          <h4
                            class="mb-0 glowing"
                            *ngIf="selectedPool == 'SushiSwap'"
                          >
                            {{ sushiYearlyROI.toFormat(4) }}%
                          </h4>
                        </td>
                      </ng-container>
                    </tr>
                    <tr *ngIf="selectedPool == 'Bancor' && bancorActive">
                      <td class="px-0 py-1 text-white border-0 small">
                        <strong>Variable APR to provide MPH </strong>
                      </td>
                      <td
                        class="px-0 py-1 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{ bancorMPHYearlyROI.toFormat(4) }}%
                        </h4>
                      </td>
                    </tr>
                    <tr *ngIf="selectedPool == 'Bancor' && bancorActive">
                      <td class="px-0 py-1 text-white border-0 small">
                        <strong>Variable APR to provide BNT </strong>
                      </td>
                      <td
                        class="px-0 py-1 text-white text-right border-0 small"
                      >
                        <h4 class="mb-0 glowing">
                          {{ bancorBNTYearlyROI.toFormat(4) }}%
                        </h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="px-0 py-3 alert text-center text-warning border-warning"
                *ngIf="!bancorActive && selectedPool == 'Bancor'"
              >
                Bancor liquidity mining has ended. You can continue to stake MPH
                and BNT to earn trading fees.
              </div>
              <div
                class="px-0 py-3 alert text-center text-warning border-warning"
                *ngIf="!active && selectedPool == 'Uniswap v2'"
              >
                Uniswap v2 liquidity mining has ended. You can continue to
                provide liquidity to earn trading fees.
              </div>
              <button
                type="button"
                class="btn btn-lg btn-block btn-bg-gradient mb-3"
                (click)="stake()"
                [disabled]="!canContinue() || !canStake() || wallet.watching"
              >
                <i class="fe fe-arrow-down mr-2 align-bottom"></i>Stake
              </button>
              <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                  <button
                    type="button"
                    class="btn btn-block btn-lg border-gradient"
                    (click)="claim()"
                    [disabled]="
                      !canContinue() || !canClaim() || wallet.watching
                    "
                  >
                    <i class="fe fe-arrow-up mr-2 align-bottom"></i>Claim
                  </button>
                </div>
                <div class="col-12 col-lg-6">
                  <button
                    type="button"
                    class="btn btn-block btn-lg border-gradient"
                    (click)="openUnstakeModal()"
                    [disabled]="
                      !canContinue() || !canUnstake() || wallet.watching
                    "
                  >
                    <i class="fe fe-arrow-up mr-2 align-bottom"></i>Unstake
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h4 class="card-header-title">Things you can do</h4>
            </div>
            <div class="card-body p-0">
              <div class="list-group list-group-flush">
                <a
                  href="/stake"
                  class="list-group-item list-group-item-action px-4"
                >
                  <h4 class="mb-1">Stake MPH for xMPH</h4>
                  <small class="text-muted"
                    >By staking your MPH, you are eligible to collect two kinds
                    of rewards distributed as MPH.</small
                  >
                  <small class="text-primary ml-2">Learn more</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
