<!-- HEADER -->
<div class="header pt-4">
  <div class="container-fluid">

    <!-- Body -->
    <div class="header-body border-0 p-0">
      <div class="row align-items-end">
        <div class="col">
          <h1 class="mb-5">MPH liquidity mining program</h1>
          <div class="card-deck my-5">
            <div class="card mb-4 mb-lg-0">
              <div class="card-body py-0">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                      🦄 <a class="text-purple"
                        href="https://uniswap.exchange/add/0x8888801aF4d980682e47f1A9036e589479e835C5/ETH"
                        target="_blank">Provide
                        liquidity</a> to the Uniswap MPH-ETH pair and earn MPH
                    </h5>
                    <!-- Heading -->
                    <h2 class="mt-4 mb-2 glowing pl-3">
                      {{stakedMPHBalance.toFormat(4)}} MPH-ETH UNI-V2
                    </h2>
                    <h5 class="mb-3 text-white pl-3">
                      (${{stakedMPHBalance.times(mphLPPriceUSD).toFormat(4)}})
                      ({{stakedMPHPoolProportion.toFormat(4)}}% of the pool)
                    </h5>
                    <button type="button" class="card-link small ml-3 px-1" (click)="openStakeModal()" [disabled]="wallet.watching">
                      <i class="fe fe-arrow-down mr-2 align-bottom"></i>Stake
                    </button>
                    <button type="button" class="card-link small ml-3 px-1" (click)="openUnstakeModal()" [disabled]="wallet.watching">
                      <i class="fe fe-arrow-up mr-2 align-bottom"></i>Unstake
                    </button>
                    <button type="button" class="card-link small ml-3 px-1" (click)="unstakeAndClaim()"
                      [disabled]="!canContinue() || wallet.watching">
                      <i class="fe fe-arrow-up mr-2 align-bottom"></i>Unstake all & Claim
                    </button>
                    <div class="row pl-3 mt-4">
                      <div class="col-12 col-lg-6">
                        <h5 class="text-uppercase">
                          Claimable rewards
                        </h5>
                        <!-- Heading -->
                        <h2 class="mb-3 glowing">
                          {{claimableRewards.toFormat(4)}} MPH
                        </h2>
                        <h5 class="mb-3 text-white">
                          ${{claimableRewards.times(mphPriceUSD).toFormat(4)}} /
                          ${{rewardPerDay.times(mphPriceUSD).toFormat(4)}}/day / {{rewardPerDay.toFormat(4)}} MPH/day
                        </h5>
                        <button type="button" class="card-link small px-1" (click)="claim()"
                          [disabled]="!canContinue() || wallet.watching">
                          <i class="fe fe-arrow-up mr-2 align-bottom"></i>Claim
                        </button>
                      </div>
                      <div class="col-12 col-lg-6">
                        <h5 class="text-uppercase">
                          Estimated ROI (y)
                        </h5>
                        <!-- Heading -->
                        <h2 class="mb-3 glowing">
                          {{yearlyROI.toFormat(4)}}%
                        </h2>
                        <h5 class="mb-2 text-white">
                          {{monthlyROI.toFormat(4)}}% (m) / {{weeklyROI.toFormat(4)}}% (w) / {{dailyROI.toFormat(4)}}%
                          (d)
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col text-left">
                            <h3 class="text-white">Total value staked</h3>
                          </div>
                          <div class="col text-right">
                            <h3 class="glowing">
                              ${{totalStakedMPHBalance.times(mphLPPriceUSD).toFormat(4)}}</h3>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col text-left">
                            <h3 class="text-white">Distribution period</h3>
                          </div>
                          <div class="col text-right">
                            <h3 class="glowing">
                              {{rewardStartTime}} to {{rewardEndTime}}
                            </h3>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col text-left">
                            <h3 class="text-white">Total reward</h3>
                          </div>
                          <div class="col text-right">
                            <h3 class="glowing">
                              {{totalRewardPerSecond.times(PERIOD).times(constants.DAY_IN_SEC).toFormat(0)}} MPH</h3>
                            <h5 class="text-white">
                              ${{totalRewardPerSecond.times(PERIOD).times(constants.DAY_IN_SEC).times(mphPriceUSD).toFormat(4)}}
                            </h5>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col text-left">
                            <h3 class="text-white">Daily reward</h3>
                          </div>
                          <div class="col text-right">
                            <h3 class="glowing">
                              {{totalRewardPerSecond.times(constants.DAY_IN_SEC).toFormat(4)}} MPH
                            </h3>
                            <h5 class="text-white">
                              ${{totalRewardPerSecond.times(constants.DAY_IN_SEC).times(mphPriceUSD).toFormat(4)}}
                            </h5>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col text-left">
                            <h3 class="text-white">MPH price</h3>
                          </div>
                          <div class="col text-right">
                            <h3 class="glowing">${{mphPriceUSD.toFormat(4)}}</h3>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-deck my-4">
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  <a class="text-purple"
                    href="https://app.bancor.network/eth/portfolio/stake/add/single/0xAbf26410b1cfF45641aF087eE939E52e328ceE46"
                    target="_blank">Provide
                    liquidity</a> to the Bancor MPH-BNT pair and earn BNT
                </h5>
                <div class="row">
                  <div class="col">
                    <!-- Heading -->
                    <h2 class="mt-4 mb-2 glowing pl-3">
                      {{bancorStakedMPHBalance.toFormat(4)}} MPH in MPH-BNT
                    </h2>
                    <h5 class="mb-3 text-white pl-3">
                      (${{bancorStakedMPHBalance.times(mphPriceUSD).toFormat(4)}})
                      ({{bancorStakedMPHPoolProportion.toFormat(4)}}% of the pool)
                    </h5>
                  </div>
                  <div class="col">
                    <!-- Heading -->
                    <h2 class="mt-4 mb-2 glowing pl-3">
                      {{bancorStakedBNTBalance.toFormat(4)}} BNT in MPH-BNT
                    </h2>
                    <h5 class="mb-3 text-white pl-3">
                      (${{bancorStakedBNTBalance.times(bntPriceUSD).toFormat(4)}})
                      ({{bancorStakedBNTPoolProportion.toFormat(4)}}% of the pool)
                    </h5>
                  </div>
                </div>
                <a class="text-purple pl-3"
                  href="https://app.bancor.network/eth/portfolio" target="_blank">Manage
                  liquidity <i class="fe fe-external-link ml-2 align-bottom"></i></a>
                <div class="row pl-3 mt-4">
                  <div class="col-12 col-lg-6">
                    <h5 class="text-uppercase">
                      Claimable rewards
                    </h5>
                    <!-- Heading -->
                    <h2 class="mb-3 glowing">
                      {{bancorClaimableRewards.toFormat(4)}} BNT
                    </h2>
                    <h5 class="mb-3 text-white">
                      ${{bancorClaimableRewards.times(bntPriceUSD).toFormat(4)}}
                    </h5>
                    <a class="text-purple"
                      href="https://app.bancor.network/eth/portfolio"
                      target="_blank">Manage rewards <i class="fe fe-external-link ml-2 align-bottom"></i></a>
                  </div>
                  <div class="col-12 col-lg-6">
                    <h5 class="text-uppercase">
                      Estimated ROI (y) to provide
                    </h5>
                    <!-- Heading -->
                    <h2 class="mb-1 glowing">
                      MPH {{bancorMPHYearlyROI.toFormat(4)}}%
                    </h2>
                    <!-- Heading -->
                    <h2 class="mb-3 glowing">
                      BNT {{bancorBNTYearlyROI.toFormat(4)}}%
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body pt-0">
                <!-- Title -->
                <h5 class="text-uppercase text-amber mt-n3 bg-dark pl-3">
                  🍣 <a class="text-purple"
                    href="https://analytics.sushi.com/pairs/0xb2c29e311916a346304f83aa44527092d5bd4f0f"
                    target="_blank">Provide
                    liquidity</a> to the SushiSwap MPH-ETH pair and earn SUSHI
                </h5>
                <!-- Heading -->
                <h2 class="mt-4 mb-2 glowing pl-3">
                  {{sushiStakedLPBalance.toFormat(4)}} MPH-ETH SLP
                </h2>
                <h5 class="mb-3 text-white pl-3">
                  (${{sushiStakedLPBalance.times(sushiLPPriceUSD).toFormat(4)}})
                  ({{sushiStakedLPPoolProportion.toFormat(4)}}% of the pool)
                </h5>
                <a class="text-purple pl-3"
                  href="https://analytics.sushi.com/pairs/0xb2c29e311916a346304f83aa44527092d5bd4f0f" target="_blank">Manage
                  liquidity <i class="fe fe-external-link ml-2 align-bottom"></i></a>
                <div class="row pl-3 mt-4">
                  <div class="col-12 col-lg-6">
                    <h5 class="text-uppercase">
                      Claimable rewards
                    </h5>
                    <!-- Heading -->
                    <h2 class="mb-3 glowing">
                      {{sushiClaimableRewards.toFormat(4)}} SUSHI
                    </h2>
                    <h5 class="mb-3 text-white">
                      ${{sushiClaimableRewards.times(sushiPriceUSD).toFormat(4)}} /
                      ${{sushiRewardPerDay.times(sushiPriceUSD).toFormat(4)}}/day / {{sushiRewardPerDay.toFormat(4)}}
                      SUSHI/day
                    </h5>
                    <a class="text-purple"
                      href="https://app.sushi.com/vesting"
                      target="_blank">Claim <i class="fe fe-external-link ml-2 align-bottom"></i></a>
                  </div>
                  <div class="col-12 col-lg-6">
                    <h5 class="text-uppercase">
                      Estimated ROI (y)
                    </h5>
                    <!-- Heading -->
                    <h2 class="mb-3 glowing">
                      {{sushiYearlyROI.toFormat(4)}}%
                    </h2>
                    <h5 class="mb-2 text-white">
                      {{sushiMonthlyROI.toFormat(4)}}% (m) / {{sushiWeeklyROI.toFormat(4)}}% (w) /
                      {{sushiDailyROI.toFormat(4)}}% (d)
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->

    </div> <!-- / .header-body -->

  </div>
</div> <!-- / .header -->
